<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<title>Fundación Merced Querétaro - Sinergias </title>
<!--[if lt IE 9]>
	<script src="
/static/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
	<script src="
/static/js/mq.js"></script>
<![endif]-->
 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width">
<!-- Css Files Start -->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" /><!-- All css -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" /><!-- Bootstrap Css -->
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="
/static/css/customIE.css" /><![endif]-->
<link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" /><!-- Font Awesome Css -->
<link href="/static/css/font-awesome-ie7.css" rel="stylesheet" type="text/css" /><!-- Font Awesome iE7 Css -->
<!-- Css Files End -->

	<!-- Social Icons no JS -->
	<noscript>
			<link rel="stylesheet" type="text/css" href="/static/css/nj.css" />
	</noscript>
	<!-- Social Icons no JS -->

	<!-- Color Switcher -->
		<link href="/static/css/switcher.css" rel="stylesheet" type="text/css" />
			<!--Skin -->
			<!-- skins -->
			<link rel="stylesheet" id="layout" href="/static/css/skins/green.css" type="text/css" media="all">

	<!-- end of Color Switcher -->
<!-- pusher -->
<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
</head>
<body>
<!-- Start Main Wrapper -->
<div class="wrapper">
<!-- Start of Header -->
	<header>
  <!-- Start Main Header -->


  <section class="logo_container">
		  <section class="container-fluid container">
				<section class="row-fluid">
					  <section class="span4">
							<h1 id="logo">
								<a href="{% url "index" %}">
									<img src="
/static/images/logo.png" alt="Be Human" />
								</a>
							</h1>
						</section>

						{% block asistida %}
					<a href="" onclick="getMunicipios(0);" data-toggle="modal" data-target="#modal_asistida"  data-placement="bottom"  title="Criterio de busqueda de OSC's" >
						<section class="span3 pull-right">
								<figure class="charity_counter_wrapper">
										<section class="span8">
											<div class="Sinergia">
												Sinergia Avanzada
												<i class="icon-white icon-search"></i>
											</div>
										</section>
										<section class="span1 event_more pull-right">  
										</section>
								</figure>
						</section>
					</a>
                        {% endblock %}
				</section>
			</section>
  </section>
  
	<!-- Main Nav Bar -->
	{% block menu %}
			<nav id="nav">
				<section class="container-fluid container">
					<section class="row-fluid">
			  <div class="navbar navbar-inverse">
				<div class="navbar-inner">
				  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				  <div class="nav-collapse collapse">
					<ul class="nav">

					 <li {% if index %}class="active"{% endif %} > <a href="{% url "index" %}"> Inicio </a> </li>
					 <li {% if directorio %}class="active"{% endif %}> <a   href="{% url "oscs" %}"> Directorio</b> </a></li>
					 <li> <a href="/accounts/signup/"> Afiliación de OSC</b> </a></li>
					 <li> <a href="/accounts/login/">Ingresa a tu Perfil</b></a></li>
					 <li> <a href="http://www.fundacionmerced.org/quienes-somos/aviso-de-privacidad.html">Aviso de Privacidad</b></a></li>

				  </div>
				  <!--/.nav-collapse -->
				</div>
				<!-- /.navbar-inner -->
			  </div>
			  
			  <!-- /.navbar -->
					</section>
				</section>
			</nav>
			
            {% endblock %}
	<!-- End Main Nav Bar -->
	 </header>
<!-- End of Header -->


{% block content %}

{% endblock %}


<div id="modalContacto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">Fundación Merced Querétaro AC</h3>
  	</div>
  	<div class="modal-body">
    		<table class="table table-striped">
    				<tr>
    					<td>Telefono: </td>
    					<td>442 2233623 / 442 2481735</td>
    				</tr>
    				<tr>
    					<td>Correo: </td>
    					<td>info@fundacionmerced.org</td>
    				</tr>
    				<tr>
    					<td>Dirección: </td>
    					<td>Cerro de la Estrella 133, Colinas del Cimatario, Querétaro, Querétaro</td>
    				</tr>
    				<tr>
    					<td>Sitio Web: </td>
    					<td><a href="http://www.fundacionmerced.org">www.fundacionmerced.org</a></td>
    				</tr>

    		</table>
  			<div class="modal-footer">
    			<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
  			</div>    
  	</div>
</div>
<!-- Start of Footer -->
	<footer id="footer" class="mtp">



	<!-- Start of Footer 2 -->
		<section class="footer_2">
		<section class="container-fluid container">
			<section class="row-fluid">
						<figure class="span6 footer_left">  <i class="icon-mobile-phone"></i> <span> 442 2233623 / 442 2481735 </span> <i class="icon-envelope-alt"></i> <span> info@fundacionmerced.org </span>  </figure>
						<figure class="span6 footer_right">
						<div id="socialicons">
 							<a data-placement="top" data-rel="tooltip" title="Join us on Facebook" id="social_facebook" class="social_active" href="#" >		<span>	</span></a>
							<a data-placement="top" data-rel="tooltip" title="Follow us on Twitter" id="social_twitter" class="social_active" href="#"  >	<span>	</span></a>
						</div>
						</figure>

			</section>
		</section>
	</section>
	<!-- End of Footer 2 -->



	<!-- Start of Footer 3 -->
		<section class="footer_3">
		<section class="container-fluid container">
			<section class="row-fluid">

			<figure class="span6 footer_left">

				<ul class="footer_nav">
				<li> <a href="{% url "index" %}">	Inicio 		</a> </li>
				<li> <a href="{% url "oscs" %}"> Directorio	</a> </li>
				<li> <a href="#modalContacto" data-toggle="modal"> Contacto</a> </li>
				<li> <a href="http://www.fundacionmerced.org/quienes-somos/aviso-de-privacidad.html"> Aviso de privacidad </a> </li>
				</ul>
				<p> Copyright © 2014 - Fundación Merced Querétaro </p>

				</figure>

			<figure class="span6 footer_right">



			</figure>
			</section>
		</section>
	</section>
	<!-- End of Footer 3 -->

	</footer>
<!-- End of Footer -->
</div>
<!-- End Main Wrapper -->




{% block modal_asistida %}

<!-- BEGIN MODAL -->
<div class="modal hide fade" id="modal_asistida" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
	<!-- BEGIN MODAL-DIALOG -->	
	<div class="modal-dialog">

		<!-- BEGIN MODAL-CONTENT -->
    	<div class="modal-content">

    		<!-- BEGIN MODAL-HEADER -->
      		<div class="modal-header">
      		
		        <button type="button" class="close" data-dismiss="modal">
			        <span aria-hidden="true">
			        	&times;
			        </span>
			        <span class="sr-only"></span>
		        </button>
		        <h4 class="modal-title" id="myModalLabel">
			        <h2>
				        <strong>
				        	<i style="font-size:55px;"class="fa fa-envelope-o"></i> 
				        	Sinergia Avanzada
			        	</strong>
		        	</h2>
				</h4>

			</div>
			<!-- END MODAL-HEADER -->

			<!-- BEGIN MODAL-FORM -->
      		<form action="" method="GET">

	      		<!-- BEGIN MODAL-BODY -->
	      		<div class="modal-body" style="overflow-x:hidden; overflow-y:auto;">
					
					<!-- BEGIN DIV_EXPLICACIONES -->
					<div class="form-group margin">

						<font size="2"><strong>¿Sabías que ... </strong></font>
						&nbsp;&nbsp;
						<input type="button" id="button_empresa" area="ubicacion" onclick="showText(this)" value="Empresa">
						&nbsp;&nbsp;
						ó
						&nbsp;&nbsp;
						<input type="button" id="button_particular" area="ubicacion" onclick="showText(this)" value="Particular">
						
						<br>
						
						<div class="span5">
							<p id="explicacion" align="justify"></p>
						</div>

					</div>
					<!-- END DIV_EXPLICACIONES -->

					 <hr> 
					
					<font size="2"><strong>Categoria:</strong></font>
					&nbsp;&nbsp;
					<input type="button" onclick="showDiv('ubicacion');" value="Ubicación">
					&nbsp;&nbsp;
					<input type="button" onclick="showDiv('causa_social');" value="Causa social">
					&nbsp;&nbsp;
					<input type="button" onclick="showDiv('grupo_atencion');" value="Grupo de atención">

	  				<!-- BEGIN DIV-FORM-GROUP -->
					<div  class="form-group container">
					
						<!-- BEGIN DIV-ROW-FLUID -->
						<div class="row-fluid">

							<!-- BEGIN DIV_UBICACION -->
							<div id="div_ubicacion" class="form-group span5" style="padding:10px;"> 

				      				<label>
				      				<input type="checkbox" id="ubicacion_enabled" value="ubicacion_enabled" onclick="enableUbicacion(this.checked)" checked>  
				      				<font size="4"><strong>Ubicación</strong> (Desmarcalo para buscar indistintamente de la ubicación)</font>
				      				</label>

				      				<br>

					      			<label><font size="3"><strong>Estado</strong></font></label>
						      		<select id="select_estados" name="estado" onchange="getMunicipios(this.selectedIndex);">
						      			{% for index in estados %}
										<option value="{{index.id}}">{{index.nombre}}</option>
										{% endfor %}
						      		</select>

									<br>
									
									<label><font size="3"><strong>Municipio</strong></font></label>

									<div id="div_municipios">
										<select id="select_municipios" name="municipio">
										</select>
									</div>
							
							</div>
							<!-- END DIV_UBICACION -->

							<!-- BEGIN DIV_CAUSA_SOCIAL -->
							<div id="div_causa_social" class="form-group margin row-fluid" style="padding:10px; display:none;">

								<label>
									<font size="4">
										<strong>
											Causa social
										</strong>
									</font>
								</label>

								<br>

					      		<select id="select_causa_social" name="causa_social" size="5">
					      			{% for a, b in causas_sociales %}
					      				<option value="{{a}}">{{b}}</option>
					      			{% endfor %}
								</select>

							</div>
							<!-- END DIV_CAUSA_SOCIAL -->

						</div>
						<!-- END DIV-ROW-FLUID -->

						<!-- BEGIN DIV_GRUPO_ATENCION -->
						<div id="div_grupo_atencion" class="form-group margin" style="padding:10px; display:none;">

							<label><font size="4"><strong>Grupo de atención</strong></font></label>

							<div class="form-group margin" style="padding:15px;">

								<label><input type="checkbox" name="grupo_atencion" value="bebes"> &nbsp; Bebés</label>
					      		<label><input type="checkbox" name="grupo_atencion" value="menores_12"> &nbsp; Niñas(os) menores de 12 años</label>
								<label><input type="checkbox" name="grupo_atencion" value="jovenes_18"> &nbsp; Jóvenes menores de 18 años</label>
								<label><input type="checkbox" name="grupo_atencion" value="adultos"> &nbsp; Adultos</label>
								<label><input type="checkbox" name="grupo_atencion" value="adultos_mayores"> &nbsp; Adultos mayores</label>

							</div>

						</div>
						<!-- END DIV_GRUPO_ATENCION -->

					</div>
					<!-- END DIV-FORM-GROUP -->

	    		</div>
	    		<!-- END MODAL-BODY -->

	    		<!-- BEGIN MODAL-FOOTER -->
				<div class="modal-footer">
			        <button type="submit" class="btn btn-primary green" id="buscar_asistida" name="buscar_asistida" value="">Buscar</button>
			        <button type="button" class="btn btn-default red" data-dismiss="modal">Cancelar</button>
			        
			  	</div>
			  	<!-- END MODAL-FOOTER -->

		  	</form>
		  	<!-- END MODAL-FORM -->

	    </div>
	    <!-- END MODAL-CONTENT -->

  	</div>	
  	<!-- END MODAL-DIALOG -->
</div>
<!-- END MODAL -->


{% endblock %}

<!-- JS Files Start -->
<script type="text/javascript" src="
/static/js/lib-1-9-1.js"></script><!-- lib Js -->
<script type="text/javascript" src="
/static/js/lib-1-7-1.js"></script><!-- lib Js -->
<script type="text/javascript" src="
/static/js/modernizr.js"></script><!-- Modernizr -->
<script type="text/javascript" src="
/static/js/easing.js"></script><!-- Easing js -->
<script type="text/javascript" src="
/static/js/bootstrap.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="
/static/js/bxslider.js"></script><!-- BX Slider -->
<script type="text/javascript" src="
/static/js/fitvids.js"></script><!-- fIt Video -->
<script type="text/javascript" src="
/static/js/clearInput.js"></script><!-- Input Clear -->
<script type="text/javascript" src="
/static/js/smooth-scroll.js"></script><!-- smooth Scroll -->
<script type="text/javascript" src="
/static/js/prettyPhoto.js"></script><!-- Pretty Photo -->
<script type="text/javascript" src="
/static/js/social.js"></script><!-- Social Media Hover Effect -->
<script type="text/javascript" src="
/static/js/countdown.js"></script><!-- Event Counter -->
<script type="text/javascript" src="
/static/js/custom.js"></script><!-- Custom / Functions -->

<script type="text/javascript" src="/static/dashboard/global/js/transition.js"> </script>
<script type="text/javascript" src="/static/dashboard/global/js/collapse.js"> </script>


<script type="text/javascript">
  




    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    {% if numero %}
	if({{numero}} == 1)
	{
		function error()
		{
			$('#myModal').modal(
			{
				show: true
			});
		}
		window.onload = error();
	}
	{% endif %}
	
	{% if numero %}
	if({{numero}} == 2)
	{
		function contactModal()
		{
			$('#myContact').modal(
			{
				show: true
			});
		}
		window.onload = contactModal();
	}
	{% endif %}

</script>

<script>

function showText(button){
	
	var p = document.getElementById('explicacion');
	var area = button.getAttribute('area');
	var text;

	if(button.id == 'button_empresa'){

		text = document.getElementById('empresa_'+ area).innerHTML;
	}else{

		text = document.getElementById('particular_'+ area).innerHTML; 
	}

	p.innerText = text;
}

function showDiv(area){

	var divs = ['ubicacion', 'causa_social', 'grupo_atencion'];
	var i = 0;
	
	while(i < divs.length){

		if(divs[i] == area){

			document.getElementById('div_'+divs[i]).style.display = 'inline';
			document.getElementById('button_empresa').setAttribute('area', divs[i]);
			document.getElementById('button_particular').setAttribute('area', divs[i]);
			document.getElementById('explicacion').innerText = '';

		}else{

			document.getElementById('div_'+divs[i]).style.display = 'none';
		}


		i++;
	}
		
}

function enableUbicacion(enable){

	var select_estados = document.getElementById('select_estados');
	select_estados.disabled = !enable;

	var select_municipios = document.getElementById('select_municipios');
	select_municipios.disabled = !enable; 

}

function getMunicipios(index){

	var select_municipios = document.getElementById('select_municipios');
	var municipios = document.getElementById('municipios_'+index).innerHTML;
	select_municipios.innerHTML = municipios;
		
}


</script>

{% for m in municipios %}
<script type="text/html" id="municipios_{{forloop.counter0}}">
	{% for index in m %}
		<option value="{{index.id}}">{{index.nombre}}</option>
	{% endfor %}
</script>
{% endfor %}


<script type="text/html" id="empresa_ubicacion">
¡La responsabilidad social puede tomar muchas más formas de las que te imaginas!

Si tu empresa tiene un giro especializado, aprovecha este “know-how” y tus productos para apoyar causas sociales. También, muchas veces la mejor forma de ayudar es emplear, integra a tu cadena de proveedores a las organizaciones que cuentan con proyectos productivos.
</script>

<script type="text/html" id="particular_ubicacion">
¡La responsabilidad social puede tomar muchas más formas de las que te imaginas!

Si tu negocio o profesión tiene un giro especializado, aprovecha este “know-how” y tu tiempo, productos o servicios para apoyar a causas sociales que pueden necesitarte. Recuerda que también puedes apoyar al comprar los productos que realizan  las organizaciones que cuentan con proyectos productivos ya sea para tu casa o negocio.
</script>

<script type="text/html" id="empresa_causa_social">
¿Qué tema social es el que más les interesa a tu equipo directivo, empleados y proveedores? 

Piensa en los gustos e intereses compartidos por todo tu equipo: directivos, personal operativo o clientes. De esta forma será más fácil que se involucren y participen en las acciones de Responsabilidad Social. Toma en cuenta las tendencias pero recuerda que ese factor no es el más importante.
</script>

<script type="text/html" id="particular_causa_social">
¿Qué tema  social es el que más te interesa? 

Piensa en tus gustos e intereses, ya que elegir una causa que realmente quieras apoyar garantiza que te involucres mejor, participes más e invites a otros a sumarse.
</script>

<script type="text/html" id="empresa_grupo_atencion">
¿Sabías qué existen grupos en situación de vulnerabilidad que están siendo muy poco atendidos?

Te invitamos a reflexionar sobre qué población es la más relacionada con tu empresa o quiénes consideran pueden ser mejor atendidos con tu apoyo.
</script>

<script type="text/html" id="particular_grupo_atencion">
¿Sabías qué existen grupos en situación de vulnerabilidad que están siendo muy poco atendidos?

Te invitamos a reflexionar sobre qué grupo se puede beneficiar más con tu apoyo.
</script>

{% block js %}

{% endblock %}

<!--[if IE 8]>
     <script src="
/static/js/ie8_fix_maxwidth.js" type="text/javascript"></script>
<![endif]-->


<!-- switcher files -->
<!-- switcher files -->


</body>
</html>
