{% extends "baseown.html" %}
{% load humanize %}

{% block content %}
<!-- Title & BreadCrumbs -->
<section class="mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
			<section id="donation_box">
				<section class="container container-fluid">
					<section class="row-fluid">
						<div class="span8 first" id="titulo_sinergia"><h2><strong>{% if osc.figura == 'S' or osc.figura == 'I' %}{{ osc.get_figura_display }} {%endif%} {{ osc.nombre }}</strong></h2> </div>
					</section>
				</section>
			</section><!-- end of Page Title -->
		</section>
 		
	</section>
</section>
<!-- End of Tile & Breadcrumbs -->

<!-- Page Content Container -->
<section id="content" class="mbtm fund_rasising_listing">
	<section class="container-fluid container">
	    
		<section class="row-fluid">
			<section class="span9 fund_project_detail" id="fund_project_detail">
				<figure class="span12 first outer_lyr" id="category_image">
					<img src="{{osc.fondo_smart.url }}" alt="Crowd Funding" />
					<figure class="span12 first fund_project" id="charity_progress">
					     <img src="{{osc.logo_resized.url }}" style="width:150px" id="logo_img" /> 
						<div class="span12 first">
						    
							<span class="current_collection">   </span>
							<h4>  </h4>
						 	<div class="info">
								<div class="span6 first">
									<i class="icon-user"></i> <span> {{sinergias.count}} </span> Sinergias Exitosas
								</div>
								<div class="span6" id="dayz">
									<i class="icon-calendar-empty"></i> <span> {{sinergias.first.date_created|naturaltime}} </span> desde la última sinergia.
								</div>
							</div>
						</div>
					</figure>
				</figure>
				<figure class="span12 first outer_lyr" id="project_contet">
					<div class="inner_lyr">
						<h3><strong>Información de la OSC : </strong></h3>
						<table class="table table-striped">
						    <tr>
								<td><strong>Visión:</strong></td>
								<td>{{osc.vision}}</td>
							</tr>
							<tr>
								<td><strong>Misión:</strong></td>
								<td>{{osc.mision}}</td>
							</tr>
							<tr>
								<td><strong>Actividad:</strong></td>
								<td>{{osc.get_actividades_display}}</td>
							</tr>
							<tr>
								<td><strong>Temática:</strong></td>
								<td>{{osc.tematica}}</td>
							</tr>
							<tr>
								<td><strong>Website:</strong></td>
								<td><a href="http://{{osc.website}}"> {{osc.website}} </a></td>
							</tr>
							
							<tr>
								<td><strong>Horas de Capacitación Último año:</strong></td>
								<td> {{valor_horas}} </td>
							</tr>
							
							
						</table>
					</div>
				</figure>
				<figure class="span12 first">
					<a href="#myModal" class="tier_button" data-toggle="modal"> Crear Sinergia </a>
					{% if sinergias.count == 0 %}
					<!--Do nothing-->
					{%else%}
					<ul  id="tiers">
						{% for sinergia in sinergias %}
							<li> 	
								<span class="span3 first">
									<div>
										<img src="{{ sinergia.empresa.logo_smart.url }}" />
										<strong>  {{ sinergia.empresa }} </strong> 
									</div>
								</span> 
								<span class="span8"> 
									{{ sinergia.comentario_empresa }}
									<a href="http://{{ sinergia.empresa.url }}" target="_blank" class="btn btn-success green"> Visitar sitio </a>
								</span> 
							</li>
						{% endfor %}
					</ul>
					{% endif %}
				</figure>
			</section>
			<section id="sidebar" class="span3">
				<figure class="widget social_follow">
					<div id="social_follow">
						<span class="social_fb"> <a href="http://{{osc.facebook}}"><i class="icon-facebook"></i></a> </span>
						<span class="social_twitter"> <a href="http://{{osc.twitter}}"><i class="icon-twitter"></i></a> </span>
					</div>
				</figure>
				<figure class="widget events">
					<h2> <i class="icon-bullhorn" style= "font-size: 35px";></i> Necesidades </h2>
					<ul id="posts">
						{% for necesidad in materiales %}
						<li>
						
							<div class="post_content">
								<p> <strong>{{necesidad.nombre}} </strong> : <span> {{necesidad.descripcion}}</span>  </p>
								
							</div>
						</li>
						{% endfor %}
						{% for necesidad in humanas %}
						<li>
				
							<div class="post_content">
								<p> <strong>{{necesidad.nombre}} </strong> : <span> {{necesidad.descripcion}}</span>  </p>
								
							</div>
						</li>
						{% endfor %}
						{% for necesidad in capacitacion %}
						<li>
						
							<div class="post_content">
								<p> <strong>{{necesidad.nombre}} </strong> : <span> {{necesidad.descripcion}}</span>  </p>
								
							</div>
						</li>
						{% endfor %}
					</ul>
				</figure>
			</section>
		</section>
	</section>
</section>
<!--	Modal que muestra el form para introducir los datos de la empresa	-->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">Crear Sinergia</h3>
  	</div>
  	<div class="modal-body">
    	<form id="myModalForm" action="" method="post" enctype="multipart/form-data"> 
    		{% csrf_token %}

    		<table class="table table-striped">
    			{{ form.non_field_errors }}
	    			{% for field in form.sinergia %}
    				<tr>
    					<td>{{field.label_tag}}</td>
    					<td>{{ field }}</td>
					</tr>
	    			{% endfor %}
	    			
		    		{% for field in form.empresa %}
		    		<tr>
		    			<span class="help-block">
		    				<td>{{field.label_tag}} </td>
		    				
		    				<td>{{ field }}</td>
		    				{% for error in field.errors %}
                           
                            	
                                <td>&nbsp;</td>
                                <td style="color:red"><div>{{error}}</div></td>
                            </tr>
	                        {% endfor %}
	                	</span>
		    			
		    		</tr>
	    		{% endfor %}  	
    		</table>
  			<div class="modal-footer">
    			<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    			<button type="submit"  class="btn btn-success green" >Crear Sinergia</button>
  			</div>    
    	</form>
  	</div>
</div>
<!--	Fin del modal 	-->
<!--	Modal que muestra los datos de contacto de la OSC 	-->
<div id="myContact" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">Enviarme datos de contacto por correo electrónico</h3>
  	</div>
  	<div class="modal-body">
    	<form action="" method="post" enctype="multipart/form-data">
    		{% csrf_token %}


    		<input type="hidden" name="empresaS" value="{{empresa_id}}">


    		<textarea id="textarea_mensaje_sinergia" class="form-control" rows="7" name="mensaje" resize="off" style="display:none">
    			Gracias por confiar en el trabajo que realiza esta organización <osc_nombre>, estamos seguros que con tu ayuda su causa se fortalecerá, y podrán llevar a cabo sus acciones de una mejor forma. 

				Te preguntarás: ¿Qué sigue?

				Contacta a la organización:
				
					Nombre de la organización: <osc_nombre>
					Nombre del contacto: <osc_nombre_contacto>
					Teléfono: <osc_telefono>
					Correo electrónico: <osc_correo>

				Nota: Recomendamos utilizar ambas vías a fin de garantizar que el contacto sea más efectivo.

				Te informamos que la organización ha sido notificada que “alguien” se interesó en ella, a fin de que esté alerta a tu mensaje y/o llamada. Recuerda que tus datos están protegidos y no fueron brindados a la organización, sin embargo esperamos que puedan establecer un vínculo exitoso y ayudar así a que una organización de la sociedad civil cumpla con su objetivo en beneficio de la sociedad.

				No dudes en consultarle a la organización la manera  de llevar a cabo la sinergia, ellos estarán en la disposición de guiarte paso a paso para concretar esta acción de responsabilidad social, e inclusive ver otras posibilidades de vinculación.

				Recuerda que la Responsabilidad Social, conlleva un fuerte compromiso por el desarrollo de tu comunidad y sus habitantes.

				Te invitamos a sumarte al trabajo de más organizaciones visitando de forma recurrente nuestro portal de “Organizaciones”: <oscs_link>

				Equipo de Fundación Merced Querétaro AC
				Tel. (442) 223 3623
				Correo: info@fundacionmerced.org
    		</textarea>

    		<!-- style="display:none" -->

    		<table>
    			<tr>
					<td>Teléfono</td>
					<td>{{osc.telefono}}</td>
				</tr>
    			<tr>
	    			<td>Email</td>
	    			<td>{{osc.email}}</td>
	    		</tr>
	    		<tr>
	    			<td>Persona de Contacto</td>
	    			<td>{{osc.responsable}}</td>
	    		</tr>
	    		<tr>
	    			<td>Email Contacto</td>
	    			<td>{{osc.email_responsable}}</td>
	    		</tr>
	    		    		
    		</table>
  			<div class="modal-footer" id="enviandocorreo"> 
  				<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  				<input type='submit' name='enviacorreoS' value='Enviarme datos de contacto por Email' class='btn btn-success'/>
  			</div>    
    	</form>
  	</div>
</div>
<!--	Fin del modal 	-->
<!-- Page Content Container -->
{% endblock %}



{% block js %}

{% endblock %}
