{% extends "baseown.html" %}
{% load humanize %}
{% load imagekit %}
{% block content %}
<!-- Title & BreadCrumbs -->
<section class="mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
			<section id="donation_box">
				<section class="container container-fluid">
					<section class="row-fluid">
						<div class="span8 first"> 
							<h2> Directorio </h2> 
						</div>
						<div class="span4 title_right">
							
						</div>
					</section>
				</section>
			</section>
			<!-- end of Page Title -->
		</section>
	
	</section>
</section>
<!-- End of Tile & Breadcrumbs -->

<!-- Page Content Container -->
<section id="content" class="mbtm fund_rasising_listing">
	<section class="container-fluid container">
		<section class="row-fluid">
			<section class="span9 fund_rasising_listing" id="fund_rasising_listing">
				<figure class="span12 first" id="category_title">
					<div class="span10 first"> 
					    
						<h3> Organizaciones </h3>	
					</div>
				</figure>
				<section class="span12 first projects_holder">
				{% if not bda %}
				{% for elemento in osc %}
					{% if forloop.counter0|divisibleby:"3" %}
					<hr/>
					{% endif %}
				    <section class="span4 {% if forloop.counter0|divisibleby:"3" %}first{% endif %} fund_project" id="charity_progress">
						<h3> <a href="/osc/{{elemento.id}}"> {{ elemento.nombre|truncatechars:55 }} </a> </h3>
						<a href="/osc/{{elemento.id}}">
						<img src="{{ elemento.logo_smart.url }}" alt="Fund Featured Image"></a>
						<span class="current_collection">  </span>
						<div class="info">
							<div class="span6 first">
								<i class="icon-user"></i> 
								<span> 
								
								{{ elemento.sinergias_exitosas.count }}
								
								</span> Sinergias
							</div>
						
						</div>
					</section>
				{% endfor %}
				{% else %}
				{% for elemento in necesidades_materiales %}
					{% if forloop.counter0|divisibleby:"3" %}
					<hr/>
					{% endif %}
				    <section class="span4 {% if forloop.counter0|divisibleby:"3" %}first{% endif %} fund_project" id="charity_progress">
						<h3> <a href="/osc/{{elemento.afiliacion.id}}"> {{ elemento.afiliacion.nombre }} </a> </h3>
						<img src="/media/{{ elemento.afiliacion.logo }}" alt="Fund Featured Image">
						<span class="current_collection">  </span>
						<div class="info">
							<div class="span6 first">
								<i class="icon-user"></i> 
								<span> 
								
								{{ elemento.afiliacion..sinergias_exitosas.count }}
								
								</span> Sinergias
							</div>
							<div class="span6">
								<i class="icon-calendar-empty"></i> 
								<span>  
								{% if elemento.afiliacion.sinergias_exitosas.all.count == 0 %} 
									No hay sinergias 
								{% else %}
									{{elemento.afiliacion.sinergias_exitosas.first.date_created|naturaltime}} 
								{% endif %}
								</span>
							</div>
						</div>
					</section>
				{% endfor %}
				{% for elemento in necesidades_humanas %}
					{% if forloop.counter0|divisibleby:"3" %}
					<hr/>
					{% endif %}
				    <section class="span4 {% if forloop.counter0|divisibleby:"3" %}first{% endif %} fund_project" id="charity_progress">
						<h3> <a href="/osc/{{elemento.afiliacion.id}}"> {{ elemento.afiliacion.nombre }} </a> </h3>
						<img src="/media/{{ elemento.afiliacion.logo }}" alt="Fund Featured Image">
						<span class="current_collection">  </span>
						<div class="info">
							<div class="span6 first">
								<i class="icon-user"></i> 
								<span> 
								
								{{ elemento.afiliacion..sinergias_exitosas.count }}
								
								</span> Sinergias
							</div>
							<div class="span6">
								<i class="icon-calendar-empty"></i> 
								<span>  
								{% if elemento.afiliacion.sinergias_exitosas.all.count == 0 %} 
									No hay sinergias 
								{% else %}
									{{elemento.afiliacion.sinergias_exitosas.first.date_created|naturaltime}} 
								{% endif %}
								</span>
							</div>
						</div>
					</section>
				{% endfor %}
				{% for elemento in necesidades_capacitacion %}
					{% if forloop.counter0|divisibleby:"3" %}
					<hr/>
					{% endif %}
				    <section class="span4 {% if forloop.counter0|divisibleby:"3" %}first{% endif %} fund_project" id="charity_progress">
						<h3> <a href="/osc/{{elemento.afiliacion.id}}"> {{ elemento.afiliacion.nombre }} </a> </h3>
						<img src="/media/{{ elemento.afiliacion.logo }}" alt="Fund Featured Image">
						<span class="current_collection">  </span>
						<div class="info">
							<div class="span6 first">
								<i class="icon-user"></i> 
								<span> 
								
								{{ elemento.afiliacion..sinergias_exitosas.count }}
								
								</span> Sinergias
							</div>
							<div class="span6">
								<i class="icon-calendar-empty"></i> 
								<span>  
								{% if elemento.afiliacion.sinergias_exitosas.all.count == 0 %} 
									No hay sinergias 
								{% else %}
									{{elemento.afiliacion.sinergias_exitosas.first.date_created|naturaltime}} 
								{% endif %}
								</span>
							</div>
						</div>
					</section>
				{% endfor %}
				{% endif %}
				<hr />
				</section>

				<div class="pagination">
                	<ul>
            			{% if osc.has_previous %}
                        <li><a href="?page={{ osc.previous_page_number }}{{ parametros }}">Anterior</a></li>
                		{% endif %}
                    	<li class="active">

                    	{% if osc %}

                     	<h3><strong>Página {{ osc.number }} de {{ osc.paginator.num_pages }}</strong></h3>
                     	
                     	{% else %}

                     	<h3><strong>Lo sentimos, no existen OSC's con los criterios de búsqueda especificados</strong></h3>

                     	{% endif %}
                     	
                    	</li>
                     	{% if osc.has_next %}
                     	<li><a href="?page={{ osc.next_page_number }}{{ parametros }}">Siguiente</a></li>
                		{% endif %}
                  	</ul>
                </div>
			</section>
			<section id="sidebar" class="span3">
				<figure class="widget tags">
					<h3> <i class="icon-tags"></i> Actividades </h3>
					<ul id="tags">
					{% for a,b in causas_sociales %}
						<li> <a href="{% url 'oscs' %}?causa_social={{a}}"> {{b}} </a> </li>
					{% endfor %}
					</ul>
				</figure>
			</section>
		</section>
	</section>
</section>
<!-- Page Content Container -->
{% endblock %}
