{% extends "baseown.html" %}
{% load humanize %}

{% block content %}
    
    
    <!-- Page Content Container -->
    <section id="content" class="mbtm about">
    	<section class="container-fluid container">

    		<section class="row-fluid">
    			<section class="span12 first mbtm2 outer_lyr">
    				<section class="inner_lyr">

                        
    					<h3 class="heading1 bg-div"> 
                            <span class="inner">
                                <strong>
                                    {% if valido == 1 %} Tu Opinión es importante {% else %} Lo sentimos  {% endif %}
                                </strong>	
                                <span class="bgr1"></span>
                            </span> 	
                        </h3>
                       
    					<section class="section_content"> 
    						
                            {% if valido == 1 %}

                            <div class="span4 first img"> <img src="{{osc.logo_smart.url}}" alt="About"/></div>
    						<div class="span8"> 
    						<h3>Gracias por tu colaboracion.</h3>
    							<p>Ahora es tiempo de conocer cuál fue tu experiencia con la OSC <strong> {{osc.nombre}}. </strong>  La información que nos proporciones se mostrará en el perfil de la organización apoyada.</p>



    							
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                <table>
                                    {{ forma.non_field_errors }}
                                    {% for field in forma.sinergia %}
                                        <tr>
                                        <span class="help-block">{% for error in field.errors %}
                                                 <tr><td>&nbsp;</td>
                                                     <td style="color:red"><div>{{error}}</div></td>
                                                 </tr>{% endfor %}</span>                      
                                        </tr>
                                        <tr>
                                            <td>{{field.label_tag}}</td><td>{{ field }}</td>
                                        </tr>
                                    {% endfor %}

                                    {% for field in forma.empresa %}
                                        <tr>
                                        <span class="help-block">{% for error in field.errors %}
                                                 <tr><td>&nbsp;</td>
                                                     <td style="color:red"><div>{{error}}</div></td>
                                                 </tr>{% endfor %}</span>                      
                                        </tr>
                                        <tr>
                                            <td>{{field.label_tag}}</td><td>{{ field }}</td>
                                        </tr>
                                    {% endfor %}

                                </table>


                                <button type="submit" class="btn btn-success" name="guardar">Guardar</button>

                                </form>
    						</div>

                            {% else %}

                            <p>Pero tu sinergia con la osc, <strong> {{osc.nombre}}, </strong> ya ha sido evaluada</p>

                            <a href="{% url "oscs" %}">Regresar al directorio</a>

                            {% endif %}



    					</section>

    					</section>

    			</section>
    			
    			

    		</section>
    	</section>

    </section>
    <!-- Page Content Container -->
    
{% endblock %}

{% block menu %}

{% endblock %}

{% block js %}

{% endblock %}

{% block asistida %}

{% endblock %}

{% block modal_asistida %}

{% endblock %}
