{% extends "baseown.html" %}
{% block content %}
<style>
.show-grid [class*="span"] {
background-color: white;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
min-height: 40px;
line-height: 40px;
}

.show-grid {
margin-top: 10px;
margin-bottom: 20px;
}

</style>
<!-- Title & BreadCrumbs -->
<section class="mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
			<section id="donation_box">
				<section class="container container-fluid">
					<section class="row-fluid">
					<div class="span8 first"> <h2> Guía de Maquetación, Interfaz y Experiencia de usuario</h2> </div>
						<div class="span4 title_right">
 

			</div>
		
		</section>
				</section>
			</section>		<!-- end of Page Title -->
	</section>
	
	</section>

</section>
<!-- End of Tile & Breadcrumbs -->
<section id="content" class="mbtm shortcodes">
	<section class="container-fluid container">
	
		<section class="row-fluid">
		<article class="left">
		    <!-- Global Bootstrap settings
            ================================================== -->
            <section id="global">
              <div class="page-header">
                <h1>Maquetación</h1>
              </div>

              <h3>HTML5</h3>
              <p>El proyecto de FMQ utiliza HTML5 para poder desarrollar todos los componentes de forma clara y especifica. Adicionalmente permite utilizar etiquetas modernas y aprovechar el uso de nuevas tecnologías. Para poder utilizar es necesario escribir :</p>
    <pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="dec">&lt;!DOCTYPE html&gt;</span></li><li class="L1"><span class="tag">&lt;html</span><span class="pln"> </span><span class="atn">lang</span><span class="pun">=</span><span class="atv">"en"</span><span class="tag">&gt;</span></li><li class="L2"><span class="pln">  ...</span></li><li class="L3"><span class="tag">&lt;/html&gt;</span></li></ol></pre>

              <h3>Tipografía y Links</h3>
              <p>Desarrollamos un set básico de interface señalando los aspectos mas importantes para garantizar compatibilidad y mejor adaptación a sitios móviles :</p>
              <ul>
                <li>Remover <code>margin</code> del body</li>
                <li>Poner <code>background-color: white;</code> en el <code>body</code></li>
                <li>Usar <code>@baseFontFamily</code>, <code>@baseFontSize</code>, y <code>@baseLineHeight</code> para los atributos básicos</li>
                <li>Poder facilmente cambiar los colores usando <code>@linkColor</code> y los hover con <code>:hover</code></li>
              </ul>
            </section>




           



            <!-- Fluid grid system
            ================================================== -->
            <section id="fluidGridSystem">
              <div class="page-header">
                <h1>Sistema Fluido de Grids para responsivo</h1>
              </div>

              <h2>Ejemplo de nuestro sistema de grids</h2>
              <p>Utilizamos un sistema de grids basado en 12 columnas que garantizan el ser responsivo.</p>
              <div class="bs-docs-grid">
                <div class="row-fluid show-grid">
                  <div class="span1">1</div>
                  <div class="span1">1</div>
                  <div class="span1">1</div>
                  <div class="span1">1</div>
                  <div class="span1">1</div>
                  <div class="span1">1</div>
                  <div class="span1">1</div>
                  <div class="span1">1</div>
                  <div class="span1">1</div>
                  <div class="span1">1</div>
                  <div class="span1">1</div>
                  <div class="span1">1</div>
                </div>
                <div class="row-fluid show-grid">
                  <div class="span4">4</div>
                  <div class="span4">4</div>
                  <div class="span4">4</div>
                </div>
                <div class="row-fluid show-grid">
                  <div class="span4">4</div>
                  <div class="span8">8</div>
                </div>
                <div class="row-fluid show-grid">
                  <div class="span6">6</div>
                  <div class="span6">6</div>
                </div>
                <div class="row-fluid show-grid">
                  <div class="span12">12</div>
                </div>
              </div>

              <h3>El uso básico en la maquetación HTML</h3>
              <p>Para que el esquema sea fluido responsivo solo hay que usar rows del tipo <code>.row-fluid</code>. Cada columna debe especificar su tamaño utilizando spans de tamaños como dice el código de a continuación</p>
    <pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"row-fluid"</span><span class="tag">&gt;</span></li><li class="L1"><span class="pln">  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"span4"</span><span class="tag">&gt;</span><span class="pln">...</span><span class="tag">&lt;/div&gt;</span></li><li class="L2"><span class="pln">  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"span8"</span><span class="tag">&gt;</span><span class="pln">...</span><span class="tag">&lt;/div&gt;</span></li><li class="L3"><span class="tag">&lt;/div&gt;</span></li></ol></pre>

              <h2>Es posible tener offsets</h2>
              <p>Cada offset se agrega a la clase de cada elemento HTML para garantizar que esta ubicado en el lugar correcto en todos los dispositivos.</p>
              <div class="bs-docs-grid">
                <div class="row-fluid show-grid">
                  <div class="span4">4</div>
                  <div class="span4 offset4">4 offset 4</div>
                </div><!-- /row -->
                <div class="row-fluid show-grid">
                  <div class="span3 offset3">3 offset 3</div>
                  <div class="span3 offset3">3 offset 3</div>
                </div><!-- /row -->
                <div class="row-fluid show-grid">
                  <div class="span6 offset6">6 offset 6</div>
                </div><!-- /row -->
              </div>
    <pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"row-fluid"</span><span class="tag">&gt;</span></li><li class="L1"><span class="pln">  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"span4"</span><span class="tag">&gt;</span><span class="pln">...</span><span class="tag">&lt;/div&gt;</span></li><li class="L2"><span class="pln">  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"span4 offset2"</span><span class="tag">&gt;</span><span class="pln">...</span><span class="tag">&lt;/div&gt;</span></li><li class="L3"><span class="tag">&lt;/div&gt;</span></li></ol></pre>

              
            </section>




            <!-- Layouts (Default and fluid)
            ================================================== -->
            <section id="layouts">
              <div class="page-header">
                <h1>Layout generico de cada vista</h1>
              </div>              

              <h2>El Layout responsivo</h2>
              <p>Utilizamos en el contenedor mayos <code>&lt;div class="container-fluid"&gt;</code>—con lo que todos los estilos inferiores seran fluidos y reactivos a la interface.</p>
              <div class="mini-layout fluid">
                <div class="mini-layout-sidebar"></div>
                <div class="mini-layout-body"></div>
              </div>
    <pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"container-fluid"</span><span class="tag">&gt;</span></li><li class="L1"><span class="pln">  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"row-fluid"</span><span class="tag">&gt;</span></li><li class="L2"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"span2"</span><span class="tag">&gt;</span></li><li class="L3"><span class="pln">      </span><span class="com">&lt;!--Sidebar content--&gt;</span></li><li class="L4"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L5"><span class="pln">    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"span10"</span><span class="tag">&gt;</span></li><li class="L6"><span class="pln">      </span><span class="com">&lt;!--Body content--&gt;</span></li><li class="L7"><span class="pln">    </span><span class="tag">&lt;/div&gt;</span></li><li class="L8"><span class="pln">  </span><span class="tag">&lt;/div&gt;</span></li><li class="L9"><span class="tag">&lt;/div&gt;</span></li></ol></pre>
            </section>




            <!-- Responsive design
            ================================================== -->
            <section id="responsive">
              <div class="page-header">
                <h1>Diseño responsivo</h1>
              </div>

              <h2>Habilitar Fluides Responsiva</h2>
              <p>Para que soportemos uso responsivo del proyecto agregaremos en la etiqueta <code>&lt;head&gt;</code> los valores por defecto comunes en aplicaciones responsivas adicionalmente de la clase CSS que incluye todos los media- para cada dispositivo.</p>
    <pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;meta</span><span class="pln"> </span><span class="atn">name</span><span class="pun">=</span><span class="atv">"viewport"</span><span class="pln"> </span><span class="atn">content</span><span class="pun">=</span><span class="atv">"width=device-width, initial-scale=1.0"</span><span class="tag">&gt;</span></li><li class="L1"><span class="tag">&lt;link</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"assets/css/bootstrap-responsive.css"</span><span class="pln"> </span><span class="atn">rel</span><span class="pun">=</span><span class="atv">"stylesheet"</span><span class="tag">&gt;</span></li></ol></pre>
              

              <h2>Visibilidad por dispositivos</h2>
              <p>Para poder desarrollar la interfaz correcta por dispositivo es necesario poder especificar cuando se pueden visualizar y cuando no de acuerdo al tamaño de pantalla y tipo. Especificamos una serie de clases para poder tener acceso rápido a discriminar cada sección</p>
              <table class="table table-bordered table-striped responsive-utilities">
                <thead>
                  <tr>
                    <th>Clase</th>
                    <th>Teléfonos <small>767px o menos</small></th>
                    <th>Tablets <small>979px a 768px</small></th>
                    <th>Escritorio <small>Default</small></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th><code>.visible-phone</code></th>
                    <td class="is-visible">Visible</td>
                    <td class="is-hidden">No Visible</td>
                    <td class="is-hidden">No Visible</td>
                  </tr>
                  <tr>
                    <th><code>.visible-tablet</code></th>
                    <td class="is-hidden">No Visible</td>
                    <td class="is-visible">Visible</td>
                    <td class="is-hidden">No Visible</td>
                  </tr>
                  <tr>
                    <th><code>.visible-desktop</code></th>
                    <td class="is-hidden">No Visible</td>
                    <td class="is-hidden">No Visible</td>
                    <td class="is-visible">Visible</td>
                  </tr>
                  <tr>
                    <th><code>.hidden-phone</code></th>
                    <td class="is-hidden">No Visible</td>
                    <td class="is-visible">Visible</td>
                    <td class="is-visible">Visible</td>
                  </tr>
                  <tr>
                    <th><code>.hidden-tablet</code></th>
                    <td class="is-visible">Visible</td>
                    <td class="is-hidden">No Visible</td>
                    <td class="is-visible">Visible</td>
                  </tr>
                  <tr>
                    <th><code>.hidden-desktop</code></th>
                    <td class="is-visible">Visible</td>
                    <td class="is-visible">Visible</td>
                    <td class="is-hidden">No Visible</td>
                  </tr>
                </tbody>
              </table>

              
            </section>
            
            

		<h2> <span class="txt-left">GUI / UX</span> <span class="bg-right"></span> </h2>

	
            <section id="icons" class="s-holder">
				<h3 class="page-header">Directorio de iconos web</h3>
				<p>Iconos Para interfaces de acuerdo al uso de cada uno.</p>
                
		<div class="the-icons">
    

    
      <div class="span3"><a href="../icon/adjust"><i class="icon-adjust"></i> icon-adjust</a></div>
    
      <div class="span3"><a href="../icon/anchor"><i class="icon-anchor"></i> icon-anchor</a></div>
    
      <div class="span3"><a href="../icon/archive"><i class="icon-archive"></i> icon-archive</a></div>
    
      <div class="span3"><a href="../icon/asterisk"><i class="icon-asterisk"></i> icon-asterisk</a></div>
    
      <div class="span3"><a href="../icon/ban-circle"><i class="icon-ban-circle"></i> icon-ban-circle</a></div>
    
      <div class="span3"><a href="../icon/bar-chart"><i class="icon-bar-chart"></i> icon-bar-chart</a></div>
    
      <div class="span3"><a href="../icon/barcode"><i class="icon-barcode"></i> icon-barcode</a></div>
    
      <div class="span3"><a href="../icon/beaker"><i class="icon-beaker"></i> icon-beaker</a></div>
    
      <div class="span3"><a href="../icon/beer"><i class="icon-beer"></i> icon-beer</a></div>
    
      <div class="span3"><a href="../icon/bell"><i class="icon-bell"></i> icon-bell</a></div>
    
      <div class="span3"><a href="../icon/bell-alt"><i class="icon-bell-alt"></i> icon-bell-alt</a></div>
    
      <div class="span3"><a href="../icon/bolt"><i class="icon-bolt"></i> icon-bolt</a></div>
    
      <div class="span3"><a href="../icon/book"><i class="icon-book"></i> icon-book</a></div>
    
      <div class="span3"><a href="../icon/bookmark"><i class="icon-bookmark"></i> icon-bookmark</a></div>
    
      <div class="span3"><a href="../icon/bookmark-empty"><i class="icon-bookmark-empty"></i> icon-bookmark-empty</a></div>
    
      <div class="span3"><a href="../icon/briefcase"><i class="icon-briefcase"></i> icon-briefcase</a></div>
    
      <div class="span3"><a href="../icon/bug"><i class="icon-bug"></i> icon-bug</a></div>
    
      <div class="span3"><a href="../icon/building"><i class="icon-building"></i> icon-building</a></div>
    
      <div class="span3"><a href="../icon/bullhorn"><i class="icon-bullhorn"></i> icon-bullhorn</a></div>
    
      <div class="span3"><a href="../icon/bullseye"><i class="icon-bullseye"></i> icon-bullseye</a></div>
    
      <div class="span3"><a href="../icon/calendar"><i class="icon-calendar"></i> icon-calendar</a></div>
    
      <div class="span3"><a href="../icon/calendar-empty"><i class="icon-calendar-empty"></i> icon-calendar-empty</a></div>
    
      <div class="span3"><a href="../icon/camera"><i class="icon-camera"></i> icon-camera</a></div>
    
      <div class="span3"><a href="../icon/camera-retro"><i class="icon-camera-retro"></i> icon-camera-retro</a></div>
    
      <div class="span3"><a href="../icon/certificate"><i class="icon-certificate"></i> icon-certificate</a></div>
    
      <div class="span3"><a href="../icon/check"><i class="icon-check"></i> icon-check</a></div>
    
      <div class="span3"><a href="../icon/check-empty"><i class="icon-check-empty"></i> icon-check-empty</a></div>
    
      <div class="span3"><a href="../icon/check-minus"><i class="icon-check-minus"></i> icon-check-minus</a></div>
    
      <div class="span3"><a href="../icon/check-sign"><i class="icon-check-sign"></i> icon-check-sign</a></div>
    
      <div class="span3"><a href="../icon/circle"><i class="icon-circle"></i> icon-circle</a></div>
    
      <div class="span3"><a href="../icon/circle-blank"><i class="icon-circle-blank"></i> icon-circle-blank</a></div>
    
      <div class="span3"><a href="../icon/cloud"><i class="icon-cloud"></i> icon-cloud</a></div>
    
      <div class="span3"><a href="../icon/cloud-download"><i class="icon-cloud-download"></i> icon-cloud-download</a></div>
    
      <div class="span3"><a href="../icon/cloud-upload"><i class="icon-cloud-upload"></i> icon-cloud-upload</a></div>
    
      <div class="span3"><a href="../icon/code"><i class="icon-code"></i> icon-code</a></div>
    
      <div class="span3"><a href="../icon/code-fork"><i class="icon-code-fork"></i> icon-code-fork</a></div>
    
      <div class="span3"><a href="../icon/coffee"><i class="icon-coffee"></i> icon-coffee</a></div>
    
      <div class="span3"><a href="../icon/cog"><i class="icon-cog"></i> icon-cog</a></div>
    
      <div class="span3"><a href="../icon/cogs"><i class="icon-cogs"></i> icon-cogs</a></div>
    
      <div class="span3"><a href="../icon/collapse"><i class="icon-collapse"></i> icon-collapse</a></div>
    
      <div class="span3"><a href="../icon/collapse-alt"><i class="icon-collapse-alt"></i> icon-collapse-alt</a></div>
    
      <div class="span3"><a href="../icon/collapse-top"><i class="icon-collapse-top"></i> icon-collapse-top</a></div>
    
      <div class="span3"><a href="../icon/comment"><i class="icon-comment"></i> icon-comment</a></div>
    
      <div class="span3"><a href="../icon/comment-alt"><i class="icon-comment-alt"></i> icon-comment-alt</a></div>
    
      <div class="span3"><a href="../icon/comments"><i class="icon-comments"></i> icon-comments</a></div>
    
      <div class="span3"><a href="../icon/comments-alt"><i class="icon-comments-alt"></i> icon-comments-alt</a></div>
    
      <div class="span3"><a href="../icon/compass"><i class="icon-compass"></i> icon-compass</a></div>
    
      <div class="span3"><a href="../icon/credit-card"><i class="icon-credit-card"></i> icon-credit-card</a></div>
    
      <div class="span3"><a href="../icon/crop"><i class="icon-crop"></i> icon-crop</a></div>
    
      <div class="span3"><a href="../icon/dashboard"><i class="icon-dashboard"></i> icon-dashboard</a></div>
    
      <div class="span3"><a href="../icon/desktop"><i class="icon-desktop"></i> icon-desktop</a></div>
    
      <div class="span3"><a href="../icon/download"><i class="icon-download"></i> icon-download</a></div>
    
      <div class="span3"><a href="../icon/download-alt"><i class="icon-download-alt"></i> icon-download-alt</a></div>
    
      <div class="span3"><a href="../icon/edit"><i class="icon-edit"></i> icon-edit</a></div>
    
      <div class="span3"><a href="../icon/edit-sign"><i class="icon-edit-sign"></i> icon-edit-sign</a></div>
    
      <div class="span3"><a href="../icon/ellipsis-horizontal"><i class="icon-ellipsis-horizontal"></i> icon-ellipsis-horizontal</a></div>
    
      <div class="span3"><a href="../icon/ellipsis-vertical"><i class="icon-ellipsis-vertical"></i> icon-ellipsis-vertical</a></div>
    
      <div class="span3"><a href="../icon/envelope"><i class="icon-envelope"></i> icon-envelope</a></div>
    
      <div class="span3"><a href="../icon/envelope-alt"><i class="icon-envelope-alt"></i> icon-envelope-alt</a></div>
    
      <div class="span3"><a href="../icon/eraser"><i class="icon-eraser"></i> icon-eraser</a></div>
    
      <div class="span3"><a href="../icon/exchange"><i class="icon-exchange"></i> icon-exchange</a></div>
    
      <div class="span3"><a href="../icon/exclamation"><i class="icon-exclamation"></i> icon-exclamation</a></div>
    
      <div class="span3"><a href="../icon/exclamation-sign"><i class="icon-exclamation-sign"></i> icon-exclamation-sign</a></div>
    
      <div class="span3"><a href="../icon/expand"><i class="icon-expand"></i> icon-expand</a></div>
    
      <div class="span3"><a href="../icon/expand-alt"><i class="icon-expand-alt"></i> icon-expand-alt</a></div>
    
      <div class="span3"><a href="../icon/external-link"><i class="icon-external-link"></i> icon-external-link</a></div>
    
      <div class="span3"><a href="../icon/external-link-sign"><i class="icon-external-link-sign"></i> icon-external-link-sign</a></div>
    
      <div class="span3"><a href="../icon/eye-close"><i class="icon-eye-close"></i> icon-eye-close</a></div>
    
      <div class="span3"><a href="../icon/eye-open"><i class="icon-eye-open"></i> icon-eye-open</a></div>
    
      <div class="span3"><a href="../icon/facetime-video"><i class="icon-facetime-video"></i> icon-facetime-video</a></div>
    
      <div class="span3"><a href="../icon/female"><i class="icon-female"></i> icon-female</a></div>
    
      <div class="span3"><a href="../icon/fighter-jet"><i class="icon-fighter-jet"></i> icon-fighter-jet</a></div>
    
      <div class="span3"><a href="../icon/film"><i class="icon-film"></i> icon-film</a></div>
    
      <div class="span3"><a href="../icon/filter"><i class="icon-filter"></i> icon-filter</a></div>
    
      <div class="span3"><a href="../icon/fire"><i class="icon-fire"></i> icon-fire</a></div>
    
      <div class="span3"><a href="../icon/fire-extinguisher"><i class="icon-fire-extinguisher"></i> icon-fire-extinguisher</a></div>
    
      <div class="span3"><a href="../icon/flag"><i class="icon-flag"></i> icon-flag</a></div>
    
      <div class="span3"><a href="../icon/flag-alt"><i class="icon-flag-alt"></i> icon-flag-alt</a></div>
    
      <div class="span3"><a href="../icon/flag-checkered"><i class="icon-flag-checkered"></i> icon-flag-checkered</a></div>
    
      <div class="span3"><a href="../icon/folder-close"><i class="icon-folder-close"></i> icon-folder-close</a></div>
    
      <div class="span3"><a href="../icon/folder-close-alt"><i class="icon-folder-close-alt"></i> icon-folder-close-alt</a></div>
    
      <div class="span3"><a href="../icon/folder-open"><i class="icon-folder-open"></i> icon-folder-open</a></div>
    
      <div class="span3"><a href="../icon/folder-open-alt"><i class="icon-folder-open-alt"></i> icon-folder-open-alt</a></div>
    
      <div class="span3"><a href="../icon/food"><i class="icon-food"></i> icon-food</a></div>
    
      <div class="span3"><a href="../icon/frown"><i class="icon-frown"></i> icon-frown</a></div>
    
      <div class="span3"><a href="../icon/gamepad"><i class="icon-gamepad"></i> icon-gamepad</a></div>
    
      <div class="span3"><a href="../icon/gift"><i class="icon-gift"></i> icon-gift</a></div>
    
      <div class="span3"><a href="../icon/glass"><i class="icon-glass"></i> icon-glass</a></div>
    
      <div class="span3"><a href="../icon/globe"><i class="icon-globe"></i> icon-globe</a></div>
    
      <div class="span3"><a href="../icon/group"><i class="icon-group"></i> icon-group</a></div>
    
      <div class="span3"><a href="../icon/hdd"><i class="icon-hdd"></i> icon-hdd</a></div>
    
      <div class="span3"><a href="../icon/headphones"><i class="icon-headphones"></i> icon-headphones</a></div>
    
      <div class="span3"><a href="../icon/heart"><i class="icon-heart"></i> icon-heart</a></div>
    
      <div class="span3"><a href="../icon/heart-empty"><i class="icon-heart-empty"></i> icon-heart-empty</a></div>
    
      <div class="span3"><a href="../icon/home"><i class="icon-home"></i> icon-home</a></div>
    
      <div class="span3"><a href="../icon/inbox"><i class="icon-inbox"></i> icon-inbox</a></div>
    
      <div class="span3"><a href="../icon/info"><i class="icon-info"></i> icon-info</a></div>
    
      <div class="span3"><a href="../icon/info-sign"><i class="icon-info-sign"></i> icon-info-sign</a></div>
    
      <div class="span3"><a href="../icon/key"><i class="icon-key"></i> icon-key</a></div>
    
      <div class="span3"><a href="../icon/keyboard"><i class="icon-keyboard"></i> icon-keyboard</a></div>
    
      <div class="span3"><a href="../icon/laptop"><i class="icon-laptop"></i> icon-laptop</a></div>
    
      <div class="span3"><a href="../icon/leaf"><i class="icon-leaf"></i> icon-leaf</a></div>
    
      <div class="span3"><a href="../icon/legal"><i class="icon-legal"></i> icon-legal</a></div>
    
      <div class="span3"><a href="../icon/lemon"><i class="icon-lemon"></i> icon-lemon</a></div>
    
      <div class="span3"><a href="../icon/level-down"><i class="icon-level-down"></i> icon-level-down</a></div>
    
      <div class="span3"><a href="../icon/level-up"><i class="icon-level-up"></i> icon-level-up</a></div>
    
      <div class="span3"><a href="../icon/lightbulb"><i class="icon-lightbulb"></i> icon-lightbulb</a></div>
    
      <div class="span3"><a href="../icon/location-arrow"><i class="icon-location-arrow"></i> icon-location-arrow</a></div>
    
      <div class="span3"><a href="../icon/lock"><i class="icon-lock"></i> icon-lock</a></div>
    
      <div class="span3"><a href="../icon/magic"><i class="icon-magic"></i> icon-magic</a></div>
    
      <div class="span3"><a href="../icon/magnet"><i class="icon-magnet"></i> icon-magnet</a></div>
    
      <div class="span3"><a href="../icon/share-alt"><i class="icon-mail-forward"></i> icon-mail-forward <span class="muted">(alias)</span></a></div>
    
      <div class="span3"><a href="../icon/reply"><i class="icon-mail-reply"></i> icon-mail-reply <span class="muted">(alias)</span></a></div>
    
      <div class="span3"><a href="../icon/mail-reply-all"><i class="icon-mail-reply-all"></i> icon-mail-reply-all</a></div>
    
      <div class="span3"><a href="../icon/male"><i class="icon-male"></i> icon-male</a></div>
    
      <div class="span3"><a href="../icon/map-marker"><i class="icon-map-marker"></i> icon-map-marker</a></div>
    
      <div class="span3"><a href="../icon/meh"><i class="icon-meh"></i> icon-meh</a></div>
    
      <div class="span3"><a href="../icon/microphone"><i class="icon-microphone"></i> icon-microphone</a></div>
    
      <div class="span3"><a href="../icon/microphone-off"><i class="icon-microphone-off"></i> icon-microphone-off</a></div>
    
      <div class="span3"><a href="../icon/minus"><i class="icon-minus"></i> icon-minus</a></div>
    
      <div class="span3"><a href="../icon/minus-sign"><i class="icon-minus-sign"></i> icon-minus-sign</a></div>
    
      <div class="span3"><a href="../icon/minus-sign-alt"><i class="icon-minus-sign-alt"></i> icon-minus-sign-alt</a></div>
    
      <div class="span3"><a href="../icon/mobile-phone"><i class="icon-mobile-phone"></i> icon-mobile-phone</a></div>
    
      <div class="span3"><a href="../icon/money"><i class="icon-money"></i> icon-money</a></div>
    
      <div class="span3"><a href="../icon/moon"><i class="icon-moon"></i> icon-moon</a></div>
    
      <div class="span3"><a href="../icon/move"><i class="icon-move"></i> icon-move</a></div>
    
      <div class="span3"><a href="../icon/music"><i class="icon-music"></i> icon-music</a></div>
    
      <div class="span3"><a href="../icon/off"><i class="icon-off"></i> icon-off</a></div>
    
      <div class="span3"><a href="../icon/ok"><i class="icon-ok"></i> icon-ok</a></div>
    
      <div class="span3"><a href="../icon/ok-circle"><i class="icon-ok-circle"></i> icon-ok-circle</a></div>
    
      <div class="span3"><a href="../icon/ok-sign"><i class="icon-ok-sign"></i> icon-ok-sign</a></div>
    
      <div class="span3"><a href="../icon/pencil"><i class="icon-pencil"></i> icon-pencil</a></div>
    
      <div class="span3"><a href="../icon/phone"><i class="icon-phone"></i> icon-phone</a></div>
    
      <div class="span3"><a href="../icon/phone-sign"><i class="icon-phone-sign"></i> icon-phone-sign</a></div>
    
      <div class="span3"><a href="../icon/picture"><i class="icon-picture"></i> icon-picture</a></div>
    
      <div class="span3"><a href="../icon/plane"><i class="icon-plane"></i> icon-plane</a></div>
    
      <div class="span3"><a href="../icon/plus"><i class="icon-plus"></i> icon-plus</a></div>
    
      <div class="span3"><a href="../icon/plus-sign"><i class="icon-plus-sign"></i> icon-plus-sign</a></div>
    
      <div class="span3"><a href="../icon/plus-sign-alt"><i class="icon-plus-sign-alt"></i> icon-plus-sign-alt</a></div>
    
      <div class="span3"><a href="../icon/off"><i class="icon-power-off"></i> icon-power-off <span class="muted">(alias)</span></a></div>
    
      <div class="span3"><a href="../icon/print"><i class="icon-print"></i> icon-print</a></div>
    
      <div class="span3"><a href="../icon/pushpin"><i class="icon-pushpin"></i> icon-pushpin</a></div>
    
      <div class="span3"><a href="../icon/puzzle-piece"><i class="icon-puzzle-piece"></i> icon-puzzle-piece</a></div>
    
      <div class="span3"><a href="../icon/qrcode"><i class="icon-qrcode"></i> icon-qrcode</a></div>
    
      <div class="span3"><a href="../icon/question"><i class="icon-question"></i> icon-question</a></div>
    
      <div class="span3"><a href="../icon/question-sign"><i class="icon-question-sign"></i> icon-question-sign</a></div>
    
      <div class="span3"><a href="../icon/quote-left"><i class="icon-quote-left"></i> icon-quote-left</a></div>
    
      <div class="span3"><a href="../icon/quote-right"><i class="icon-quote-right"></i> icon-quote-right</a></div>
    
      <div class="span3"><a href="../icon/random"><i class="icon-random"></i> icon-random</a></div>
    
      <div class="span3"><a href="../icon/refresh"><i class="icon-refresh"></i> icon-refresh</a></div>
    
      <div class="span3"><a href="../icon/remove"><i class="icon-remove"></i> icon-remove</a></div>
    
      <div class="span3"><a href="../icon/remove-circle"><i class="icon-remove-circle"></i> icon-remove-circle</a></div>
    
      <div class="span3"><a href="../icon/remove-sign"><i class="icon-remove-sign"></i> icon-remove-sign</a></div>
    
      <div class="span3"><a href="../icon/reorder"><i class="icon-reorder"></i> icon-reorder</a></div>
    
      <div class="span3"><a href="../icon/reply"><i class="icon-reply"></i> icon-reply</a></div>
    
      <div class="span3"><a href="../icon/reply-all"><i class="icon-reply-all"></i> icon-reply-all</a></div>
    
      <div class="span3"><a href="../icon/resize-horizontal"><i class="icon-resize-horizontal"></i> icon-resize-horizontal</a></div>
    
      <div class="span3"><a href="../icon/resize-vertical"><i class="icon-resize-vertical"></i> icon-resize-vertical</a></div>
    
      <div class="span3"><a href="../icon/retweet"><i class="icon-retweet"></i> icon-retweet</a></div>
    
      <div class="span3"><a href="../icon/road"><i class="icon-road"></i> icon-road</a></div>
    
      <div class="span3"><a href="../icon/rocket"><i class="icon-rocket"></i> icon-rocket</a></div>
    
      <div class="span3"><a href="../icon/rss"><i class="icon-rss"></i> icon-rss</a></div>
    
      <div class="span3"><a href="../icon/rss-sign"><i class="icon-rss-sign"></i> icon-rss-sign</a></div>
    
      <div class="span3"><a href="../icon/screenshot"><i class="icon-screenshot"></i> icon-screenshot</a></div>
    
      <div class="span3"><a href="../icon/search"><i class="icon-search"></i> icon-search</a></div>
    
      <div class="span3"><a href="../icon/share"><i class="icon-share"></i> icon-share</a></div>
    
      <div class="span3"><a href="../icon/share-alt"><i class="icon-share-alt"></i> icon-share-alt</a></div>
    
      <div class="span3"><a href="../icon/share-sign"><i class="icon-share-sign"></i> icon-share-sign</a></div>
    
      <div class="span3"><a href="../icon/shield"><i class="icon-shield"></i> icon-shield</a></div>
    
      <div class="span3"><a href="../icon/shopping-cart"><i class="icon-shopping-cart"></i> icon-shopping-cart</a></div>
    
      <div class="span3"><a href="../icon/sign-blank"><i class="icon-sign-blank"></i> icon-sign-blank</a></div>
    
      <div class="span3"><a href="../icon/signal"><i class="icon-signal"></i> icon-signal</a></div>
    
      <div class="span3"><a href="../icon/signin"><i class="icon-signin"></i> icon-signin</a></div>
    
      <div class="span3"><a href="../icon/signout"><i class="icon-signout"></i> icon-signout</a></div>
    
      <div class="span3"><a href="../icon/sitemap"><i class="icon-sitemap"></i> icon-sitemap</a></div>
    
      <div class="span3"><a href="../icon/smile"><i class="icon-smile"></i> icon-smile</a></div>
    
      <div class="span3"><a href="../icon/sort"><i class="icon-sort"></i> icon-sort</a></div>
    
      <div class="span3"><a href="../icon/sort-by-alphabet"><i class="icon-sort-by-alphabet"></i> icon-sort-by-alphabet</a></div>
    
      <div class="span3"><a href="../icon/sort-by-alphabet-alt"><i class="icon-sort-by-alphabet-alt"></i> icon-sort-by-alphabet-alt</a></div>
    
      <div class="span3"><a href="../icon/sort-by-attributes"><i class="icon-sort-by-attributes"></i> icon-sort-by-attributes</a></div>
    
      <div class="span3"><a href="../icon/sort-by-attributes-alt"><i class="icon-sort-by-attributes-alt"></i> icon-sort-by-attributes-alt</a></div>
    
      <div class="span3"><a href="../icon/sort-by-order"><i class="icon-sort-by-order"></i> icon-sort-by-order</a></div>
    
      <div class="span3"><a href="../icon/sort-by-order-alt"><i class="icon-sort-by-order-alt"></i> icon-sort-by-order-alt</a></div>
    
      <div class="span3"><a href="../icon/sort-down"><i class="icon-sort-down"></i> icon-sort-down</a></div>
    
      <div class="span3"><a href="../icon/sort-up"><i class="icon-sort-up"></i> icon-sort-up</a></div>
    
      <div class="span3"><a href="../icon/spinner"><i class="icon-spinner"></i> icon-spinner</a></div>
    
      <div class="span3"><a href="../icon/star"><i class="icon-star"></i> icon-star</a></div>
    
      <div class="span3"><a href="../icon/star-empty"><i class="icon-star-empty"></i> icon-star-empty</a></div>
    
      <div class="span3"><a href="../icon/star-half"><i class="icon-star-half"></i> icon-star-half</a></div>
    
      <div class="span3"><a href="../icon/star-half-empty"><i class="icon-star-half-empty"></i> icon-star-half-empty</a></div>
    
      <div class="span3"><a href="../icon/star-half-empty"><i class="icon-star-half-full"></i> icon-star-half-full <span class="muted">(alias)</span></a></div>
    
      <div class="span3"><a href="../icon/subscript"><i class="icon-subscript"></i> icon-subscript</a></div>
    
      <div class="span3"><a href="../icon/suitcase"><i class="icon-suitcase"></i> icon-suitcase</a></div>
    
      <div class="span3"><a href="../icon/sun"><i class="icon-sun"></i> icon-sun</a></div>
    
      <div class="span3"><a href="../icon/superscript"><i class="icon-superscript"></i> icon-superscript</a></div>
    
      <div class="span3"><a href="../icon/tablet"><i class="icon-tablet"></i> icon-tablet</a></div>
    
      <div class="span3"><a href="../icon/tag"><i class="icon-tag"></i> icon-tag</a></div>
    
      <div class="span3"><a href="../icon/tags"><i class="icon-tags"></i> icon-tags</a></div>
    
      <div class="span3"><a href="../icon/tasks"><i class="icon-tasks"></i> icon-tasks</a></div>
    
      <div class="span3"><a href="../icon/terminal"><i class="icon-terminal"></i> icon-terminal</a></div>
    
      <div class="span3"><a href="../icon/thumbs-down"><i class="icon-thumbs-down"></i> icon-thumbs-down</a></div>
    
      <div class="span3"><a href="../icon/thumbs-down-alt"><i class="icon-thumbs-down-alt"></i> icon-thumbs-down-alt</a></div>
    
      <div class="span3"><a href="../icon/thumbs-up"><i class="icon-thumbs-up"></i> icon-thumbs-up</a></div>
    
      <div class="span3"><a href="../icon/thumbs-up-alt"><i class="icon-thumbs-up-alt"></i> icon-thumbs-up-alt</a></div>
    
      <div class="span3"><a href="../icon/ticket"><i class="icon-ticket"></i> icon-ticket</a></div>
    
      <div class="span3"><a href="../icon/time"><i class="icon-time"></i> icon-time</a></div>
    
      <div class="span3"><a href="../icon/tint"><i class="icon-tint"></i> icon-tint</a></div>
    
      <div class="span3"><a href="../icon/trash"><i class="icon-trash"></i> icon-trash</a></div>
    
      <div class="span3"><a href="../icon/trophy"><i class="icon-trophy"></i> icon-trophy</a></div>
    
      <div class="span3"><a href="../icon/truck"><i class="icon-truck"></i> icon-truck</a></div>
    
      <div class="span3"><a href="../icon/umbrella"><i class="icon-umbrella"></i> icon-umbrella</a></div>
    
      <div class="span3"><a href="../icon/check-empty"><i class="icon-unchecked"></i> icon-unchecked <span class="muted">(alias)</span></a></div>
    
      <div class="span3"><a href="../icon/unlock"><i class="icon-unlock"></i> icon-unlock</a></div>
    
      <div class="span3"><a href="../icon/unlock-alt"><i class="icon-unlock-alt"></i> icon-unlock-alt</a></div>
    
      <div class="span3"><a href="../icon/upload"><i class="icon-upload"></i> icon-upload</a></div>
    
      <div class="span3"><a href="../icon/upload-alt"><i class="icon-upload-alt"></i> icon-upload-alt</a></div>
    
      <div class="span3"><a href="../icon/user"><i class="icon-user"></i> icon-user</a></div>
    
      <div class="span3"><a href="../icon/volume-down"><i class="icon-volume-down"></i> icon-volume-down</a></div>
    
      <div class="span3"><a href="../icon/volume-off"><i class="icon-volume-off"></i> icon-volume-off</a></div>
    
      <div class="span3"><a href="../icon/volume-up"><i class="icon-volume-up"></i> icon-volume-up</a></div>
    
      <div class="span3"><a href="../icon/warning-sign"><i class="icon-warning-sign"></i> icon-warning-sign</a></div>
    
      <div class="span3"><a href="../icon/wrench"><i class="icon-wrench"></i> icon-wrench</a></div>
    
      <div class="span3"><a href="../icon/zoom-in"><i class="icon-zoom-in"></i> icon-zoom-in</a></div>
    
      <div class="span3"><a href="../icon/zoom-out"><i class="icon-zoom-out"></i> icon-zoom-out</a></div>
    
  </div>
            <!--start: icons 
               <h3>Iconos glyphs</h3>
              <p>Set de 140 iconos <a target="_blank" href="http://glyphicons.com">Glyphicons</a> que cuentan con mayor calidad al momento de diseñar así como ya estar montados en CSS y permitir acceso solamente desde la clase. Son de Código abierto y hay una gran variedad ademas de ser compatibles con todos los demas componentes.</p>
              <ul class="the-icons clearfix">
                <li><i class="icon-glass"></i> icon-glass</li>
                <li><i class="icon-music"></i> icon-music</li>
                <li><i class="icon-search"></i> icon-search</li>
                <li><i class="icon-envelope"></i> icon-envelope</li>
                <li><i class="icon-heart"></i> icon-heart</li>
                <li><i class="icon-star"></i> icon-star</li>
                <li><i class="icon-star-empty"></i> icon-star-empty</li>
                <li><i class="icon-user"></i> icon-user</li>
                <li><i class="icon-film"></i> icon-film</li>
                <li><i class="icon-th-large"></i> icon-th-large</li>
                <li><i class="icon-th"></i> icon-th</li>
                <li><i class="icon-th-list"></i> icon-th-list</li>
                <li><i class="icon-ok"></i> icon-ok</li>
                <li><i class="icon-remove"></i> icon-remove</li>
                <li><i class="icon-zoom-in"></i> icon-zoom-in</li>
                <li><i class="icon-zoom-out"></i> icon-zoom-out</li>
                <li><i class="icon-off"></i> icon-off</li>
                <li><i class="icon-signal"></i> icon-signal</li>
                <li><i class="icon-cog"></i> icon-cog</li>
                <li><i class="icon-trash"></i> icon-trash</li>
                <li><i class="icon-home"></i> icon-home</li>
                <li><i class="icon-file"></i> icon-file</li>
                <li><i class="icon-time"></i> icon-time</li>
                <li><i class="icon-road"></i> icon-road</li>
                <li><i class="icon-download-alt"></i> icon-download-alt</li>
                <li><i class="icon-download"></i> icon-download</li>
                <li><i class="icon-upload"></i> icon-upload</li>
                <li><i class="icon-inbox"></i> icon-inbox</li>
                <li><i class="icon-play-circle"></i> icon-play-circle</li>
                <li><i class="icon-repeat"></i> icon-repeat</li>
                <li><i class="icon-refresh"></i> icon-refresh</li>
                <li><i class="icon-list-alt"></i> icon-list-alt</li>
                <li><i class="icon-lock"></i> icon-lock</li>
                <li><i class="icon-flag"></i> icon-flag</li>
                <li><i class="icon-headphones"></i> icon-headphones</li>
                <li><i class="icon-volume-off"></i> icon-volume-off</li>
                <li><i class="icon-volume-down"></i> icon-volume-down</li>
                <li><i class="icon-volume-up"></i> icon-volume-up</li>
                <li><i class="icon-qrcode"></i> icon-qrcode</li>
                <li><i class="icon-barcode"></i> icon-barcode</li>
                <li><i class="icon-tag"></i> icon-tag</li>
                <li><i class="icon-tags"></i> icon-tags</li>
                <li><i class="icon-book"></i> icon-book</li>
                <li><i class="icon-bookmark"></i> icon-bookmark</li>
                <li><i class="icon-print"></i> icon-print</li>
                <li><i class="icon-camera"></i> icon-camera</li>
                <li><i class="icon-font"></i> icon-font</li>
                <li><i class="icon-bold"></i> icon-bold</li>
                <li><i class="icon-italic"></i> icon-italic</li>
                <li><i class="icon-text-height"></i> icon-text-height</li>
                <li><i class="icon-text-width"></i> icon-text-width</li>
                <li><i class="icon-align-left"></i> icon-align-left</li>
                <li><i class="icon-align-center"></i> icon-align-center</li>
                <li><i class="icon-align-right"></i> icon-align-right</li>
                <li><i class="icon-align-justify"></i> icon-align-justify</li>
                <li><i class="icon-list"></i> icon-list</li>
                <li><i class="icon-indent-left"></i> icon-indent-left</li>
                <li><i class="icon-indent-right"></i> icon-indent-right</li>
                <li><i class="icon-facetime-video"></i> icon-facetime-video</li>
                <li><i class="icon-picture"></i> icon-picture</li>
                <li><i class="icon-pencil"></i> icon-pencil</li>
                <li><i class="icon-map-marker"></i> icon-map-marker</li>
                <li><i class="icon-adjust"></i> icon-adjust</li>
                <li><i class="icon-tint"></i> icon-tint</li>
                <li><i class="icon-edit"></i> icon-edit</li>
                <li><i class="icon-share"></i> icon-share</li>
                <li><i class="icon-check"></i> icon-check</li>
                <li><i class="icon-move"></i> icon-move</li>
                <li><i class="icon-step-backward"></i> icon-step-backward</li>
                <li><i class="icon-fast-backward"></i> icon-fast-backward</li>
                <li><i class="icon-backward"></i> icon-backward</li>
                <li><i class="icon-play"></i> icon-play</li>
                <li><i class="icon-pause"></i> icon-pause</li>
                <li><i class="icon-stop"></i> icon-stop</li>
                <li><i class="icon-forward"></i> icon-forward</li>
                <li><i class="icon-fast-forward"></i> icon-fast-forward</li>
                <li><i class="icon-step-forward"></i> icon-step-forward</li>
                <li><i class="icon-eject"></i> icon-eject</li>
                <li><i class="icon-chevron-left"></i> icon-chevron-left</li>
                <li><i class="icon-chevron-right"></i> icon-chevron-right</li>
                <li><i class="icon-plus-sign"></i> icon-plus-sign</li>
                <li><i class="icon-minus-sign"></i> icon-minus-sign</li>
                <li><i class="icon-remove-sign"></i> icon-remove-sign</li>
                <li><i class="icon-ok-sign"></i> icon-ok-sign</li>
                <li><i class="icon-question-sign"></i> icon-question-sign</li>
                <li><i class="icon-info-sign"></i> icon-info-sign</li>
                <li><i class="icon-screenshot"></i> icon-screenshot</li>
                <li><i class="icon-remove-circle"></i> icon-remove-circle</li>
                <li><i class="icon-ok-circle"></i> icon-ok-circle</li>
                <li><i class="icon-ban-circle"></i> icon-ban-circle</li>
                <li><i class="icon-arrow-left"></i> icon-arrow-left</li>
                <li><i class="icon-arrow-right"></i> icon-arrow-right</li>
                <li><i class="icon-arrow-up"></i> icon-arrow-up</li>
                <li><i class="icon-arrow-down"></i> icon-arrow-down</li>
                <li><i class="icon-share-alt"></i> icon-share-alt</li>
                <li><i class="icon-resize-full"></i> icon-resize-full</li>
                <li><i class="icon-resize-small"></i> icon-resize-small</li>
                <li><i class="icon-plus"></i> icon-plus</li>
                <li><i class="icon-minus"></i> icon-minus</li>
                <li><i class="icon-asterisk"></i> icon-asterisk</li>
                <li><i class="icon-exclamation-sign"></i> icon-exclamation-sign</li>
                <li><i class="icon-gift"></i> icon-gift</li>
                <li><i class="icon-leaf"></i> icon-leaf</li>
                <li><i class="icon-fire"></i> icon-fire</li>
                <li><i class="icon-eye-open"></i> icon-eye-open</li>
                <li><i class="icon-eye-close"></i> icon-eye-close</li>
                <li><i class="icon-warning-sign"></i> icon-warning-sign</li>
                <li><i class="icon-plane"></i> icon-plane</li>
                <li><i class="icon-calendar"></i> icon-calendar</li>
                <li><i class="icon-random"></i> icon-random</li>
                <li><i class="icon-comment"></i> icon-comment</li>
                <li><i class="icon-magnet"></i> icon-magnet</li>
                <li><i class="icon-chevron-up"></i> icon-chevron-up</li>
                <li><i class="icon-chevron-down"></i> icon-chevron-down</li>
                <li><i class="icon-retweet"></i> icon-retweet</li>
                <li><i class="icon-shopping-cart"></i> icon-shopping-cart</li>
                <li><i class="icon-folder-close"></i> icon-folder-close</li>
                <li><i class="icon-folder-open"></i> icon-folder-open</li>
                <li><i class="icon-resize-vertical"></i> icon-resize-vertical</li>
                <li><i class="icon-resize-horizontal"></i> icon-resize-horizontal</li>
                <li><i class="icon-hdd"></i> icon-hdd</li>
                <li><i class="icon-bullhorn"></i> icon-bullhorn</li>
                <li><i class="icon-bell"></i> icon-bell</li>
                <li><i class="icon-certificate"></i> icon-certificate</li>
                <li><i class="icon-thumbs-up"></i> icon-thumbs-up</li>
                <li><i class="icon-thumbs-down"></i> icon-thumbs-down</li>
                <li><i class="icon-hand-right"></i> icon-hand-right</li>
                <li><i class="icon-hand-left"></i> icon-hand-left</li>
                <li><i class="icon-hand-up"></i> icon-hand-up</li>
                <li><i class="icon-hand-down"></i> icon-hand-down</li>
                <li><i class="icon-circle-arrow-right"></i> icon-circle-arrow-right</li>
                <li><i class="icon-circle-arrow-left"></i> icon-circle-arrow-left</li>
                <li><i class="icon-circle-arrow-up"></i> icon-circle-arrow-up</li>
                <li><i class="icon-circle-arrow-down"></i> icon-circle-arrow-down</li>
                <li><i class="icon-globe"></i> icon-globe</li>
                <li><i class="icon-wrench"></i> icon-wrench</li>
                <li><i class="icon-tasks"></i> icon-tasks</li>
                <li><i class="icon-filter"></i> icon-filter</li>
                <li><i class="icon-briefcase"></i> icon-briefcase</li>
                <li><i class="icon-fullscreen"></i> icon-fullscreen</li>
              </ul>
              <h3>Glyphicons attribution</h3>
              <p><a href="http://glyphicons.com/">Glyphicons</a> Halflings are normally not available for free, but an arrangement between Bootstrap and the Glyphicons creators have made this possible at no cost to you as developers. As a thank you, we ask you to include an optional link back to <a href="http://glyphicons.com/">Glyphicons</a> whenever practical.</p>
              <hr class="bs-docs-separator">
            </section>
           End: Icons -->
            <!--start: Alert boxes-->
            <section class="s-holder">
              <h3>Cajas de error</h3>
              <div class="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Cuidado!</strong> Por favor verifica 2 veces lo que vas a modificar. </div>
              <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Error!</strong> Cambia todo y vuelve a intentar. </div>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>¡Bien Hecho!</strong> Cambios hechos correctamente. </div>
              <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Recomendación</strong> Te recomendamos estar atento a este mensaje. </div>
            </section>
            <!-- end: Alert boxes -->
            <!--start: Progress Bars-->
            <section class="s-holder">
              <h3>Barras de progreso</h3>
              <div class="row-fluid">
                <div class="span4">
                  <div class="progress">
                    <div class="bar" style="width: 60%;"></div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="bar" style="width: 20%;"></div>
                  </div>
                  <div class="progress progress-striped active">
                    <div class="bar" style="width: 40%;"></div>
                  </div>
                  <div class="progress">
                    <div class="bar bar-success" style="width: 35%;"></div>
                    <div class="bar bar-warning" style="width: 20%;"></div>
                    <div class="bar bar-danger" style="width: 10%;"></div>
                  </div>
                </div>
                <div class="span4">
                  <div class="progress progress-info">
                    <div class="bar" style="width: 20%"></div>
                  </div>
                  <div class="progress progress-success">
                    <div class="bar" style="width: 40%"></div>
                  </div>
                  <div class="progress progress-warning">
                    <div class="bar" style="width: 60%"></div>
                  </div>
                  <div class="progress progress-danger">
                    <div class="bar" style="width: 80%"></div>
                  </div>
                </div>
                <div class="span4">
                  <div class="progress progress-info progress-striped">
                    <div class="bar" style="width: 20%"></div>
                  </div>
                  <div class="progress progress-success progress-striped active">
                    <div class="bar" style="width: 40%"></div>
                  </div>
                  <div class="progress progress-warning progress-striped">
                    <div class="bar" style="width: 60%"></div>
                  </div>
                  <div class="progress progress-danger progress-striped active">
                    <div class="bar" style="width: 80%"></div>
                  </div>
                </div>
              </div>
            </section>
            <!-- end: Progress Bars -->
            <!--start: buttons Bars-->
            <section class="s-holder">
              <div class="demonstrate-table">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Botones</th>
                      <th>Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><button type="button" class="btn">Default</button></td>
                      <td>Botón por defecto sencillo</td>
                    </tr>
                    <tr>
                      <td><button type="button" class="btn btn-primary">Primario</button></td>
                      <td>Acción principal</td>
                    </tr>
                    <tr>
                      <td><button type="button" class="btn btn-info">Información</button></td>
                      <td>¿Deseas saber mas?</td>
                    </tr>
                    <tr>
                      <td><button type="button" class="btn btn-success">Confirmar</button></td>
                      <td>Acción Positiva</td>
                    </tr>
                    <tr>
                      <td><button type="button" class="btn btn-warning">Preventiva</button></td>
                      <td>Acción para prevención</td>
                    </tr>
                    <tr>
                      <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                      <td>Acción negativa</td>
                    </tr>
                    <tr>
                      <td><button type="button" class="btn btn-inverse">Deshacer</button></td>
                      <td>Acción contraria</td>
                    </tr>
                    <tr>
                      <td><button type="button" class="btn btn-link">Link</button></td>
                      <td>Unicamente un enlace sencillo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
            <!--End: buttons Bars-->
            <!-- Start: Tabs&nav 
            <section class="s-holder">
              <div class="row-fluid show-grid">
                <div class="span6">
                  <h3>Tabs</h3>
                  <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
                    <li><a href="#tab2" data-toggle="tab">Tab 2</a></li>
                    <li><a href="#tab3" data-toggle="tab">Tab 3</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                      <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                    </div>
                  </div>
                </div>
                <div class="span6">
                  <h3>Navigation</h3>
                  <ul class="nav nav-list">
                    <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
                    <li><a href="#"><i class="icon-book"></i> Library</a></li>
                    <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
                    <li><a href="#"><i class="i"></i> Misc</a></li>
                  </ul>
                </div>
              </div>
            </section>
             End: Tabs -->
            <!-- start: Blockquote&toltip -->
            <section class="s-holder">
              <div class="row-fluid">
                <!-- start: Blockquote -->
                <div class="span12">
                  <h3>Citas</h3>
                  <blockquote> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </blockquote>
                </div>
                <!-- end: Blockquote -->
              </div>
            </section>
            <!-- End: Blockquote&toltip -->
            <!-- start: Dropcaps -->
            <section class="s-holder">
              <div class="sixteen columns">
                <h3>Textos largos</h3>
                <p> <span class="dropcap">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
                <p> <span class="dropcap dark">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
                <p> <span class="dropcap color">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
              </div>
            </section>
            <!-- end: Dropcaps -->
            <!-- start: google map -->
            <section class="s-holder">
              <div class="underlined-title">
                <h3>Mapas</h3>
                <div class="text-divider5"> <span></span> </div>
              </div>
              <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Mockingbird+Station,+Dallas,+TX&amp;aq=1&amp;oq=mockinStation,+Dallas,+TX&amp;sll=32.786144,-96.788897&amp;sspn=0.00929,0.018947&amp;ie=UTF8&amp;hq=&amp;hnear=Mockingbird+Station,+Dallas,+Texas+75206&amp;t=m&amp;ll=32.845774,-96.772385&amp;spn=0.043266,0.061712&amp;z=14&amp;iwloc=A&amp;output=embed" class="img-polaroid" style="width: 100%; height: 394px; border: none;"></iframe>
            </section>
            <!-- end: google map -->
            <!-- start: image frames -->
            
            <!-- start: message boxes -->
            <section class="s-holder">
              <div class="underlined-title">
                <h3>Cajas de Alerta</h3>
                <div class="text-divider5"> <span></span> </div>
              </div>
              <div class="alert alert-note">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
              </div>
              <div class="alert alert-error">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
              </div>
              <div class="alert alert-attention">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
              </div>
              <div class="alert alert-info">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
              </div>
              <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
              </div>
            </section>
            <!-- End: message boxes -->
            <!-- start: Dividers -->
            
            <!-- start: Dividers -->
            <!-- Start: serch field-->
            <h2>Formularios</h2>
            <h3>Botones con texto</h3>
            <p>Utilizaremos esta versión de Botones mucho mas intuitivos de usuarios.</p>
            <div class="input-append">
              <input class="span6" id="appendedInputButton" type="text">
              <button class="btn" type="button">Ir</button>
            </div>
            <br>
            <div class="input-append">
              <input class="span6" id="appendedInputButtons" type="text">
              <button class="btn" type="button">Opción 1</button>
              <button class="btn" type="button">Opción 2</button>
            </div>
            <h3>Botones con selección (Dropdown)</h3>
            <div class="input-append">
              <input type="text" id="appendedDropdownButton" class="span6">
              <div class="btn-group">
                <button data-toggle="dropdown" class="btn dropdown-toggle">Cambiar Status <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Aprovado</a></li>
                  <li><a href="#">Rechazado</a></li>
                  <li><a href="#">Editar</a></li>
                </ul>
              </div>
              <!-- /btn-group -->
            </div>
            <div class="input-prepend">
              <div class="btn-group">
                <button data-toggle="dropdown" class="btn dropdown-toggle">Cambiar Status <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Aprovado</a></li>
                      <li><a href="#">Rechazado</a></li>
                      <li><a href="#">Editar</a></li>
                </ul>
              </div>
              <!-- /btn-group -->
             
              <!-- /btn-group -->
            </div>
            <h3>Botón de segmento con acción de Dropdown aparte</h3>
            <div class="input-prepend">
              <div class="btn-group">
                <button tabindex="-1" class="btn">Principal</button>
                <button tabindex="-1" data-toggle="dropdown" class="btn dropdown-toggle"> <span class="caret"></span> </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Aprovado</a></li>
                      <li><a href="#">Rechazado</a></li>
                      <li><a href="#">Editar</a></li>
                </ul>
              </div>
              <input type="text">
            </div>
            <div class="input-append">
              <input type="text">
              <div class="btn-group">
                <button tabindex="-1" class="btn">Principal</button>
                <button tabindex="-1" data-toggle="dropdown" class="btn dropdown-toggle"> <span class="caret"></span> </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Aprovado</a></li>
                      <li><a href="#">Rechazado</a></li>
                      <li><a href="#">Editar</a></li>
                </ul>
              </div>
            </div>
            
            <h3>Inputs</h3>
            <div class="controls">
              <input type="text" placeholder=".input-block-level" class="input-block-level">
            </div>
            <h3>Inputs por tamaños</h3>
            <input class="input-mini" type="text" placeholder=".input-mini">
            <input class="input-small" type="text" placeholder=".input-small">
            <input class="input-medium" type="text" placeholder=".input-medium">
            <input class="input-large" type="text" placeholder=".input-large">
            <input class="input-xlarge" type="text" placeholder=".input-xlarge">
            <input class="input-xxlarge" type="text" placeholder=".input-xxlarge">
            <!-- End: serch field-->
          </article>
		</section>
		</section>
		</section>
{% endblock %}