{% extends "baseown.html" %}
{% block content %}
<!-- Start of Header Banner -->
	<section class="banner_slider mbtm">
		 <ul id="banner_slider">
					{% for b in banner %}
					<li> 
						<img src="{{b.banner_resized.url}}" alt="Banner Slider" />
					</li>
					{% endfor %}
					
		 
		 </ul>
	 </section>
<!-- End of Header Banner -->

<!-- Start of Features Boxes -->
	<section id="ngo_features" class="mbtm">
		<section class="container-fluid container">
		<section class="row-fluid">
			<!-- Start of Features Box 1 -->

			
		<figure class="span3 feature">
			<a href="oscs/?grupo_atencion=menores_12&buscar_asistida=">
				<div class="ftr_img f-img-1"> 
					<span class="img"> Niñas y Niños </span>
				</div>
				<div class="ftr_txt">
					<strong> Niñas y Niños </strong>
				</div>
				<!--<p> River floods prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
				</div>-->
			</a>
		</figure>
		
			<!-- End of Features Boxes 1 -->
			
			<!-- Start of Features Box 2 -->
			
		<figure class="span3 feature">
			<a href="oscs/?grupo_atencion=jovenes_18&buscar_asistida=">
				<div class="ftr_img f-img-2"> 
					<span class="img"> Jóvenes </span>
				</div>
				<div class="ftr_txt">
					<strong> Jóvenes </strong>
				</div>
				<!--<p> Volcano alorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
				</div>-->
			</a>
		</figure>
			<!-- End of Features Boxes 2 -->
			
			<!-- Start of Features Box 3 --> 
		<figure class="span3 feature">
			<a href="oscs/?grupo_atencion=adultos&buscar_asistida=">
				<div class="ftr_img f-img-3"> 
					<span class="img"> Adultos  </span>
				</div>
				<div class="ftr_txt">
					<strong> Adultos </strong>
				</div>
				<!--<p> Malorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
				</div>-->
			</a>
		</figure>
		
			<!-- End of Features Boxes 3 -->
			
			<!-- Start of Features Box 4 -->
					
		<figure class="span3 feature">
			<a href="oscs/?grupo_atencion=adultos_mayores&buscar_asistida=">
				<div class="ftr_img f-img-4"> 
					<span class="img"> Adultos Mayores </span>
				</div>
				<div class="ftr_txt">
					<strong> Adultos Mayores </strong>
				</div>
				<!--<p> An malorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
				</div>-->
			</a>
		</figure>
		
 			<!-- End of Features Boxes 4 -->
	</section>
	</section>
	</section>
<!-- End of Features Boxes -->

<!-- Start of Donation Box -->
	<section id="donation_box" class="mbtm">
	<section class="container container-fluid">
		<section class="row-fluid">
		<figure class="span10">
			<h2> Con tu apoyo contribuimos a <strong> mejorar </strong> el <strong> futuro de la comunidad</strong> </h2>
		</figure>
		<figure class="span2">
			<form action="http://www.fundacionmerced.org/quiero-ayudar/donaciones-en-efectivo.html">
				<input type="hidden" value="5.00" name="amout" />
				<input type="hidden" value="USD" name="Currency" />
				<button  data-placement="top" data-rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle" type="submit">Quiero Ayudar</button>
			</form>
		</figure>
		</section>
	</section>
</section>
<!-- End of Donation Box -->
{% endblock %}

