{% extends "basedashboard.html" %}
{% block content %}
<form action='' method='POST' class="form-horizontal" role="form" enctype="multipart/form-data">
{% csrf_token %}

		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				{% if messages %}
					    {% for message in messages %}

							{% if message.tags %}
							{% if 'contrasena' in message.tags %}
					    		<div class='alert alert-success' id='alerta'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>{{ message|safe }}</strong></div>
							
					    	{% endif %}
					    	{% endif %}			    
					    {% endfor %}
					
					{% endif %}
				<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Modal title</h4>
							</div>
							<div class="modal-body">
								 Widget settings form goes here
							</div>
							<div class="modal-footer">
								<button type="button" class="btn blue">Save changes</button>
								<button type="button" class="btn default" data-dismiss="modal">Close</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				
				<!-- BEGIN STYLE CUSTOMIZER -->
				<div class="theme-panel">
					<div class="toggler tooltips" data-container="body" data-placement="left" data-html="true" data-original-title="Click to open advance theme customizer panel">
						<i class="icon-settings"></i>
					</div>
					<div class="toggler-close">
						<i class="icon-close"></i>
					</div>
					<div class="theme-options">
						<div class="theme-option theme-colors clearfix">
							<span>
							THEME COLOR </span>
							<ul>
								<li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default">
								</li>
								<li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey">
								</li>
								<li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue">
								</li>
								<li class="color-dark tooltips" data-style="dark" data-container="body" data-original-title="Dark">
								</li>
								<li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light">
								</li>
							</ul>
						</div>
						<div class="theme-option">
							<span>
							Layout </span>
							<select class="layout-option form-control input-small">
								<option value="fluid" selected="selected">Fluid</option>
								<option value="boxed">Boxed</option>
							</select>
						</div>
						<div class="theme-option">
							<span>
							Header </span>
							<select class="page-header-option form-control input-small">
								<option value="fixed" selected="selected">Fixed</option>
								<option value="default">Default</option>
							</select>
						</div>
						<div class="theme-option">
							<span>
							Sidebar Mode</span>
							<select class="sidebar-option form-control input-small">
								<option value="fixed">Fixed</option>
								<option value="default" selected="selected">Default</option>
							</select>
						</div>
						<div class="theme-option">
							<span>
							Sidebar Style</span>
							<select class="sidebar-style-option form-control input-small">
								<option value="default" selected="selected">Default</option>
								<option value="compact">Compact</option>
							</select>
						</div>
						<div class="theme-option">
							<span>
							Sidebar Menu </span>
							<select class="sidebar-menu-option form-control input-small">
								<option value="accordion" selected="selected">Accordion</option>
								<option value="hover">Hover</option>
							</select>
						</div>
						<div class="theme-option">
							<span>
							Sidebar Position </span>
							<select class="sidebar-pos-option form-control input-small">
								<option value="left" selected="selected">Left</option>
								<option value="right">Right</option>
							</select>
						</div>
						<div class="theme-option">
							<span>
							Footer </span>
							<select class="page-footer-option form-control input-small">
								<option value="fixed">Fixed</option>
								<option value="default" selected="selected">Default</option>
							</select>
						</div>
						<div class="theme-option">
							<a href="{RTL_LTR_URL}" target="_blank" class="btn red-sunglo btn-block"><i class="icon-link"></i> Full RTL Version!</a></a>
						</div>
					</div>
				</div>
				<!-- END STYLE CUSTOMIZER -->
				<!-- BEGIN PAGE HEADER-->

				<h3 class="page-title">
				Formulario de Afiliación <small></small>
				</h3>
				
				<div style="display:none" class='alert alert-info' id='alerta_borrador'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>Aviso!</strong> El borrador se ha guardado</div>
				{% if errores %}
				<div style="" class='alert alert-danger' id=''><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>Aviso!</strong> Hay errores en la forma</div>
				{% endif %}
				
				

				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="{% url "dashboard" %}">Inicio></a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="#">Formulario de Afiliación</a>
							<i class="fa fa-angle-right"></i>
						</li>

					</ul>
					<div class="page-toolbar">
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							{% if afiliacion.status == 'A' %}
							Aprobada 
							{% elif afiliacion.status == 'B' %}
							Borrador
							{% elif afiliacion.status == 'R' %}
							Revisión
							{% endif %}<i class="fa" ></i>
							</button>

						</div>
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">

					<div class="col-md-12 ">
						<!-- BEGIN SAMPLE FORM PORTLET-->
						<div class="portlet box green ">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-gift"></i> Formulario de Afiliación
								</div>
							</div>

							<div class="portlet-body form" >
							    <p style="margin:0px 20px 20px 30px;"><br/>Le informamos que los datos aquí proporcionados no generan ningúna obligación con FMQ. Simplemente nos ayudarán a indetificar sus intereses y necesidades, con el objetivo de ofrecer posibles oportunidades y/o canalizar donativos en especia. </br> </br> Le agradecemos su interés por colaborar con nosotros.
                				    </p>
							<div class="form-horizontal">
									<div class="form-body form-label-stripped">
								{{ form.non_field_errors }}
									
									{% for field in form.afiliacion %}
									{% cycle '<div class="row">' '' %}

									<div class="col-md-6">
									<div class="form-group {% if field.errors %}has-error{% endif %}">
                                    		<label class="control-label col-md-3">{{field.label_tag}}</label>
                                    			<div class="col-md-9">
                                    			    {{ field }}
                                    			    	<span class="help-block" style="color:green">{{field.help_text}}</span>
                                    					<span class="help-block" style="color:red">{% for error  in field.errors %}
                                                                    <div>{{error}}</div>
                                                                {% endfor %}</span>
                                    			</div>
                                    </div>
                                    </div>
                                    {% cycle '' '</div>' %}
                                    
									{% endfor %}
									<br><br><br>

						<div class="portlet box blue" style="margin:15px">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-gift"></i> Impacto social
								</div>
								<div class="tools">
									<a href="" class="collapse">
									</a>
								</div>
							</div>
							<div class="portlet-body form">

									<div class="form-body">
										{{ form.non_field_errors }}
										{% for field in form.impacto_social %}
										{% cycle '<div class="row">' '' %}
										<div class="col-md-6">
										<div class="form-group">

											<label class="col-md-3 control-label">{{field.label_tag}}</label>
											<div class="col-md-9">
												{{ field }}
												<span class="help-block" style="color:green">{{field.help_text}}</span>
												<span class="help-block" style="color:red">{% for error  in field.errors %}
                                                            <div>{{error}}</div>
                                                        {% endfor %}</span>
											</div>
										</div>
										</div>
										{% cycle '' '</div>' %}
									{% endfor %}

									</div>

							</div>

						</div>

						<div class="row" style="margin:10px">
						    <div class="col-md-6">
						    <div class="portlet box red ">

    							<div class="portlet-title">
    								<div class="caption">
    									<i class="fa fa-gift"></i> Necesidades Materiales
    								</div>
    								<div class="tools">
    									<a href="" class="collapse">
    									</a>

    								</div>
    								<div class="actions">
										<a href="#" class="btn btn-circle btn-default btn-sm add-material">
										<i class="fa fa-plus "></i> Agrega </a>
									</div>
    							</div>
    							<div class="portlet-body form material">

    									<div class="form-body">
    									    {{ formset.management_form }}
    										{% for form in formset %}
    										<h3 class="form-section"></h3>
    										    {{ form.non_field_errors }}
    										    <div id="necesidades-{{ forloop.counter0 }}">
    										    {% for field in form %}
    										    <div class="form-group {% if field.errors %}has-error{% endif %}">

    											    <label class="col-md-3 control-label" {% if field.name == 'id' %}hidden{% endif %}>{{field.label_tag}}</label>
    											    <div class="col-md-9">
    												    {{ field }}
    												    <span class="help-block" style="color:green">{{field.help_text}}</span>
    												    <span class="help-block" style="color:red">{% for error  in field.errors %}
                                                                    <div>{{error}}</div>
                                                                {% endfor %}</span>
    											    </div>
    										    </div>
    									        {% endfor %}
    									        </div>
    									    {% endfor %}
    									</div>

    							</div>

    						</div>
    						</div>
    						<div class="col-md-6">
    						    <div class="portlet box purple ">
        							<div class="portlet-title">
        								<div class="caption">
        									<i class="fa fa-gift"></i> Necesidades Humanas
        								</div>
        								<div class="tools">
        									<a href="" class="collapse">
        									</a>
        								</div>
        									<div class="actions">
        										<a href="#" class="btn btn-circle btn-default btn-sm add-humanas">
        										<i class="fa fa-plus "></i> Agrega </a>
        									</div>

        							</div>
        							<div class="portlet-body form humanas">

        									<div class="form-body">
        									    {{ formset2.management_form }}
        										{% for form in formset2 %}

        										<h3 class="form-section"></h3>
        										    {{ form.non_field_errors }}
        										    <div id="humanas-{{ forloop.counter0 }}">
        										    {% for field in form %}
        										    <div class="form-group {% if field.errors %}has-error{% endif %}">

        											    <label class="col-md-3 control-label" {% if field.name == 'id' %}hidden{% endif %}>{{field.label_tag}}</label>
        											    <div class="col-md-9">
        												    {{ field }}
        												    <span class="help-block" style="color:green">{{field.help_text}}</span>
        												    <span class="help-block" style="color:red">{% for error  in field.errors %}
                                                                        <div>{{error}}</div>
                                                                    {% endfor %}</span>
        											    </div>
        										    </div>
        									        {% endfor %}
        									        </div>
        									    {% endfor %}
        									</div>

        							</div>

        						</div>
    						</div>
						</div>

						<div class="row" style="margin:10px">
						    <div class="col-md-6">
						        <div class="portlet box yellow ">
        							<div class="portlet-title">
        								<div class="caption">
        									<i class="fa fa-gift"></i> Necesidades de Capacitación
        								</div>
        								<div class="tools">
        									<a href="" class="collapse">
        									</a>
        								</div>
        									<div class="actions">
        										<a href="#" class="btn btn-circle btn-default btn-sm add-capacitacion">
        										<i class="fa fa-plus "></i> Agrega </a>
        									</div>
        							</div>
        							<div class="portlet-body form capacitacion">

        									<div class="form-body">
        									    {{ formset3.management_form }}
        										{% for form in formset3 %}
        										<h3 class="form-section"></h3>
        										    {{ form.non_field_errors }}
        										    <div id="capacitacion-{{ forloop.counter0 }}">
        										    {% for field in form %}


        										    <div class="form-group {% if field.errors %}has-error{% endif %}">

        											    <label class="col-md-3 control-label" {% if field.name == 'id' %}hidden{% endif %}>{{field.label_tag}}</label>
        											    <div class="col-md-9">
        												    {{ field }}
        												    <span class="help-block" style="color:green">{{field.help_text}}</span>
        												    <span class="help-block" style="color:red">{% for error  in field.errors %}
                                                            <div>{{error}}</div>
                                                        {% endfor %}</span>
        											    </div>
        										    </div>
        									        {% endfor %}
        									        </div>
        									    {% endfor %}
        									</div>

        							</div>

        						</div>
						    </div>

						    <div class="col-md-6">

						        <div class="portlet box green ">
        							<div class="portlet-title">
        								<div class="caption">
        									<i class="fa fa-gift"></i> Servicios
        								</div>
        								<div class="tools">
        									<a href="" class="collapse">
        									</a>
        								</div>
        									<div class="actions">
        										<a href="#" class="btn btn-circle btn-default btn-sm add-servicios">
        										<i class="fa fa-plus "></i> Agrega </a>
        									</div>
        							</div>
        							<div class="portlet-body form servicios">

        									<div class="form-body">
        									    {{ formset4.management_form }}
        										{% for form in formset4 %}
        										<h3 class="form-section"></h3>
        										    {{ form.non_field_errors }}
        										    <div id="servicios-{{ forloop.counter0 }}">
        										    {% for field in form %}
        										    <div class="form-group {% if field.errors %}has-error{% endif %}">

        											    <label class="col-md-3 control-label" {% if field.name == 'id' %}hidden{% endif %}>{{field.label_tag}}</label>
        											    <div class="col-md-9">
        												    {{ field }}
        												    <span class="help-block" style="color:green">{{field.help_text}}</span>
        												    <span class="help-block" style="color:red">{% for error  in field.errors %}
                                                            <div>{{error}}</div>
                                                        {% endfor %}</span>
        											    </div>
        										    </div>
        									        {% endfor %}
        									        </div>
        									    {% endfor %}
        									</div>


        							</div>

        						</div>
						    </div>

						</div>


						<div class="form-actionss" style="margin:10px">
							{% if request.user.is_staff %}
								<button type="button" onclick="myFunction(0)" data-toggle="modal" data-target="#myModal" name="Cancelar" class="btn red">Rechazar</button>
							{% else %}
								<button type="submit" name="Cancelar" class="btn default">Cancelar</button>
							{% endif %}

							{% if request.user.is_staff %}
							    <button type="submit"  name="GUARDADO" class="btn yellow">Guardar Cambios</button>
							    <button type="button" onclick="myFunction(1)" data-toggle="modal" data-target="#myModal" name="Aprobar"  class="btn green">Aprobar</button>
							{% else %}
								<button type="submit"  name="Borrador" class="btn red">Guardar Borrador</button>
							<button type="submit" name="Revision"  class="btn green">Enviar para revisión</button>
							{% endif %}
						</div>
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->
		</form>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel"> <i class="fa fa-envelope-o" style="font-size:40px;"></i> <strong>Notificación de la afiliación </strong> </h3>
      </div>
      <div class="modal-body">
        <div class="form-group" style="padding:20px;">
		     
		   

            <label><strong>Asunto:</strong></label>
               <input type="text" id="text_asunto" class="form-control" rows="3" name="asunto"/>
            
            <br>
            
            <label><strong>Mensaje:</strong></label>
            <textarea id="textarea_mensaje" class="form-control" rows="7" name="mensaje" resize="off"></textarea>
      
      		<br>
            <label><input type="checkbox" id="msg_auto" name="msg_auto"> Respuesta automatizada</label>
            <br>
            <label id="label_msg_auto" hidden></label>

        

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary green" id="confmail" name="">Enviar Correo</button>
        <button type="button" class="btn btn-default red" data-dismiss="modal">Cancelar</button>
        
      </div>
    </div>
  </div>
</div>




{% endblock %}

{% block js %}
<script>
	function myFunction(val) {
		if (val == 0)
			var x = "CancelarM";
		else if(val == 1)
			var x = "AprobarM";
	    document.getElementById("confmail").setAttribute("name", x);
	}


$('#confmail').click(function(){

        var asunto = $('#text_asunto').val().trim();
        var mensaje = $('#textarea_mensaje').val().trim();

        if(asunto.length > 0 && mensaje.length > 0){

            $('#label_msg_auto').html('<font color="green">Enviando...</font>')
            $('#label_msg_auto').show();
            return true;

        }else{

            $('#label_msg_auto').html('<font color="red">Debe especificar el asunto y el mensaje del correo</font>');
            $('#label_msg_auto').show();
            return false;

        }

    });

    $('#msg_auto').click(function(){

        var checked = $(this).prop('checked');
        var nombre = $('#confmail').attr('name');

        if(checked){

        	var asunto = '';
        	var mensaje = '';

        	if(nombre == "AprobarM"){

        		asunto = "FMQ: Bienvenido a Fundación Merced Querétaro, AC.";
        		mensaje = $('#mensaje_aprobacion').html();

			}else if(nombre == "CancelarM"){

				asunto = "FMQ: Revisar solicitud de afiliación";
        		mensaje = $('#mensaje_rechazo').html();

        	}

            
            $('#text_asunto').val(asunto);
            $('#textarea_mensaje').val(mensaje);
            $('#label_msg_auto').html('<font color="green">Se enviará una respuesta automatizada a la OSC de ésta sinergia para que la evalúe</font>');
            $('#label_msg_auto').show();

        }else{

            $('#text_asunto').val('');
            $('#textarea_mensaje').val('');
            $('#label_msg_auto').hide();
            
        }

    });


    $('#id_afiliacion-estado').change(function(){

		var municipios = $('#municipios_'+this.selectedIndex).html();
		
		$('#id_afiliacion-municipio').html(municipios);
		
	});

</script>

<!-- EMPIEZA sección de soporte para estados y municipios -->
<!-- No mover su orden, es importante que el contenido vaya antes del javascript -->

<script type="text/html" id="estados">
	<option value="">---------</option>
	{% for e in estados %}
		<option value="{{e.id}}">{{e.nombre}}</option>
	{% endfor %}
</script>

<!-- Municipio de nada -->
<script type="text/html" id="municipios_0">
	<option value="">---------</option>
</script>

{% for m in municipios %}
<script type="text/html" id="municipios_{{forloop.counter}}">
	{% for index in m %}
		<option value="{{index.id}}">{{index.nombre}}</option>
	{% endfor %}
</script>
{% endfor %}

<script>
/************ Este codigo solo se ejecuta una vez **********/

	var e_value = $('#id_afiliacion-estado').val();
	var m_value = $('#id_afiliacion-municipio').val();

	var estados = $('#estados').html();
	$('#id_afiliacion-estado').html(estados);

		
	$('#id_afiliacion-estado').val(e_value);
	var e_index = document.getElementById('id_afiliacion-estado').selectedIndex;
	//var e_index = $('#id_afiliacion-estado').index();
	
	var municipios = $('#municipios_'+e_index).html();
	$('#id_afiliacion-municipio').html(municipios);
	$('#id_afiliacion-municipio').val(m_value);

/*********** Este codigo solo se ejecuta una vez **********/
</script>
<!-- TERMINA sección de soporte para estados y municipios -->

<script type="text/html" id="mensaje_rechazo">
Hemos revisado tu Afiliación y detectamos que te falta información  para completar exitosamente este trámite con FMQ. Actualmente tu estatus es de Borrador, te invitamos a acceder y completar tu perfil en el siguiente link: <sitio_link>

La información que requerimos completes y/o corrijas es la siguiente:

-Nombre completo de la organización	
-Figura jurídica de la organización
-Año de constitución
-RFC
-CLUNI
-Señalar si es donataria autorizada nacional
-Señalar si es donataria autorizada internacional
-Señalar si es cuenta con el Distintivo de Institucionalidad y Transparencia CEMEFI
-Principal municipio en el que realiza sus actividades
-Domicilio legal	
-Municipio
-Estado	
-Teléfono de oficina (Incluyendo Lada)
-Email de contacto institucional	
-Sitio de Internet de la organización
-Facebook	
-Twitter
-Nombre de la/el presidente de la organización
-Email	
-Nombre de la/el responsable directo de la operación de la organización
-Cargo
-Email
-Principal temática que trabaja la OSC
-Temática específica
-Misión
-Visión
-Principales Servicios ofertados por la OSC
-Cantidad de beneficiarios atendidos por sector poblacional.
-Número total de colaboradores en su organización:
-Número de colaboradores remunerados en su organización:	
-Número de colaboradores voluntarios en su organización:	
-Señalar la principal fuente de ingresos de la organización
-Señalar qué porcentaje representa esta fuente en el ingreso anual de OSC
-Costo operativo anual de la organización 
-Señalar si su organización forma parte de alguna Red
-Nombre de la Red	
-Señalar si su organización tiene Convenio de Donación firmado con Fundación Merced Querétaro
-Señalar si autorizan a FMQ a compartir la información general sobre su organización (ligas a sitio web y datos generales de contacto)
-Nombre de la persona quien llenó este formato de afiliación:
-Señalar si la/el representante legal ha autorizado la información que se encuentra en este formato de afiliación


Recuerda que al completar la afiliación podrás tener información de primera mano respecto a la oferta de capacitación especializada para nuestro sector, costos preferenciales en talleres y cursos de FMQ, difusión de tu organización y sus eventos en nuestro sitio web y redes sociales, asesoría personalizada, entre otros beneficios.

Te recordamos que los datos proporcionados no te generan ninguna obligación con FMQ, simplemente nos ayudarán a identificar tus intereses y necesidades, con el objetivo de ofrecer posibles oportunidades y/o canalizar donativos en especie*. 

Te agradecemos el interés por colaborar con nosotros al completar el trámite.  

Equipo Desarrollo Institucional FMQ

(Nota: *Para la canalización de donativos es necesario contar con el convenio de donativo con FMQ, autorizado por la SHCP, mayor información con: ale@fundacionmerced.org).
</script>

<script type="text/html" id="mensaje_aprobacion">
Bienvenido a Fundación Merced Querétaro, AC.

Hemos recibido tu Afiliación, con ella disfrutarás de grandes beneficios con nosotros. Podrás tener información de primera mano respecto a la oferta de capacitación especializada para nuestro sector, costos preferenciales en talleres y cursos de FMQ; la oportunidad de tener en consignación productos no perecederos en nuestro Bazar Merced; la renta de la Teleaula FMQ con capacidad de 25 personas a costo preferencial; difusión de tu organización y sus eventos en nuestro sitio web y redes sociales; y asesoría personalizada. 

Te recordamos que los datos proporcionados no te generan ninguna obligación con FMQ, simplemente nos ayudarán a identificar tus intereses y necesidades, con el objetivo de ofrecer posibles oportunidades y/o canalizar donativos en especie*. 

Te agradecemos el interés por colaborar con nosotros. 

Desarrollo Institucional FMQ

(Nota: *Para la canalización de donativos es necesario contar con el convenio de donativo con FMQ, autorizado por la SHCP, mayor información con: ale@fundacionmerced.org).
</script>

<script type="text-html" id="humanas-template">
	<div class="form-body">

	<h3 class="form-section"></h3>
	        <div id="humanas-<%= id %>">

		    <div class="form-group">

			    <label class="col-md-3 control-label"><label for="id_formset2-<%= id %>-nombre">Nombre:</label></label>
			    <div class="col-md-9">
				    <input id="id_formset2-<%= id %>-nombre" maxlength="255" name="formset2-<%= id %>-nombre" type="text">
				    <span class="help-block" style="color:red"></span>
			    </div>
		    </div>

		    <div class="form-group">

			    <label class="col-md-3 control-label"><label for="id_formset2-<%= id %>-descripcion">Descripcion:</label></label>
			    <div class="col-md-9">
				    <input id="id_formset2-<%= id %>-descripcion" maxlength="255" name="formset2-<%= id %>-descripcion" type="text">
				    <span class="help-block" style="color:red"></span>
			    </div>
		    </div>


	        </div>

	</div>
</script>

<script type="text/html" id="capacitacion-template">

	<div class="form-body">

		<h3 class="form-section"></h3>
		<div id="capacitacion-<%= id %>">

		    <div class="form-group">

			    <label class="col-md-3 control-label"><label for="id_formset3-<%= id %>-nombre">Nombre:</label></label>
			    <div class="col-md-9">
				    <input id="id_formset3-<%= id %>-nombre" maxlength="255" name="formset3-<%= id %>-nombre" type="text">
				    <span class="help-block">
				         </span>
			    </div>
		    </div>



		    <div class="form-group">

			    <label class="col-md-3 control-label"><label for="id_formset3-<%= id %>-descripcion">Descripcion:</label></label>
			    <div class="col-md-9">
				    <input id="id_formset3-<%= id %>-descripcion" maxlength="255" name="formset3-<%= id %>-descripcion" type="text">
				    <span class="help-block">
				         </span>
			    </div>
		    </div>



		  
		    </div>

		</div>	
	</div>
</script>

<script type="text/html" id="servicios-template">
	<div class="form-body">
	<h3 class="form-section"></h3>
	    <div id="servicios-<%= id %>">

		    <div class="form-group">

			    <label class="col-md-3 control-label"><label for="id_formset4-<%= id %>-nombre">Nombre:</label></label>
			    <div class="col-md-9">
				    <input id="id_formset4-<%= id %>-nombre" maxlength="255" name="formset4-<%= id %>-nombre" type="text">
				    <span class="help-block">
				         </span>
			    </div>
		    </div>

		    <div class="form-group">

			    <label class="col-md-3 control-label"><label for="id_formset4-<%= id %>-descripcion">Descripcion:</label></label>
			    <div class="col-md-9">
				    <input id="id_formset4-<%= id %>-descripcion" maxlength="255" name="formset4-<%= id %>-descripcion" type="text">
				    <span class="help-block">
				         </span>
			    </div>
		    </div>

	        </div>

	</div>
</script>

<script type="text/html" id="material-template">
	<div id="necesidades-<%= id %>"  class="form-body">

		<h3 class="form-section"></h3>
	    <div class="form-group">

		    <label class="col-md-3 control-label"><label for="id_formset-<%= id %>-nombre">Nombre:</label></label>
		    <div class="col-md-9">
			    <input id="id_formset-<%= id %>-nombre" maxlength="255" name="formset-<%= id %>-nombre" type="text">
			    <span class="help-block">
			         </span>
		    </div>
	    </div>

	    <div class="form-group">

		    <label class="col-md-3 control-label"><label for="id_formset-<%= id %>-descripcion">Descripcion:</label></label>
		    <div class="col-md-9">
			    <input id="id_formset-<%= id %>-nombre" maxlength="255" name="formset-<%= id %>-descripcion" type="text">
			    <span class="help-block">
			         </span>
		    </div>
	    </div>


	    </div>
	</div>
</script>


<script src="http://underscorejs.org/underscore-min.js" ></script>

<script>
 jQuery(document).ready(function() {
 	var countMaterial = parseInt(jQuery('#id_formset-INITIAL_FORMS').val());
 	var countCapacitacion = parseInt(jQuery('#id_formset3-INITIAL_FORMS').val());
 	var countHumanas = parseInt(jQuery('#id_formset2-INITIAL_FORMS').val());
 	var countServicios = parseInt(jQuery('#id_formset4-INITIAL_FORMS').val())

  jQuery('.add-material').click(function(ev){
    ev.preventDefault();
    countMaterial += 1;
    var tmplMarkup = $('#material-template').html();
    var model = {id : countMaterial};
    var template = _.template(tmplMarkup);

    var compiledTmpl = template(model);
    jQuery('div.material').append(compiledTmpl);
    // update form count
    jQuery('#id_formset-TOTAL_FORMS').attr('value', countMaterial+1);
  });

  jQuery('.add-capacitacion').click(function(ev){
    ev.preventDefault();
    countCapacitacion += 1;
    var tmplMarkup = $('#capacitacion-template').html();
    var model = {id : countCapacitacion};
    var template = _.template(tmplMarkup);

    var compiledTmpl = template(model);
    jQuery('div.capacitacion').append(compiledTmpl);
    // update form count
    jQuery('#id_formset3-TOTAL_FORMS').attr('value', countCapacitacion+1);
  });

  jQuery('.add-humanas').click(function(ev){
  		ev.preventDefault();
	    countHumanas += 1;
	    var tmplMarkup = $('#humanas-template').html();
	    var model = {id : countHumanas};
	    var template = _.template(tmplMarkup);

	    var compiledTmpl = template(model);
	    jQuery('div.humanas').append(compiledTmpl);
	    // update form count
	    jQuery('#id_formset2-TOTAL_FORMS').attr('value', countHumanas+1);
  });

  jQuery('.add-servicios').click(function(ev){
  		ev.preventDefault();
	    countServicios += 1;
	    var tmplMarkup = $('#servicios-template').html();
	    var model = {id : countServicios};
	    var template = _.template(tmplMarkup);

	    var compiledTmpl = template(model);
	    jQuery('div.servicios').append(compiledTmpl);
	    // update form count
	    jQuery('#id_formset4-TOTAL_FORMS').attr('value', countServicios+1);
  });

});
</script>
{% endblock %}
