{% extends "basedashboard.html" %}
{% block content %}
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				Afiliados <small></small>
				</h3>
				<form  action="" method="POST">
					{% csrf_token %}


					{% if estatus2 = "T" %}
					<input type="radio" name="estado_afiliacion" value="T" checked="checked">Todas
					<input type="radio" name="estado_afiliacion" value="A">Aprobadas
					<input type="radio" name="estado_afiliacion" value="B">En Borrador
					<input type="radio" name="estado_afiliacion" value="R">En Revision
					{% endif %}

					{% if estatus2 = "A" %}
					<input type="radio" name="estado_afiliacion" value="T">Todas
					<input type="radio" name="estado_afiliacion" value="A" checked="checked">Aprobadas
					<input type="radio" name="estado_afiliacion" value="B">En Borrador
					<input type="radio" name="estado_afiliacion" value="R">En Revision
					{% endif %}

					{% if estatus2 = "B" %}
					<input type="radio" name="estado_afiliacion" value="T">Todas
					<input type="radio" name="estado_afiliacion" value="A">Aprobadas
					<input type="radio" name="estado_afiliacion" value="B" checked="checked">En Borrador
					<input type="radio" name="estado_afiliacion" value="R">En Revision
					{% endif %}

					{% if estatus2 = "R" %}
					<input type="radio" name="estado_afiliacion" value="T">Todas
					<input type="radio" name="estado_afiliacion" value="A">Aprobadas
					<input type="radio" name="estado_afiliacion" value="B">En Borrador
					<input type="radio" name="estado_afiliacion" value="R" checked="checked">En Revision
					{% endif %}

					
					{% if busqueda != "" %}
					<input type="text" name="busqueda" value="{{busqueda}}">
					{%else %}
					<input type="text" name="busqueda" value="">
					{% endif %}
					<button type="submit" class="btn btn-success blue">Buscar </button>

				</form>
				
				
		
				
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="{% url "dashboard" %}">Inicio</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
						
							<a href="">Afiliaciones</a>
							
						</li>
						
					</ul>
					<div class="page-toolbar">
						
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>Afiliaciones
								</div>
								<div class="actions">
									<div class="btn-group">
										
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover" id="sample_4">
								<thead>
								<tr>
									
									<th>
										 OSC
									</th>

									<th>
										Figura
									</th>

									<th>
										Fecha de alta
									</th>

									<th>
										Estatus
									</th>

									<th>
										Telefono
									</th>

									<th>
										Email
									</th>

								</tr>
								</thead>
								<tbody>
								{% for osc in afiliaciones_activas %}
								<tr>
									
									<td>
										<a href="/dashboard/osc/{{ osc.id }}"> {{osc.nombre}} </a>

									</td>
									
									<td>
										 {{osc.get_figura_display}} 
									</td>

									<td>
										 {{osc.date_created}} 
									</td>

									<td>
										 {{osc.get_status_display}} 
									</td>

									<td>
										 {{osc.telefono}} 
									</td>

									<td>
										 {{osc.email}} 
									</td>
									
								</tr>	
								{% endfor %}							
								</tbody>
								</table>

							</div>

						</div>
						<table  class="table table-striped table-bordered table-hover">
								<tr>
								 <td>
										{% if afiliaciones_activas.has_previous %}
           									 <a href="?page={{ afiliaciones_activas.previous_page_number }}&busqueda2={{busqueda}}&estatus2={{estatus2}}">Anterior </a>
        								{% endif %}
        						</td>
        						<td>
        								{% if afiliaciones_activas.has_next %}
           									 <a href="?page={{ afiliaciones_activas.next_page_number }}&busqueda2={{busqueda}}&estatus2={{estatus2}}">Siguiente </a>
        								{% endif %}
        						 </td>
        						</tr>
        					</table>
  
						<!-- END EXAMPLE TABLE PORTLET-->
						
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->

		<!-- Modal -->

{% endblock %}

{% block js %}
<script>
function alertMsg()
  {
  alert("Button 1 was clicked!")
  }
</script>

<script>
if({{numero}} == 2)
	{  //alert("hola"+{{modalNumero}});
		function contactModal()
		{
			$('#{{modalNumero}}').modal(
			{
				show: true
			});
		}
		window.onload = contactModal();
	}
</script>
{% endblock %}