{% extends "basedashboard.html" %}
{% block content %}
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				Afiliaciones
				</h3>
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="index.html">Panel</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="#">Afiliaciones</a>
							<i class="fa fa-angle-right"></i>
						</li>
					
					</ul>
					<div class="page-toolbar">
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							Filtro <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#">Activos</a>
								</li>
								<li>
									<a href="#">Rechazados</a>
								</li>
							
								<li class="divider">
								</li>
								<li>
									<a href="#">Esperando Aprovación</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- Begin: life time stats -->
						<div class="portlet light">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-gift font-green-sharp"></i>
									<span class="caption-subject font-green-sharp bold uppercase">Afiliados</span>
								</div>
								<div class="actions">
									<div class="btn-group">
										<a class="btn btn-default btn-circle" href="#" data-toggle="dropdown">
										<i class="fa fa-share"></i>
										<span class="hidden-480"Herramientas </span>
										<i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">
												Exportar a Excel </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-container">
									<table class="table table-striped table-bordered table-hover" id="datatable_ajax">
										<thead>
											<tr role="row" class="heading">
												<th width="2%">
													<input type="checkbox" class="group-checkable">
												</th>
												<th width="15%">
													Nombre
												</th>
												<th width="15%">
													Figura
												</th>
												<th width="5%">
													RFC&nbsp;#
												</th>
												<th width="15%">
													Fecha de alta
												</th>
												<th width="10%">
													Estatus
												</th>
												<th width="10%">
													Acciones
												</th>
											</tr>
											{% for organizaciones in osc %}
											<tr role="row" class="filter">
												<td>
													<input type="checkbox" class="group-checkable">
												</td>
												<td>
													<a href="/dashboard/osc/{{ organizaciones.id }}">{{ organizaciones.nombre }}</a>
												</td>
												<td>
													{{ organizaciones.get_figura_display }}
												</td>
												<td>
													{{ organizaciones.rfc }}
												</td>
												<td>
													{{ organizaciones.date_created }}
												</td>
												<td>
													{{ organizaciones.get_status_display }}
												</td>
											</tr>
											{% endfor %}
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- End: life time stats -->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->
{% endblock %}