{% extends "basedashboard.html" %}
{% block content %}
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				Borrar Asistencias <small>{{mensaje}}</small>
				
				</h3>
				
		
				
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="{% url "dashboard" %}">Dashboard</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="{% url "asistenciasLista" %}">Asistencias</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href=""> Borrar Asistencias </a>
							 
						</li>
						
					</ul>
					<div class="page-toolbar">
						
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box red-intense">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>Asistencias de {{osc.nombre}}
								</div>
								<div class="actions">
									<div class="btn-group">
										
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover" id="sample_4">
								<thead>
								<tr>
									
									<th>
										 Fecha

										
									</th>

									<th>
										Horas
									</th>

									<th>

									</th>

								</tr>
								</thead>
								<tbody>
								{% for asistencia in asistencias_lista %}
								<tr>
									
									<td>
										  {{asistencia.fecha}}

									</td>
									
									
									<td>
										  {{asistencia.horas}}


									</td>

									<td>
										<form action="{% url "borrar_asignacion_lista" osc.id %}" method="POST">
											 {% csrf_token %}
											<button  type="submit" class="btn btn-success red" >Borrar Asistencia </button>
											<input hidden="true" value="{{asistencia.id}}" name="borrar">
										</form>
									</td>
								</tr>	
								{% endfor %}							
								</tbody>
								</table>

							</div>

						</div>
						<table  class="table table-striped table-bordered table-hover">
								<tr>
								 <td>
										{% if asistencias_lista.has_previous %}
           									 <a href="?page={{ asistencias_lista.previous_page_number }}">Anterior </a>
        								{% endif %}
        						</td>
        						<td>
        								{% if asistencias_lista.has_next %}
           									 <a href="?page={{ asistencias_lista.next_page_number }}">Siguiente </a>
        								{% endif %}
        						 </td>
        						</tr>
        					</table>
  
						<!-- END EXAMPLE TABLE PORTLET-->
						
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->

		<!-- Modal -->

{% endblock %}

{% block js %}
<script>
function alertMsg()
  {
  alert("Button 1 was clicked!")
  }
</script>

<script>
if({{numero}} == 2)
	{  //alert("hola"+{{modalNumero}});
		function contactModal()
		{
			$('#{{modalNumero}}').modal(
			{
				show: true
			});
		}
		window.onload = contactModal();
	}
</script>
{% endblock %}