{% extends "basedashboard.html" %}
{% block content %}
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				Asistencias <small></small>
				</h3>
				<form  action="" method="POST">
					{% csrf_token %}

					{% if busqueda != "" %}
					<input type="text" name="busqueda" value="{{busqueda}}">
					{%else %}
					<input type="text" name="busqueda" value="">
					{% endif %}
					<button type="submit" class="btn btn-success blue">Buscar </button>
					
				</form>
				
				
		
				
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="{% url "dashboard" %}">Inicio</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
						
							<a href="">Asistencias</a>
							
						</li>
						
					</ul>
					<div class="page-toolbar">
						
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>Asistencias 
								</div>
								<div class="actions">
									<div class="btn-group">
										
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover" id="sample_4">
								<thead>
								<tr>
									
									<th>
										 OSC

										
									</th>

									<th>

									</th>

									<th>

									</th>

								</tr>
								</thead>
								<tbody>
								{% for osc in afiliaciones_activas %}
								<tr>
									
									<td>
										 {{osc.nombre}} 

									</td>
									
									
									<td>									
										 <a href="{% url "asignar_asistencia" osc.id %}"><button class="btn btn-success green">Asignar Horas </button></a>
									</td>

									<td>
										<a href="{% url "borrar_asignacion_lista" osc.id %}"><button class="btn btn-success red" >Borrar Asignaciones </button></a> 
									</td>
								</tr>	
								{% endfor %}							
								</tbody>
								</table>

							</div>

						</div>
						<table  class="table table-striped table-bordered table-hover">
								<tr>
								 <td>
										{% if afiliaciones_activas.has_previous %}
           									 <a href="?page={{ afiliaciones_activas.previous_page_number }}&busqueda2={{busqueda}}">Anterior </a>
        								{% endif %}
        						</td>
        						<td>
        								{% if afiliaciones_activas.has_next %}
           									 <a href="?page={{ afiliaciones_activas.next_page_number }}&busqueda2={{busqueda}}">Siguiente </a>
        								{% endif %}
        						 </td>
        						</tr>
        					</table>
  
						<!-- END EXAMPLE TABLE PORTLET-->
						
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->

		<!-- Modal -->

{% endblock %}

{% block js %}
<script>
function alertMsg()
  {
  alert("Button 1 was clicked!")
  }
</script>

<script>
if({{numero}} == 2)
	{  //alert("hola"+{{modalNumero}});
		function contactModal()
		{
			$('#{{modalNumero}}').modal(
			{
				show: true
			});
		}
		window.onload = contactModal();
	}
</script>
{% endblock %}