{% extends "basedashboard.html" %}
{% block content %}
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				 <small></small>
				
				</h3>
				
		
				
				<div class="page-bar">
					
					<div class="page-toolbar">
						
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box green">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>Asignar Asistencia / {{today}} / {{mensaje}}
								</div>
								<div class="actions">
									<div class="btn-group">
										
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover" id="sample_4">
								<form action="" method="POST">
									{% csrf_token %}
								<thead>
								<tr>
									
									<th>
										 {{osc.nombre}} 
									</th>

								</tr>
								</thead>
								<tbody>
								{% for field in forma %}
								
							
								
								
								<tr>
									
									<td>
									
       								 {{ field.label_tag }} {{ field }} {{ field.help_text }}  {{ field.errors }} 

									</td>
									 
									
									
								</tr>	
								{% endfor %}	
								
								
													
								</tbody>

								</table>
								<tr>
									<input type="hidden" name="osc_id" value="{{osc.id}}">
									<a href="{% url "asistenciasLista" %}" class="btn red">Regresar </a>
									<button type="submit" class="btn btn-success blue" >Asignar </button>
								</tr>
								</form>	
							</div>
						</div>
  
						<!-- END EXAMPLE TABLE PORTLET-->
						
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->

		<!-- Modal -->

{% endblock %}

{% block js %}
<script>
function alertMsg()
  {
  alert("Button 1 was clicked!")
  }
</script>

<script>
if({{numero}} == 2)
	{  //alert("hola"+{{modalNumero}});
		function contactModal()
		{
			$('#{{modalNumero}}').modal(
			{
				show: true
			});
		}
		window.onload = contactModal();
	}
</script>
{% endblock %}