{% extends "basedashboard.html" %}
{% load humanize %}
{% load i18n %}
{% block content %}
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">

				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				Inicio</h3>

				{% if messages %}
				    {% for message in messages %}

						{% if message.tags %}
						{% if 'contrasena' in message.tags %}
				    		<div class='alert alert-success' id='alerta'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>{{ message|safe }}</strong></div>
						
				    	{% endif %}
				    	{% endif %}			    
				    {% endfor %}
				
				{% endif %}

				<div id="mensaje-alerta">
					{% if form.errors %}
						<div class='alert alert-danger' id='alerta'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>Aviso!</strong> Hay errores en las formas. /div>
					{% endif %}

				</div>
				<div class="page-bar">
					<ul class="page-breadcrumb">
						
						<li>
							<a href="">Inicio  </a>
						</li>
					</ul>
					<div class="page-toolbar">

					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN DASHBOARD STATS -->
				<div class="row">
					{% if request.user.is_superuser or request.user.is_staff %}
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard-stat-light blue-soft ">
						<a class="dashboard-stat dashboard-stat-light blue-soft" href="#">
						<div class="visual">
							<i class="fa fa-child"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{afiliaciones_activas.count}}
							</div>
							<div class="desc">
								 Afiliacion{{afiliaciones_activas.count|pluralize:"es"}} Activa{{afiliaciones_activas.count|pluralize}}
							</div>
						</div>
						</a>
					</div> 

					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class ="dashboard-stat dashboard-stat-light red-soft" href="#">
						<div class="visual">
							<i class="fa fa-crosshairs"></i>
						</div>
						<div class="details">
							<div class="number">
								
								 {{afiliaciones_revision.count}}


							</div>
							<div class="desc">
								 Afiliacion{{afiliaciones_revision.count|pluralize:"es"}} en Revision
							</div>
						</div>
						</a>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light green-soft" href="#">
						<div class="visual">
							<i class="fa fa-cogs"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{afiliaciones_borrador.count}}
							</div>
							<div class="desc">
								 Afiliacion{{afiliaciones_borrador.count|pluralize:"es"}} en Borrador
							</div>
						</div>
						</a>
					</div>




					{% endif %}




					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
						<a class="dashboard-stat dashboard-stat-light red-soft" href="#">
						<div class="visual">
							<i class="fa fa-trophy"></i>
						</div>
						<div class="details">
							<div class="number">
								{{ sinergia_completa.count }}
							</div>
							<div class="desc">
								 Sinergia{{sinergia_completa.count|pluralize}} Completada{{sinergia_completa.count|pluralize}}
							</div>
						</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light green-soft" href="#">
						<div class="visual">
							<i class="fa fa-shopping-cart"></i>
						</div>
						<div class="details">
							<div class="number">
								{{sinergia_nueva.count}}
							</div>
							<div class="desc">
								 Sinergia{{sinergia_nueva.count|pluralize}} en Proceso{{sinergia_nueva.count|pluralize}}
							</div>
						</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light purple-soft" href="#">
						<div class="visual">
							<i class="fa fa-ban"></i>
						</div>
						<div class="details">
							<div class="number">
								 {{sinergia_rechazada.count}}
							</div>
							<div class="desc">
								 Sinergia{{sinergia_rechazada.count|pluralize}} Rechazada{{sinergia_rechazada.count|pluralize}}
							</div>
						</div>
						</a>
					</div>
				</div>
				<!-- END DASHBOARD STATS -->
				<div class="clearfix">
				</div>
				<div class="row">


				<div class="clearfix">
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-share font-blue-steel hide"></i>
									<span class="caption-subject font-blue-steel bold uppercase">Sinergias Recientes</span>
								</div>
								
							</div>
							<div class="portlet-body">
								<div class="mCustomScrollbar" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
									<ul class="feeds">
									{% if request.user.is_staff or request.user.is_superuser %}
									{% for elemento in notificacion_sinergia_recientes %}
										<li>
											<div class="col1">
												<div class="cont">
													<div class="cont-col1">
														<div class="label label-sm label-info">
															<i class="{% if elemento.status == 'F' %} fa fa-exclamation-triangle {% elif elemento.status == 'E' %} fa fa-check {% else %} fa fa-asterisk {% endif %}"></i>
														</div>
													</div>
													<div class="cont-col2">
														<div class="desc">
															{% if elemento.figura == "E" %}

																Empresa
															{% else %}

																Persona
															{% endif %}
															:{{elemento.empresa.nombre}}/
															 {% if elemento.status == 'N' %}
															 	Nueva sinergia

															 {% elif elemento.status == 'E' %}

															  Sinergia Exitosa
															   {% else %}

															  Sinergia Rechazada 

															  {% endif %} 
															  
														</div>
													</div>
												</div>
											</div>
											<div class="col1">
												<div class="date">
													<strong> {{ elemento.date_created|naturaltime }}</strong>
												</div>
											</div>
										</li>																
									{% endfor %}
									{% else %}
										{% for elemento in notificacion_sinergia_usuario %}

										<li>
											
											<div class="col1">
												<div class="cont">
													<div class="cont-col1">
														<div class="label label-sm label-info">
															<i class="{% if elemento.status == 'F' %} fa fa-exclamation-triangle {% elif elemento.status == 'E' %} fa fa-check {% else %} fa fa-asterisk {% endif %}"></i>
														</div>
													</div>
													<div class="cont-col2">
														<div class="desc">
															{% if elemento.figura == "E" %}

																Empresa
															{% else %}

																Persona
															{% endif %}
															 :{{elemento.empresa.nombre}}/
															 {% if elemento.status == 'N' %}Nueva sinergia {% elif elemento.status == 'E' %} Sinergia Exitosa {% else %}Sinergia Rechazada {% endif %} 
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="col1">
												<div class="date">
													<strong> {{ elemento.date_created|naturaltime }}</strong>
												</div>
											</div>
											
										</li>																
									{% endfor %}
									{%endif%}
									
									</ul>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<!-- BEGIN PORTLET-->
						{% if request.user.is_superuser or request.user.is_staff %}
						<div class="portlet light">
							<div class="portlet-title tabbable-line">
								<div class="caption">
									
									<span class="caption-subject font-green-sharp bold uppercase">Afiliaciones Recientes</span>
								</div>
								
							</div>

							<div class="portlet-body">
								<!--BEGIN TABS-->
								<div class="tab-content">
									<div class="tab-pane active" id="tab_1_1">
										<div class="mCustomScrollbar" style="height: 339px;" data-always-visible="1" data-rail-visible="0">
											<ul class="feeds">
												{% for afiliacion in afiliaciones_recientes_lista %}
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="label label-sm {% if history.get_history_type_display == "Changed" %} label-warning {% elif history.get_history_type_display == "Created" %} label-success {% else %} label-danger {% endif %}">
																	<i class="fa fa-child"></i>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	{{afiliacion.nombre}} / Estatus: 

																	{% if afiliacion.status == "A" %}
																		Aprobada 
																	{% elif afiliacion.status == "B" %}
																		Borrador
																	{% elif afiliacion.status == "R" %}
																		Revision
																	{% endif %}
																</div>
															</div>
														</div>
													</div>
													<div class="col1">
														<div class="date">
															<strong> {{afiliacion.date_created|naturaltime }} </strong>
														</div>
													</div>
													</a>
												</li>
												{% endfor %}
											</ul>
										</div>
									</div>
									
									<div class="tab-pane" id="tab_1_3">
										<div class="mCustomScrollbar" style="height: 290px;" data-always-visible="1" data-rail-visible1="1">
											<div class="row">
												<div class="col-md-6 user-info">
													<img alt="" src="/static/dashboard/admin/layout/img/avatar.png" class="img-responsive"/>
													<div class="details">
														<div>
															<a href="#">
															Robert Nilson </a>
															<span class="label label-sm label-success label-mini">
															Approved </span>
														</div>
														<div>
															 29 Jan 2013 10:45AM
														</div>
													</div>
												</div>
												<div class="col-md-6 user-info">
													<img alt="" src="/static/dashboard/admin/layout/img/avatar.png" class="img-responsive"/>
													<div class="details">
														<div>
															<a href="#">
															Lisa Miller </a>
															<span class="label label-sm label-info">
															Pending </span>
														</div>
														<div>
															 19 Jan 2013 10:45AM
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 user-info">
													<img alt="" src="/static/dashboard/admin/layout/img/avatar.png" class="img-responsive"/>
													<div class="details">
														<div>
															<a href="#">
															Eric Kim </a>
															<span class="label label-sm label-info">
															Pending </span>
														</div>
														<div>
															 19 Jan 2013 12:45PM
														</div>
													</div>
												</div>
												<div class="col-md-6 user-info">
													<img alt="" src="/static/dashboard/admin/layout/img/avatar.png" class="img-responsive"/>
													<div class="details">
														<div>
															<a href="#">
															Lisa Miller </a>
															<span class="label label-sm label-danger">
															In progress </span>
														</div>
														<div>
															 19 Jan 2013 11:55PM
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 user-info">
													<img alt="" src="/static/dashboard/admin/layout/img/avatar.png" class="img-responsive"/>
													<div class="details">
														<div>
															<a href="#">
															Eric Kim </a>
															<span class="label label-sm label-info">
															Pending </span>
														</div>
														<div>
															 19 Jan 2013 12:45PM
														</div>
													</div>
												</div>
												<div class="col-md-6 user-info">
													<img alt="" src="/static/dashboard/admin/layout/img/avatar.png" class="img-responsive"/>
													<div class="details">
														<div>
															<a href="#">
															Lisa Miller </a>
															<span class="label label-sm label-danger">
															In progress </span>
														</div>
														<div>
															 19 Jan 2013 11:55PM
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 user-info">
													<img alt="" src="/static/dashboard/admin/layout/img/avatar.png" class="img-responsive"/>
													<div class="details">
														<div>
															<a href="#">
															Eric Kim </a>
															<span class="label label-sm label-info">
															Pending </span>
														</div>
														<div>
															 19 Jan 2013 12:45PM
														</div>
													</div>
												</div>
												<div class="col-md-6 user-info">
													<img alt="" src="/static/dashboard/admin/layout/img/avatar.png" class="img-responsive"/>
													<div class="details">
														<div>
															<a href="#">
															Lisa Miller </a>
															<span class="label label-sm label-danger">
															In progress </span>
														</div>
														<div>
															 19 Jan 2013 11:55PM
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 user-info">
													<img alt="" src="/static/dashboard/admin/layout/img/avatar.png" class="img-responsive"/>
													<div class="details">
														<div>
															<a href="#">
															Eric Kim </a>
															<span class="label label-sm label-info">
															Pending </span>
														</div>
														<div>
															 19 Jan 2013 12:45PM
														</div>
													</div>
												</div>
												<div class="col-md-6 user-info">
													<img alt="" src="/static/dashboard/admin/layout/img/avatar.png" class="img-responsive"/>
													<div class="details">
														<div>
															<a href="#">
															Lisa Miller </a>
															<span class="label label-sm label-danger">
															In progress </span>
														</div>
														<div>
															 19 Jan 2013 11:55PM
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 user-info">
													<img alt="" src="/static/dashboard/admin/layout/img/avatar.png" class="img-responsive"/>
													<div class="details">
														<div>
															<a href="#">
															Eric Kim </a>
															<span class="label label-sm label-info">
															Pending </span>
														</div>
														<div>
															 19 Jan 2013 12:45PM
														</div>
													</div>
												</div>
												<div class="col-md-6 user-info">
													<img alt="" src="/static/dashboard/admin/layout/img/avatar.png" class="img-responsive"/>
													<div class="details">
														<div>
															<a href="#">
															Lisa Miller </a>
															<span class="label label-sm label-danger">
															In progress </span>
														</div>
														<div>
															 19 Jan 2013 11:55PM
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--END TABS-->
							</div>
						</div>
						{% endif%}
						<!-- END PORTLET-->
					</div>
				</div>
				<div class="clearfix">
				</div>
				{% if  request.user.is_superuser or request.user.is_staff %}
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cursor font-purple-intense hide"></i>
									<span class="caption-subject font-purple-intense bold uppercase">FMQ Porcentaje</span>
									<span class="caption-helper">Mensual</span>

								</div>

							</div>
							<div class="portlet-body">
								<div class="row">
									<div class="col-md-4">
										<div class="easy-pie-chart">
											<div class="number transactions" data-percent="55">
												<span>
												{{percentage_afiliacion}} </span>
												%
											</div>
											
											<p  class="title" >Afiliados </p>
											
										</div>
									</div>
									<div class="margin-bottom-10 visible-sm">
									</div>
									<div class="col-md-4">
										<div class="easy-pie-chart">
											<div class="number visits" data-percent="85">
												<span>
												{{percentage_sinergia}} </span>
												%
											</div>
											
											<p class="title">Sinergias Exitosas</p> 
											
										</div>
									</div>
									<div class="margin-bottom-10 visible-sm">
									</div>
									<div class="col-md-4">
										<div class="easy-pie-chart">
											<div class="number bounce" data-percent="46">
												<span>

													{{percentage_asistencias}}
												 </span>%
												
												
											</div>
											
											<p class="title">Asistencias </p>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-equalizer font-purple-plum hide"></i>
									<span class="caption-subject font-red-sunglo bold uppercase">Totales</span>
									<span class="caption-helper">Mensual</span>
								</div>

							</div>
							<div class="portlet-body">
								<div class="row">
									<div class="col-md-4">
										<div class="sparkline-chart">
											<div class="number" id="sparkline_bar">{{number_afiliation_month.count}}
											</div>
											<p class="title">
											Afiliado{{number_afiliation_month|pluralize}} 
											</p>
										</div>
									</div>
									<div class="margin-bottom-10 visible-sm">
									</div>
									<div class="col-md-4">
										<div class="sparkline-chart">
											<div class="number" id="sparkline_bar2">{{number_sinergia_month.count}}
											</div>
											<p class="title">
											Sinergias Exitosas
											</p>
										</div>
									</div>
									<div class="margin-bottom-10 visible-sm">
									</div>
									<div class="col-md-4">
										<div class="sparkline-chart">
											<div class="number" id="sparkline_line">{{number_asistences_month.count}}
											</div>
											<p class="title" >
											Asistencia{{number_asistences_month.count|pluralize}}
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endif%}
				<div class="clearfix">
				</div>


			</div>
		</div>
		<!-- END CONTENT -->

<script>
	var param = getUrlVars()["successful"];


	if(param)
		{
			if(param == 0)
				var html = "<div class='alert alert-info' id='alerta'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>Aviso!</strong> La OSC ha sido rechazada</div>";
			else
				var html = "<div class='alert alert-info' id='alerta'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>Aviso!</strong> La OSC ha sido aceptada</div>";
			document.getElementById("mensaje-alerta").innerHTML = html;
		};


	function getUrlVars() {
	    var vars = {};
	    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
	        vars[key] = value;
	    });
	    return vars;
	}

</script>
{% endblock %}