{% extends "basedashboard.html" %}
{% block content %}

{% load humanize %}
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">

				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				Notificaciones</h3>

				<div id="mensaje-alerta">
					
				</div>




				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="index.html">Home</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="#">Notificaciones</a>
						</li>
					</ul>
					<div class="page-toolbar">

					</div>
				</div>
				<!-- END PAGE HEADER-->

				<div class="clearfix">
				</div>
				<div class="row">


				<div class="clearfix">
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-share font-blue-steel hide"></i>
									<span class="caption-subject font-blue-steel bold uppercase">Sinergia</span>
								</div>

							</div>
							<div class="portlet-body">
								<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
									<ul class="feeds">
									{% if request.user.is_staff %}
									{% for elemento in notificacion_sinergia %}
										<li>
											<div class="col1">
												<div class="cont">
													<div class="cont-col1">
														<div class="label label-sm label-info">
															<i class="{% if elemento.status == 'F' %} fa fa-exclamation-triangle {% elif elemento.status == 'E' %} fa fa-check {% else %} fa fa-asterisk {% endif %}"></i>
														</div>
													</div>
													<div class="cont-col2">
														<div class="desc">
															 {% if elemento.figura == "E" %}

																Empresa
															{% else %}

																Persona
															{% endif %}
															:{{elemento.empresa.nombre}}/
															 {% if elemento.status == 'N' %}
															 	Nueva sinergia

															 {% elif elemento.status == 'E' %}

															  Sinergia Exitosa
															   {% else %}

															  Sinergia Rechazada 

															  {% endif %}
														</div>
													</div>
												</div>
											</div>
											<div class="col2">
												<div class="date">
													 {{ elemento.date_created|naturaltime }}
												</div>
											</div>
										</li>																
									{% endfor %}
									{% else %}
										{% for elemento in notificacion_sinergia_usuario %}
										<li>
											<div class="col1">
												<div class="cont">
													<div class="cont-col1">
														<div class="label label-sm label-info">
															<i class="{% if elemento.status == 'F' %} fa fa-exclamation-triangle {% elif elemento.status == 'E' %} fa fa-check {% else %} fa fa-asterisk {% endif %}"></i>
														</div>
													</div>
													<div class="cont-col2">
														<div class="desc">
															 {% if elemento.figura == "E" %}

																Empresa
															{% else %}

																Persona
															{% endif %}
															:{{elemento.empresa.nombre}}/
															 {% if elemento.status == 'N' %}
															 	Nueva sinergia

															 {% elif elemento.status == 'E' %}

															  Sinergia Exitosa
															   {% else %}

															  Sinergia Rechazada 

															  {% endif %}
														</div>
													</div>
												</div>
											</div>
											<div class="col2">
												<div class="date">
													 {{ elemento.date_created|naturaltime }}
												</div>
											</div>
										</li>																
									{% endfor %}
									{%endif%}
									</ul>
								</div>

							</div>
						</div>
					</div>
					{% if request.user.is_superuser %}
					<div class="col-md-6 col-sm-6">
						<!-- BEGIN PORTLET-->
						<div class="portlet light">
							<div class="portlet-title tabbable-line">
								<div class="caption">
									<i class="icon-globe font-green-sharp"></i>
									<span class="caption-subject font-green-sharp bold uppercase">Afiliados</span>
								</div>

							</div>
							<div class="portlet-body">
								<!--BEGIN TABS-->
								<div class="tab-content">
									<div class="tab-pane active" id="tab_1_1">
										<div class="scroller" style="height: 339px;" data-always-visible="1" data-rail-visible="0">
											<ul class="feeds">
											    {% for n  in notificacion_afiliacion %}
												<li>
													<a href="/dashboard/osc/{{ n.id }}">
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="label label-sm label-danger">
																	<i class="fa fa-bell-o"></i>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	 {{n.nombre}} / Estatus: 

																	{% if n.status == "A" %}
																		Aprobada 
																	{% elif n.status == "B" %}
																		Borrador
																	{% elif n.status == "R" %}
																		Revision
																	{% endif %}
																</div>
															</div>
														</div>
													</div>
													<div class="col2">
														<div class="date">
															 {{ n.date_edited|naturaltime }}
														</div>
													</div>
													</a>
												</li>
												{% endfor %}
											</ul>
										</div>
									</div>

								</div>
								<!--END TABS-->
							</div>
						</div>
						<!-- END PORTLET-->
						{% endif %}
					</div>

				</div>
				<div class="clearfix">
				</div>

				<div class="clearfix">
				</div>


			</div>
		</div>
		<!-- END CONTENT -->

<script>
	var param = getUrlVars()["successful"];


	if(param)
		{
			if(param == 0)
				var html = "<div class='alert alert-info' id='alerta'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>Aviso!</strong> La OSC ha sido rechazada</div>";
			else
				var html = "<div class='alert alert-info' id='alerta'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>Aviso!</strong> La OSC ha sido aceptada</div>";
			document.getElementById("mensaje-alerta").innerHTML = html;
		};


	function getUrlVars() {
	    var vars = {};
	    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
	        vars[key] = value;
	    });
	    return vars;
	}

</script>
{% endblock %}
