{% extends "basedashboard.html" %}
{% block content %}
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">Remover Necesidades <small>,Selecciona tus necesidades que ya estan satisfechas y remuevelas</small></h3>
				
		
				
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="{% url "dashboard" %}">Inicio</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="">Necesidades</a>
							
						</li>
						
					</ul>
					<div class="page-toolbar">
						<div class="btn-group pull-right">
							
								
								
					
							

							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#">Aprovados</a>
								</li>
								<li>
									<a href="#">Rechazadas</a>
								</li>
								<li class="divider">
								
								<li>
									<a href="#">Encurso</a>
								</li>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box red-intense">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>Necesidades  Materiales
								</div>
								<div class="actions">
									<div class="btn-group">
										
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover" id="sample_4">
								<thead>
								<tr>
									
									<th>
										 Nombre

										
									</th>

									<th>
										Descripcion
								  	</th>

									

								</tr>
								</thead>
								<tbody>
								<form action="{% url "remover_necesidades"  %}" method="POST">
									{% csrf_token %}
								{% for necesidad_material in necesidades_materiales %}
								<tr>
									
									<td>
										<input name="necesidad_material" id="{{forloop.counter}}" type="checkbox" value="{{necesidad_material.id}}" >
										 {{necesidad_material.nombre}} 

									</td>
									
									<td>
										{{necesidad_material.descripcion}}

									</td>	
									
									
								</tr>	
								{% endfor %}							
								</tbody>
								</table>
								<button type="submit" id="buton_des_todas" class="btn btn-success red">Remover Necesidad Material</button>
								</form>
							</div>

						</div>


						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>Necesidades  Humanas
								</div>
								<div class="actions">
									<div class="btn-group">
										
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover" id="sample_4">
								<thead>
								<tr>
									
									<th>
										 Nombre

										
									</th>

									<th>
										Descripcion
								  	</th>

									

								</tr>
								</thead>
								<tbody>
								<form action="{% url "remover_necesidades"  %}" method="POST">
									{% csrf_token %}
								{% for necesidad_humana in necesidades_humanas %}
								<tr>
									
									<td>
										<input name="necesidad_humana" id="{{forloop.counter}}" type="checkbox" value="{{necesidad_humana.id}}" >
										 {{necesidad_humana.nombre}} 

									</td>
									
									<td>
										{{necesidad_humana.descripcion}}

									</td>	
									
									
								</tr>	
								{% endfor %}							
								</tbody>
								</table>
								<button type="submit" id="buton_des_todas" class="btn btn-success blue">Remover Necesidad  Humana</button>
							</form>
							</div>



						</div>

						<div class="portlet box green">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>Necesidades de Capacitacion
								</div>
								<div class="actions">
									<div class="btn-group">
										
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover" id="sample_4">
								<thead>
								<tr>
									
									<th>
										 Nombre

										
									</th>

									<th>
										Descripcion
								  	</th>

									

								</tr>
								</thead>
								<tbody>
								<form action="{% url "remover_necesidades"  %}" method="POST">
									{% csrf_token %}
								{% for necesidad_capacitacion in necesidades_capacitacion %}
								<tr>
									
									<td>
										<input name="necesidad_capacitacion" id="{{forloop.counter}}" type="checkbox" value="{{necesidad_capacitacion.id}}" >
										 {{necesidad_capacitacion.nombre}} 

									</td>
									
									<td>
										{{necesidad_capacitacion.descripcion}}

									</td>	
									
									
								</tr>	
								{% endfor %}							
								</tbody>
								</table>
								<button type="submit" id="buton_des_todas" class="btn btn-success green">Remover Necesidad  Capacitacion</button>
							</form>
							</div>

						</div>






						
  
						<!-- END EXAMPLE TABLE PORTLET-->
						
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->

		<!-- Modal -->

{% endblock %}

{% block js %}
<script>
$( "#buton_todas" ).click(function() {
  {% for osc in afiliaciones_activas %}
  $('#{{forloop.counter}}').prop('checked', true);
  {%endfor%}
});

$( "#buton_des_todas" ).click(function() {
  {% for osc in afiliaciones_activas %}
  $('#{{forloop.counter}}').prop('checked', false);
  {%endfor%}
});
</script>
{% endblock %}