{% extends "basedashboard.html" %}
{% block content %}
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				Reportes <small></small>
			    </h3>
				<form  action="" method="POST">
					{% csrf_token %}

					{% if busqueda != "" %}
					<input type="text" name="busqueda" value="{{busqueda}}">
					{%else %}
					<input type="text" name="busqueda" value="">
					{% endif %}
					<button type="submit" class="btn btn-success blue">Buscar </button>
					
				</form>
				
			
				
		
				
				<div class="page-bar" >
					
					<div class="page-toolbar" style="padding:10px"; >
						<div class="btn-group pull-right" >
							<form  action="{% url "generar_reporte" %}" method="GET">
								
								{% csrf_token %}
								<strong>Fecha Inicio: </strong><input type="date" name="fecha_inicio">
								<strong>Fecha Fin:</strong><input type="date" name="fecha_fin">
								<input type="checkbox" name ="excel" >Excel
								<button type="button" id="buton_todas" class="btn btn-success blue">Seleccionar Todas </button>
								<button type="button" id="buton_des_todas" class="btn btn-success red">Deseleccionar Todas </button>
								<button type="submit" class="btn btn-success green">Crear Reporte </button>
					
							

							
						</div>
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box green">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>Reportes 
								</div>
								<div class="actions">
									<div class="btn-group">
										
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover" id="sample_4">
								<thead>
								<tr>
									
									<th>
										 OSC

										
									</th>

									

								</tr>
								</thead>
								<tbody>
								{% for osc in afiliaciones_activas %}
								<tr>
									
									<td>
										<input name="osc" id="{{forloop.counter}}" type="checkbox" value="{{osc.id}}" >
										 {{osc.nombre}} 

									</td>
									
									
									
								</tr>	
								{% endfor %}							
								</tbody>
								</table>
								</form>
							</div>

						</div>
						<table  class="table table-striped table-bordered table-hover">
								<tr>
								 <td>
										{% if afiliaciones_activas.has_previous %}
           									 <a href="?page={{ afiliaciones_activas.previous_page_number }}&busqueda2={{busqueda}}">Anterior </a>
        								{% endif %}
        						</td>
        						<td>
        								{% if afiliaciones_activas.has_next %}
           									 <a href="?page={{ afiliaciones_activas.next_page_number }}&busqueda2={{busqueda}}">Siguiente </a>
        								{% endif %}
        						 </td>
        						</tr>
        					</table>
  
						<!-- END EXAMPLE TABLE PORTLET-->
						
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->

		<!-- Modal -->

{% endblock %}

{% block js %}
<script>
$( "#buton_todas" ).click(function() {
  {% for osc in afiliaciones_activas %}
  $('#{{forloop.counter}}').prop('checked', true);
  {%endfor%}
});

$( "#buton_des_todas" ).click(function() {
  {% for osc in afiliaciones_activas %}
  $('#{{forloop.counter}}').prop('checked', false);
  {%endfor%}
});
</script>
{% endblock %}