{% extends "basedashboard.html" %}
{% block content %}
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				Reporte <small> </small>
				
				
				</h3>
				
				{% if error_fecha %}
					<div class='alert alert-danger' id='alerta'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>Error!</strong> La fecha inicial es mayor a la fecha final </div>
				{% endif %}

				{% if error_fecha_vacia %}
					<div class='alert alert-danger' id='alerta'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>Error!</strong> Hay fechas vacias </div>
				{% endif %}
		
				
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="{% url "dashboard" %}">Inicio</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="{% url "reporte_lista" %}">Generar Reporte</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="">Reporte</a>
							<i class="fa fa-angle-right"></i>
						</li>
						
					</ul>
					<div class="page-toolbar">
						<div class="btn-group pull-right">
							
					
							

							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#">Aprovados</a>
								</li>
								<li>
									<a href="#">Rechazadas</a>
								</li>
								<li class="divider">
								
								<li>
									<a href="#">Encurso</a>
								</li>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box red-intense">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>Reportes:   {{fecha_tabla_inicio}} / {{fecha_tabla_fin}}
								</div>
								<div class="actions">
									<div class="btn-group">
										
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover" id="sample_4">
								<thead>
								<tr>
									
									<th>
										 OSC

										
									</th>

									<th>
										Horas
									</th>

								</tr>
								</thead>
								<tbody>

								{% for horas in  horas_osc %}
								<tr>
									
									<td>
										{{horas.osc}}

									</td>
									
									<td>
										{{horas.total_horas}}
									</td>
									
								</tr>	
								{% endfor %}						
								</tbody>
								</table>
							
							</div>

						</div>
						
  
						<!-- END EXAMPLE TABLE PORTLET-->
						
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->

		<!-- Modal -->

{% endblock %}

{% block js %}

{% endblock %}