{% extends "basedashboard.html" %}
{% block content %}
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				Sinergias <small></small>
				</h3>
				<form  action="" method="POST">
					{% csrf_token %}

					

					
					{% if estatus2 == "N" %}
					<input type="radio" name="estado_sinergia" value="N" checked>En Proceso
					<input type="radio" name="estado_sinergia" value="E">Exitosas
					<input type="radio" name="estado_sinergia" value="F">No Exitosas
					<input type="radio" name="estado_sinergia" value="T" >Todas
					{% endif %}

					{% if estatus2 == "E" %}
					<input type="radio" name="estado_sinergia" value="N" >En Proceso
					<input type="radio" name="estado_sinergia" value="E" checked>Exitosas
					<input type="radio" name="estado_sinergia" value="F">No Exitosas
					<input type="radio" name="estado_sinergia" value="T" >Todas
					{% endif %}

					{% if estatus2 == "F" %}
					<input type="radio" name="estado_sinergia" value="N" >En Proceso
					<input type="radio" name="estado_sinergia" value="E" >Exitosas
					<input type="radio" name="estado_sinergia" value="F" checked>No Exitosas
					<input type="radio" name="estado_sinergia" value="T" >Todas
					{% endif %}

					{% if estatus2 == "T" %}
					<input type="radio" name="estado_sinergia" value="N" >En Proceso
					<input type="radio" name="estado_sinergia" value="E" >Exitosas
					<input type="radio" name="estado_sinergia" value="F" >No Exitosas
					<input type="radio" name="estado_sinergia" value="T" checked>Todas
					{% endif %}


					

					{% if busqueda != "" %}
					<input type="text" name="busqueda" value="{{busqueda}}">
					{%else %}
					<input type="text" name="busqueda" value="">
					{% endif %}
					<button type="submit" class="btn btn-success blue">Buscar </button>
					

				</form>
				
				<div style="display:none" class='alert alert-info' id='alerta_rechazada'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>Aviso!</strong> La sinergia ha sido rechazada</div>
				
				<div style="display:none" class='alert alert-info' id='alerta_aceptada'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><strong>Aviso!</strong> La sinergia ha sido aceptada</div>
				
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="{% url "dashboard" %}">Inicio</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="">Sinergias</a>
							
						</li>
						
					</ul>
					<div class="page-toolbar">
					<!--	<div class="btn-group pull-right">
							<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							Filtros <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#">Aprobados</a>
								</li>
								<li>
									<a href="#">Rechazadas</a>
								</li>
								<li class="divider">
								
								<li>
									<a href="#">Encurso</a>
								</li>
								</li>
								
							</ul>
						</div> -->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box red-intense">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>Sinergias 
								</div>
								<div class="actions">
									<div class="btn-group">
									<!--	<a class="btn default" href="#" data-toggle="dropdown">
										OSC <i class="fa fa-angle-down"></i>
										</a>
										<div id="sample_4_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
											<label><input type="checkbox" checked data-column="0">Empresa</label>
											<label><input type="checkbox" checked data-column="1">Status</label>
											<label><input type="checkbox" checked data-column="2">Modificar</label>
											<label><input type="checkbox" checked data-column="3">Exitosa</label>
											<label><input type="checkbox" checked data-column="4">No exitosa</label>
										</div> -->
									</div>
								</div>
							</div>
							<div class="portlet-body" style="overflow:scroll">
								<table class="table table-striped table-bordered table-hover" id="sample_4" >
								<thead>
								<tr>
									<th>
										 Figura
									</th>
									<th>
										 OSC
									</th>
									<th class="hidden-xs">
										 Descripción
									</th>

									<th class="hidden-xs">
										 Email
									</th>

									<th class="hidden-xs">
										 Status
									</th>
									<th class="hidden-xs">
										 Evaluación de la Sinergia
									</th>
								</tr>
								</thead>
								<tbody>
								{% for sinergia in sinergias_osc %}
								<tr>
									<td id="empresa_nombre_{{sinergia.id}}">
										{% if sinergia.figura == "E" %}

											Empresa
										
										{% else %}

											Persona
										{% endif %}:

										{{sinergia.empresa.nombre}}	

									</td>
									<td id="osc_nombre_{{sinergia.id}}">
										 {{sinergia.osc.nombre}}
									</td>
								
									<td>
										 {{sinergia.empresa.descripcion}}
									</td>

									<td>
										 {{sinergia.empresa.email}}
									</td>

									<td>
										 {{sinergia.get_status_display}}
									</td>
									<td>									
										 {% if sinergia.status == 'N' %}
										 <button class="btn btn-success green" data-toggle="modal" onclick="aprobarSinergia({{sinergia.id}})" data-target="#{{sinergia.id}}_exito" style="width:100px">Aprobar </button>
										 <button class="btn btn-danger" data-toggle="modal" data-target="#{{sinergia.id}}_rechazo" style="width:100px">Rechazar </button>
										 
											<!-- Modal ETSITO-->										 
										<div class="modal fade" id="{{sinergia.id}}_exito" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog">
										    <div class="modal-content">
										      <div class="modal-header">

										        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										        <h3 class="modal-title" id="myModalLabel"><strong>Aceptar la Sinergia </strong></h3>
										      </div>
										      <div class="modal-body">
										        <div class="note note-info">
													<h4 class="block">¡Enhorabuena! </h4>
													<p>
														 La sinergia ha sido completada con éxito. Para terminar con la sinergia, favor de ingresar el logo y la url de la empresa y un pequeño comentario que describa la sinergia.
													</p>

												</div>
												<form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}


												<input type="text" id="text_asunto_{{sinergia.id}}" name="asunto" hidden>
												<textarea id="textarea_mensaje_exitoso_{{sinergia.id}}" class="form-control" rows="7" name="mensaje" resize="off" style="display:none"></textarea>

												    <table class="table table-condensed">

												    	{{ form_aceptosinergia.non_field_errors }}
													    {% for field in form_aceptosinergia %}

													    
													    <tr>
													    <span class="help-block">{% for error in field.errors %}
												                                    <tr>
												                                    <td>&nbsp;</td>
												                                            <td style="color:red"><div>{{error}}</div></td>
												                                    </tr>
												                                                        {% endfor %}</span>                      
												        </tr>
												        <tr>
													    	<td>{{field.label_tag}}</td><td>{{ field }}</td>
													    </tr>
													    {% endfor %}                                             
													    {% for field in form_aceptosinergia.empresa.visible_fields %}

													    <tr>
													    <span class="help-block">{% for error in field.errors %}
												                                    <tr>
												                                    <td>&nbsp;</td>
												                                            <td style="color:red"><div>{{error}}</div></td>
												                                    </tr>
												                                                        {% endfor %}</span>
													    	<td>
													    		{{field.label_tag}}</td><td>{{ field }}
													    	</td>
													    </tr>

													    {% endfor %}
													    <input type="text" id="sinergiahidden" name="sin" value="{{sinergia.id}}" hidden>
												    </table>
										      </div>
										      <div class="modal-footer">
										        <button type="button"  class="btn btn-warning red" data-dismiss="modal">Cancelar</button>
										        <button type="submit" name="aceptoS" class="btn btn-success green">Aceptar Sinergia</button>
										      </div>

												    </form>
										    </div>
										  </div>
										</div>

										<!-- Modal ÑU-->
										<div class="modal fade" id="{{sinergia.id}}_rechazo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog">
										    <div class="modal-content">
										      <div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										        <h3 class="modal-title" id="myModalLabel"><strong>Sinergia no Exitosa</strong></h3>
										      </div>
										      <div class="modal-body">
										        <div class="note note-danger">
													<h4 class="block"> </h4>
													<p>
														 La sinergia no ha sido completada con éxito, se procederá a rechazarla. Favor de ingresar un comentario con respecto a la sinergia.
													</p>

												</div>
												<form action="" method="POST">
												{% csrf_token %}
												<table>
													{{ forma.non_field_errors }}
													{% for field in forma %}
														<tr>
													    <span class="help-block">{% for error in field.errors %}
												                 <tr><td>&nbsp;</td>
												                     <td style="color:red"><div>{{error}}</div></td>
												                 </tr>{% endfor %}</span>                      
												        </tr>
												        <tr>
													    	<td>{{field.label_tag}}</td><td>{{ field }}</td>
													    </tr>
													{% endfor %}

												</table>
										        <input type="text" id="sinergiahidden" name="sin_rechazo" value="{{sinergia.id}}" hidden>
										      </div>
										      <div class="modal-footer">
										        <button type="button" class="btn btn-default red" data-dismiss="modal">Cancelar</button>
										        <button type="submit" class="btn btn-primary green" name="canceloS">Rechazar Sinergia</button>
										      </div>
										      </form>
										    </div>
										  </div>
										</div>


	         							{% else %}
	         						
	         								<button class="btn btn-success green" data-toggle="modal" data-target="#{{sinergia.id}}_ver" style="width:100px">Ver más </button>  

	         								
	         								<form action="{% url "sinergias_osc" sinergia.osc.id %} " method="POST" style="width:100px">
	         									{% csrf_token %}
	         									<input type="hidden" name="id_sinergia_editar" value="{{sinergia.id}}"> 
	         									<button class="btn btn-success yellow"  style="width:100px">Editar </button> 
	         								</form> 
	         							
	         							
	         								<!-- Modal -->
											<div class="modal fade" id="{{sinergia.id}}_ver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
											  <div class="modal-dialog">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
											        <h3 class="modal-title" id="myModalLabel"><strong><i style="font-size:40px;" class="fa fa-university" ></i> Información Empresa</strong></h3>
											      </div>
											      <div class="modal-body" style="overflow:scroll">
											      	<div>
											      	<table  class="table table-striped"  style="overflow:scroll" >
											        <tr> <td><strong>OSC:</strong></td> <td>{{sinergia.osc.nombre}} <br/> </td> </tr>
											        <tr> <td><strong>Figura:</strong></td> <td> {{sinergia.get_figura_display}}<br/></td></tr>
											        <tr> <td><strong>Empresa:</strong></td> <td> {{sinergia.empresa.nombre}}<br/></td></tr>
											        <tr> <td><strong>Email:</strong></td> <td> {{sinergia.empresa.email}}<br/></td></tr>
											        <tr> <td><strong>Status:</strong></td> <td> {{sinergia.get_status_display}}<br/></td></tr>
											        <tr> <td><strong>Comentario:</strong></td> <td> {{sinergia.comentario}}<br/></td></tr>
											        <tr> <td><strong>Descripcion:</strong></td> <td> {{sinergia.empresa.descripcion}}<br/></td></tr>
											     
											        </div>
											        {% if sinergia.status == 'E' %}
											         <tr><td><strong>Logo:</strong></td><td><img src="{{sinergia.empresa.logo_smart.url}}" alt="..." class="img-thumbnail"></td> </tr>

											         <tr><td><strong>URL:</strong></td> <td><a href="http://{{sinergia.empresa.url}}"> {{sinergia.empresa.url}} </a></td> </tr>
											        {% endif %}
											      	</table>
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="btn btn-primary red" data-dismiss="modal">Cerrar</button>
											      </div>
											    </div>
											  </div>
											</div>     							
	         							{% endif %}
	         								{%if request.user.is_staff and sinergia.status == "N" %}
	         								<span >
	         									<button type="button" id="evaluacion_{{sinergia.id}}" sinergiaId="{{sinergia.id}}" data-toggle="modal" data-target="#modal_evaluacion" name="evaluacion" class="btn btn-warning boton_evaluacion" style="width:100px">
	         										<i class="icon-white icon-envelope" ></i>
	         									</button>
	         								</span>

											{% endif %}
									</td>
								</tr>	
								{% endfor %}							
								</tbody>
								</table>

							
							</div>
						</div>
							<table class="table table-striped table-bordered table-hover">
									<tr>
										<th>
                                         {% if sinergias_osc.has_previous %}
                                                <a href="?page={{ sinergias_osc.previous_page_number }}&busqueda2={{busqueda}}&estatus2={{estatus2}}">Anterior</a>
                                         {% endif %}
										   
										 {% if sinergias_osc.has_next %}
                                              /  <a href="?page={{ sinergias_osc.next_page_number }}&busqueda2={{busqueda}}&estatus2={{estatus2}}">Siguiente</a>
                                         {% endif %}

										</th>

									</tr>

								</table>
  
						<!-- END EXAMPLE TABLE PORTLET-->
						
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->

		<!-- Modal -->





<div class="modal fade" id="modal_evaluacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">	
			<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel"><h3>  <strong> <i style="font-size:55px;"class="fa fa-envelope-o"> </i> Petición de evaluacion de sinergia  </strong></h3>
				</h4>
		      </div>
		      <div class="modal-body">
		      <form action="" method="POST">
		      	{% csrf_token %}
		      <div class="form-group" style="padding:10px;">

		      		<input type="text" id="hidden_sinergia" name="sinergia" value="" hidden>

		      		<label><strong>Asunto:</strong></label>
		               <input type="text" id="text_asunto" class="form-control" rows="3" name="asunto"/>
		            
		            <br>
		            
		            <label><strong>Mensaje:</strong></label>
		            <textarea id="textarea_mensaje" class="form-control" rows="7" name="mensaje" resize="off"></textarea>
		      
		      		<br>
		            <label><input type="checkbox" id="msg_auto" name="msg_auto"> Respuesta automatizada</label>	
		            <br>
		            <label id="label_msg_auto" hidden></label>

				    
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default red" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-primary green" id="confmail2" name="confirmaM" value="">Enviar Correo</button>
		        </form>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Comentario -->

{% endblock %}

{% block js %}

<script>


function aprobarSinergia(sinergiaId){

	var mensaje = $('#mensaje_evaluacion_empresa').html();
	$('#text_asunto_' + sinergiaId).val('FMQ: Evalúa tu sinergia');
	$('#textarea_mensaje_exitoso_' + sinergiaId).val(mensaje);

	return true;

}


$('#confmail2').click(function(){

        var asunto = $('#text_asunto').val().trim();
        var mensaje = $('#textarea_mensaje').val().trim();

        if(asunto.length > 0 && mensaje.length > 0){

            $('#label_msg_auto').html('<font color="green">Enviando...</font>')
            $('#label_msg_auto').show();
            return true;
        }else{

            $('#label_msg_auto').html('<font color="red">Debe especificar el asunto y el mensaje del correo</font>');
            $('#label_msg_auto').show();
            return false;
        }

    });

    $('#msg_auto').click(function(){

        var checked = $(this).prop('checked');

        if(checked){

            var mensaje = $('#mensaje_evaluacion_osc').html();

            $('#text_asunto').val('FMQ: Evalúa tu sinergia');
            $('#textarea_mensaje').val(mensaje);
            $('#label_msg_auto').html('<font color="green">Se enviará una respuesta automatizada a la OSC de ésta sinergia para que la evalúe</font>');
            $('#label_msg_auto').show();

        }else{

            $('#text_asunto').val('');
            $('#textarea_mensaje').val('');
            $('#label_msg_auto').hide();
            
        }

    });


$('.boton_evaluacion').click(function(){
  	
	var sinergiaId = $(this).attr('sinergiaId');
	$('#hidden_sinergia').val(sinergiaId);
	
  });

</script>

<script type="text/html" id="mensaje_evaluacion_osc">
Estimados miembros de <osc_nombre>,

Hace algunos días una empresa o persona que acceso a nuestra plataforma <sitio_link> para apoyar a organizaciones de la sociedad civil,  y mostró interés en ustedes eligiendo alguna de sus necesidades expresadas en el formato de Afiliación a FMQ. Queremos saber si hubo algún contacto entre ustedes y el/los interesados, sí este apoyo se concretó, así como en su caso, cómo evaluarían esta acción de responsabilidad social.

Les pedimos ingresen a la siguiente liga: <evaluacion_link>, para que nos expresen sus impresiones al respecto y en su caso reconocer el trabajo, apoyo y colaboración de esta empresa o persona, a fin de motivar a que otros interesados se sumen a tu causa.

Recuerda que con su evaluación mantenemos y mejoramos esta herramienta por lo cual les invitamos a dedicar unos pocos minutos a este paso final, así como a mantener su perfil actualizado en cuanto a datos de contacto y necesidades. 

Esperando este portal fortalezca su trabajo e incremente los beneficios que ya brindan a la sociedad, les enviamos un afectuoso saludo.

Equipo de Fundación Merced Querétaro AC
Tel. (442) 223 3623
Correo: info@fundacionmerced.org
</script>

<script type="text/html" id="mensaje_evaluacion_empresa">
¡Nos gustaría conocer cuál fue el resultado de tu sinergia!

Hace algunos días accediste nuestra plataforma <sitio_link> para apoyar a <osc_nombre>.

Queremos saber si lograron establecer contacto, si el apoyo se pudo concretar y como consideras te fue en esta actividad de responsabilidad social.

Ingresa a la siguiente liga para evaluar tu experiencia <evaluacion_link>,

Recuerda que tu evaluación y comentarios nos ayudan a mejorar esta plataforma.

No dudes en realizarnos cualquier consulta, recuerda que estamos para ayudarte a ayudar de una manera responsable y sostenible en el tiempo.

Te invitamos a sumarte al trabajo de más organizaciones visitando de forma recurrente nuestro portal de “Sinergias”: <oscs_link>

Saludos y gracias por tu participación.

Equipo de Fundación Merced Querétaro AC
Tel. (442) 223 3623
Correo: info@fundacionmerced.org
</script>

<script>
$('.boton_evaluacion').click(function(){
  	
	var sinergiaId = $(this).attr('sinergiaId');
	var mensaje = $('#mensaje_evaluacion').html();
	
	$('#hidden_sinergia').val(sinergiaId);
	$('#textarea_mensaje').val(mensaje)

  });

</script>


{% endblock %}