{% extends "basedashboard.html" %}
{% block content %}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
	<div class="page-content">
		<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body">
						 Widget settings form goes here
					</div>
					<div class="modal-footer">
						<button type="button" class="btn blue">Save changes</button>
						<button type="button" class="btn default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		<!-- BEGIN STYLE CUSTOMIZER -->
		<div class="theme-panel">
			<div class="toggler tooltips" data-container="body" data-placement="left" data-html="true" data-original-title="Click to open advance theme customizer panel">
				<i class="icon-settings"></i>
			</div>
			<div class="toggler-close">
				<i class="icon-close"></i>
			</div>
			<div class="theme-options">
				<div class="theme-option theme-colors clearfix">
					<span>
					THEME COLOR </span>
					<ul>
						<li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default">
						</li>
						<li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey">
						</li>
						<li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue">
						</li>
						<li class="color-dark tooltips" data-style="dark" data-container="body" data-original-title="Dark">
						</li>
						<li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light">
						</li>
					</ul>
				</div>
				<div class="theme-option">
					<span>
					Layout </span>
					<select class="layout-option form-control input-small">
						<option value="fluid" selected="selected">Fluid</option>
						<option value="boxed">Boxed</option>
					</select>
				</div>
				<div class="theme-option">
					<span>
					Header </span>
					<select class="page-header-option form-control input-small">
						<option value="fixed" selected="selected">Fixed</option>
						<option value="default">Default</option>
					</select>
				</div>
				<div class="theme-option">
					<span>
					Sidebar Mode</span>
					<select class="sidebar-option form-control input-small">
						<option value="fixed">Fixed</option>
						<option value="default" selected="selected">Default</option>
					</select>
				</div>
				<div class="theme-option">
					<span>
					Sidebar Style</span>
					<select class="sidebar-style-option form-control input-small">
						<option value="default" selected="selected">Default</option>
						<option value="compact">Compact</option>
					</select>
				</div>
				<div class="theme-option">
					<span>
					Sidebar Menu </span>
					<select class="sidebar-menu-option form-control input-small">
						<option value="accordion" selected="selected">Accordion</option>
						<option value="hover">Hover</option>
					</select>
				</div>
				<div class="theme-option">
					<span>
					Sidebar Position </span>
					<select class="sidebar-pos-option form-control input-small">
						<option value="left" selected="selected">Left</option>
						<option value="right">Right</option>
					</select>
				</div>
				<div class="theme-option">
					<span>
					Footer </span>
					<select class="page-footer-option form-control input-small">
						<option value="fixed">Fixed</option>
						<option value="default" selected="selected">Default</option>
					</select>
				</div>
				<div class="theme-option">
					<a href="{RTL_LTR_URL}" target="_blank" class="btn red-sunglo btn-block"><i class="icon-link"></i> Full RTL Version!</a></a>
				</div>
			</div>
		</div>
		<!-- END STYLE CUSTOMIZER -->
		<!-- BEGIN PAGE HEADER-->
		<h3 class="page-title">
		General Components <small>general ui components</small>
		</h3>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="index.html">Home</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="#">UI Features</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="#">General Components</a>
				</li>
			</ul>
			<div class="page-toolbar">
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
					Actions <i class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu pull-right" role="menu">
						<li>
							<a href="#">Action</a>
						</li>
						<li>
							<a href="#">Another action</a>
						</li>
						<li>
							<a href="#">Something else here</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="#">Separated link</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- END PAGE HEADER-->
		<!-- BEGIN PAGE CONTENT-->
		<div class="row">
			<div class="col-md-6">
				<!-- BEGIN ALERTS PORTLET-->
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs font-green-sharp"></i>
							<span class="caption-subject font-green-sharp bold uppercase">Alerts</span>
							<span class="caption-helper">alert samples...</span>
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<h4 class="block">Default Alerts</h4>
						<div class="alert alert-success">
							<strong>Success!</strong> The page has been added.
						</div>
						<div class="alert alert-info">
							<strong>Info!</strong> You have 198 unread messages.
						</div>
						<div class="alert alert-warning">
							<strong>Warning!</strong> Your monthly traffic is reaching limit.
						</div>
						<div class="alert alert-danger">
							<strong>Error!</strong> The daily cronjob has failed.
						</div>
						<h4 class="block">Dismissable Alerts</h4>
						<div class="alert alert-warning alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							<strong>Warning!</strong> Something went wrong. Please check.
						</div>
						<h4 class="block">Links in alerts</h4>
						<div class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							<strong>WOW!</strong> Well done and everything looks OK. <a href="" class="alert-link">
							Please check this one as well </a>
						</div>
					</div>
				</div>
				<!-- END ALERTS PORTLET-->
			</div>
			<div class="col-md-6">
				<!-- BEGIN ALERTS PORTLET-->
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs font-red-sunglo"></i>
							<span class="caption-subject font-red-sunglo bold uppercase">Notes</span>
							<span class="caption-helper">notes samples...</span>
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="note note-success">
							<h4 class="block">Success! Some Header Goes Here</h4>
							<p>
								 Duis mollis, est non commodo luctus, nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
							</p>
						</div>
						<div class="note note-info">
							<h4 class="block">Info! Some Header Goes Here</h4>
							<p>
								 Duis mollis, est non commodo luctus, nisi erat porttitor ligula, mattis consectetur purus sit amet eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
							</p>
						</div>
						<div class="note note-danger">
							<h4 class="block">Danger! Some Header Goes Here</h4>
							<p>
								 Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet.\ Cras mattis consectetur purus sit amet fermentum.
							</p>
						</div>
						<div class="note note-warning">
							<h4 class="block">Warning! Some Header Goes Here</h4>
							<p>
								 Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet. Cras mattis consectetur purus sit amet fermentum.
							</p>
						</div>
					</div>
				</div>
				<!-- END ALERTS PORTLET-->
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<!-- BEGIN INLINE NOTIFICATIONS PORTLET-->
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Inline Notifications
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="alert alert-block alert-danger fade in">
							<button type="button" class="close" data-dismiss="alert"></button>
							<h4 class="alert-heading">Error!</h4>
							<p>
								 Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
							</p>
							<p>
								<a class="btn red" href="#">
								Do this </a>
								<a class="btn blue" href="#">
								Cancel </a>
							</p>
						</div>
						<div class="alert alert-block alert-success fade in">
							<button type="button" class="close" data-dismiss="alert"></button>
							<h4 class="alert-heading">Success!</h4>
							<p>
								 Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
							</p>
							<p>
								<a class="btn green" href="#">
								Do this </a>
								<a class="btn btn-link" href="#">
								Cancel </a>
							</p>
						</div>
						<div class="alert alert-block alert-info fade in">
							<button type="button" class="close" data-dismiss="alert"></button>
							<h4 class="alert-heading">Info!</h4>
							<p>
								 Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
							</p>
							<p>
								<a class="btn purple" href="#">
								Do this </a>
								<a class="btn dark" href="#">
								Cancel </a>
							</p>
						</div>
						<div class="alert alert-block alert-warning fade in">
							<button type="button" class="close" data-dismiss="alert"></button>
							<h4 class="alert-heading">Warning!</h4>
							<p>
								 Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
							</p>
							<p>
								<a class="btn red" href="#">
								Do this </a>
								<a class="btn blue" href="#">
								Cancel </a>
							</p>
						</div>
					</div>
				</div>
				<div class="portlet box grey-cascade">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Pulsate
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<h4>Pulsate any page elements.</h4>
						<div class="margin-top-10 margin-bottom-10 clearfix">
							<table class="table table-bordered table-striped">
							<tr>
								<td>
									 Repeating Pulsate
								</td>
								<td>
									<div id="pulsate-regular" style="padding:5px;">
										 Repeating Pulsate
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<button class="btn green" id="pulsate-once">Pulsate Once</button>
								</td>
								<td>
									<div id="pulsate-once-target" style="padding:5px;">
										 Pulsate me
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<button class="btn red" id="pulsate-crazy">Crazy Pulsate :)</button>
								</td>
								<td>
									<div id="pulsate-crazy-target" style="padding:5px;">
										 Pulsate me
									</div>
								</td>
							</tr>
							</table>
						</div>
						<span class="label label-danger">
						NOTE! </span>
						<span>
						Pulsate is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 9 and Internet Explorer 10 only. </span>
					</div>
				</div>
				<!-- END PULSATE PORTLET-->
				<!-- BEGIN MODAL DIALOG PORTLET-->
				<div class="portlet box purple">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Modal Dialogs
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<h4>Click on below buttons to check it out.</h4>
						<!-- Button to trigger modal -->
						<a href="#myModal1" role="button" class="btn blue" data-toggle="modal">
						Modal Dialog </a>
						<a href="#myModal2" role="button" class="btn red" data-toggle="modal">
						Alert </a>
						<a href="#myModal3" role="button" class="btn yellow" data-toggle="modal">
						Confirm </a>
						<!-- Modal -->
						<div id="myModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
										<h4 class="modal-title">Modal title</h4>
									</div>
									<div class="modal-body">
										<p>
											 Body goes here...
										</p>
									</div>
									<div class="modal-footer">
										<button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
										<button class="btn yellow">Save</button>
									</div>
								</div>
							</div>
						</div>
						<div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
										<h4 class="modal-title">Alert Header</h4>
									</div>
									<div class="modal-body">
										<p>
											 Body goes here...
										</p>
									</div>
									<div class="modal-footer">
										<button data-dismiss="modal" class="btn green">OK</button>
									</div>
								</div>
							</div>
						</div>
						<div id="myModal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
										<h4 class="modal-title">Confirm Header</h4>
									</div>
									<div class="modal-body">
										<p>
											 Body goes here...
										</p>
									</div>
									<div class="modal-footer">
										<button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
										<button data-dismiss="modal" class="btn blue">Confirm</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END MODAL DIALOG PORTLET-->
				<!-- BEGIN TOOLTIPS PORTLET-->
				<div class="portlet box red">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Tooltips
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<p>
							 Tight pants next level keffiyeh <a href="#" class="tooltips" data-original-title="Very long toolips Very long toolips Very long toolips Very long toolips">
							you probably </a>
							haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="#" class="tooltips" data-original-title="Another tooltip">
							have a </a>
							terry richardson vinyl chambray. <a href="#" class="tooltips" title="12" data-original-title="The last tip!">
							twitter handle </a>
							freegan cred raw denim single-origin coffee viral.
						</p>
						<button class="btn tooltips" data-container="body" data-placement="top" data-original-title="Tooltip in top">Top</button>
						<button class="btn tooltips" data-container="body" data-placement="left" data-original-title="Tooltip in left">Left</button>
						<button class="btn tooltips" data-container="body" data-placement="right" data-original-title="Tooltip in right">Right</button>
						<button class="btn tooltips" data-container="body" data-placement="bottom" data-original-title="Tooltip in bottom">Bottom</button>
						<div class="inline-block tooltips" data-container="body" data-original-title="Tooltip goes here">
							<button type="button" class="btn btn-default disabled">Disabled1</button>
						</div>
					</div>
				</div>
				<!-- END TOOLTIPS PORTLET-->
				<!-- BEGIN TOOLTIPS PORTLET-->
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Tooltips In Slim Scroll
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="scroller" style="height:150px" data-always-visible="1" data-rail-visible="0">
							<button class="btn tooltips" data-container="body" data-placement="top" data-original-title="Tooltip in top">Top</button>
							<button class="btn tooltips" data-container="body" data-placement="left" data-original-title="Tooltip in left">Left</button>
							<button class="btn tooltips" data-container="body" data-placement="right" data-original-title="Tooltip in right">Right</button>
							<button class="btn tooltips" data-container="body" data-placement="bottom" data-original-title="Tooltip in bottom">Bottom</button>
							<div class="inline-block tooltips" data-container="body" data-original-title="Tooltip goes here">
								<button type="button" class="btn btn-default disabled">Disabled</button>
							</div>
							<p>
								 Tight pants next level keffiyeh <a href="#" class="tooltips" data-container="body" data-original-title="Default tooltip">
								you probably </a>
								haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="#" class="tooltips" data-container="body" data-original-title="Another tooltip">
								have a </a>
								terry richardson vinyl chambray. <a href="#" class="tooltips" title="12" data-container="body" data-original-title="The last tip!">
								twitter handle </a>
								freegan cred raw denim single-origin coffee viral.
							</p>
							<button class="btn tooltips" data-container="body" data-placement="top" data-original-title="Tooltip in top">Top</button>
							<button class="btn tooltips" data-container="body" data-placement="left" data-original-title="Tooltip in left">Left</button>
							<button class="btn tooltips" data-container="body" data-placement="right" data-original-title="Tooltip in right">Right</button>
							<button class="btn tooltips" data-container="body" data-placement="bottom" data-original-title="Tooltip in bottom">Bottom</button>
							<div class="inline-block tooltips" data-container="body" data-original-title="Tooltip goes here">
								<button type="button" class="btn btn-default disabled">Disabled</button>
							</div>
							<p>
								 Tight pants next level keffiyeh <a href="#" class="tooltips" data-container="body" data-original-title="Default tooltip">
								you probably </a>
								haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="#" class="tooltips" data-container="body" data-original-title="Another tooltip">
								have a </a>
								terry richardson vinyl chambray. <a href="#" class="tooltips" title="12" data-container="body" data-original-title="The last tip!">
								twitter handle </a>
								freegan cred raw denim single-origin coffee viral.
							</p>
						</div>
					</div>
				</div>
				<!-- END TOOLTIPS PORTLET-->
				<!-- BEGIN POPOVERS PORTLET-->
				<div class="portlet box yellow">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Popovers
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<p>
							 Tight pants next level keffiyeh <a href="javascript:;" class="popovers" data-container="body" data-content="Popover body goes here! Popover body goes here!" data-original-title="Default Popover">
							trigger me on click </a>
							haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-content="Popover body goes here! Popover body goes here!" data-original-title="Another Popover">
							trigger me on hover </a>
							terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa.
						</p>
						<button class="btn popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in top">Top</button>
						<button class="btn popovers" data-container="body" onclick=" " data-trigger="hover" data-placement="left" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in left">Left</button>
						<button class="btn popovers" data-container="body" data-trigger="hover" data-placement="right" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in right">Right</button>
						<button class="btn popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in bottom">Bottom</button>
						<div class="inline-block popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in bottom">
							<button type="button" class="btn btn-default disabled">Disabled</button>
						</div>
					</div>
				</div>
				<!-- END POPOVERS PORTLET-->
				<!-- BEGIN POPOVERS PORTLET-->
				<div class="portlet box green">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Popovers In Slim Scroll
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="scroller" style="height:150px" data-always-visible="1" data-rail-visible="0">
							<button class="btn popovers" data-trigger="hover" data-container="body" data-placement="top" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in top">Top</button>
							<button class="btn popovers" data-trigger="hover" data-container="body" data-placement="left" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in left">Left</button>
							<button class="btn popovers" data-trigger="hover" data-container="body" data-placement="right" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in right">Right</button>
							<button class="btn popovers" data-trigger="hover" data-container="body" data-placement="bottom" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in bottom">Bottom</button>
							<div class="inline-block popovers" data-trigger="hover" data-container="body" data-placement="bottom" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in bottom">
								<button type="button" class="btn btn-default disabled">Disabled</button>
							</div>
							<p>
								 Tight pants next level keffiyeh <a href="javascript:;" class="popovers" data-container="body" data-content="Popover body goes here! Popover body goes here!" data-original-title="Default Popover">
								trigger me on click </a>
								haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-content="Popover body goes here! Popover body goes here!" data-original-title="Another Popover">
								trigger me on hover </a>
								terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa.
							</p>
							<button class="btn popovers" data-trigger="hover" data-container="body" data-placement="top" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in top">Top</button>
							<button class="btn popovers" data-trigger="hover" data-container="body" data-placement="left" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in left">Left</button>
							<button class="btn popovers" data-trigger="hover" data-container="body" data-placement="right" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in right">Right</button>
							<button class="btn popovers" data-trigger="hover" data-container="body" data-placement="bottom" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in bottom">Bottom</button>
							<div class="inline-block popovers" data-trigger="hover" data-container="body" data-placement="bottom" data-content="Popover body goes here! Popover body goes here!" data-original-title="Popover in bottom">
								<button type="button" class="btn btn-default disabled">Disabled</button>
							</div>
							<p>
								 Tight pants next level keffiyeh <a href="javascript:;" class="popovers" data-container="body" data-content="Popover body goes here! Popover body goes here!" data-original-title="Default Popover">
								trigger me on click </a>
								haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-content="Popover body goes here! Popover body goes here!" data-original-title="Another Popover">
								trigger me on hover </a>
								terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa.
							</p>
						</div>
					</div>
				</div>
				<!-- END POPOVERS PORTLET-->
				<!-- BEGIN POPOVERS PORTLET-->
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>List Groups
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<h4 class="block">Basic</h4>
						<ul class="list-group">
							<li class="list-group-item">
								 Cras justo odio
							</li>
							<li class="list-group-item">
								 Dapibus ac facilisis in
							</li>
							<li class="list-group-item">
								 Morbi leo risus
							</li>
							<li class="list-group-item">
								 Porta ac consectetur ac
							</li>
							<li class="list-group-item">
								 Vestibulum at eros
							</li>
						</ul>
						<h4 class="block">Custom Colors(refer to ui_colors.html for more colors)</h4>
						<ul class="list-group">
							<li class="list-group-item bg-blue">
								 Cras justo odio
							</li>
							<li class="list-group-item bg-red">
								 Dapibus ac facilisis in
							</li>
							<li class="list-group-item bg-green">
								 Morbi leo risus
							</li>
							<li class="list-group-item bg-purple">
								 Porta ac consectetur ac
							</li>
							<li class="list-group-item bg-yellow">
								 Vestibulum at eros
							</li>
						</ul>
						<h4 class="block">Badges</h4>
						<ul class="list-group">
							<li class="list-group-item">
								 Cras justo odio <span class="badge badge-default">
								3 </span>
							</li>
							<li class="list-group-item">
								 Dapibus ac facilisis in <span class="badge badge-success">
								11 </span>
							</li>
							<li class="list-group-item">
								 Morbi leo risus <span class="badge badge-danger">
								new </span>
							</li>
							<li class="list-group-item">
								 Porta ac consectetur ac <span class="badge badge-warning">
								4 </span>
							</li>
							<li class="list-group-item">
								 Vestibulum at eros <span class="badge badge-info">
								3 </span>
							</li>
						</ul>
						<h4 class="block">Contextual States</h4>
						<ul class="list-group">
							<li class="list-group-item">
								 Default
							</li>
							<li class="list-group-item list-group-item-success">
								 Success
							</li>
							<li class="list-group-item list-group-item-info">
								 Info <span class="badge badge-warning">
								3 </span>
							</li>
							<li class="list-group-item list-group-item-warning">
								 Warning <span class="badge badge-default">
								3 </span>
							</li>
							<li class="list-group-item list-group-item-danger">
								 Danger
							</li>
						</ul>
						<h4 class="block">Linked Contextual Items</h4>
						<div class="list-group">
							<a href="#" class="list-group-item">
							Default </a>
							<a href="#" class="list-group-item list-group-item-success">
							Success </a>
							<a href="#" class="list-group-item list-group-item-info">
							Info <span class="badge badge-warning">
							3 </span>
							</a>
							<a href="#" class="list-group-item list-group-item-warning">
							Warning <span class="badge badge-default">
							3 </span>
							</a>
							<a href="#" class="list-group-item list-group-item-danger">
							Danger </a>
						</div>
						<h4 class="block">Custom Content</h4>
						<div class="list-group">
							<a href="#" class="list-group-item active">
							<h4 class="list-group-item-heading">List group item heading</h4>
							<p class="list-group-item-text">
								 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
							</p>
							</a>
							<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">List group item heading</h4>
							<p class="list-group-item-text">
								 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
							</p>
							</a>
							<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">List group item heading</h4>
							<p class="list-group-item-text">
								 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
							</p>
							</a>
						</div>
					</div>
				</div>
				<!-- END POPOVERS PORTLET-->
				<!-- BEGIN POPOVERS PORTLET-->
				<div class="portlet box green">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Panels
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<h4 class="block">Basic Panels</h4>
						<div class="panel panel-default">
							<div class="panel-heading">
								 Panel heading without title
							</div>
							<div class="panel-body">
								 Panel content
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Panel title</h3>
							</div>
							<div class="panel-body">
								 Panel content
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-body">
								 Panel content
							</div>
							<div class="panel-footer">
								 Panel footer
							</div>
						</div>
						<div class="clearfix">
							<h4 class="block">Contextual Panels</h4>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Primary Panel</h3>
								</div>
								<div class="panel-body">
									 Panel content
								</div>
							</div>
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">Primary Panel</h3>
								</div>
								<div class="panel-body">
									 Panel content
								</div>
							</div>
							<div class="panel panel-success">
								<div class="panel-heading">
									<h3 class="panel-title">Success Panel</h3>
								</div>
								<div class="panel-body">
									 Panel content
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Info Panel</h3>
								</div>
								<div class="panel-body">
									 Panel content
								</div>
							</div>
							<div class="panel panel-warning">
								<div class="panel-heading">
									<h3 class="panel-title">Warning Panel</h3>
								</div>
								<div class="panel-body">
									 Panel content
								</div>
							</div>
							<div class="panel panel-danger">
								<div class="panel-heading">
									<h3 class="panel-title">Danger Panel</h3>
								</div>
								<div class="panel-body">
									 Panel content
								</div>
							</div>
						</div>
						<div class="clearfix">
							<h4 class="block">With Tables</h4>
							<div class="panel panel-success">
								<!-- Default panel contents -->
								<div class="panel-heading">
									<h3 class="panel-title">Panel Title</h3>
								</div>
								<div class="panel-body">
									<p>
										 Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>
								</div>
								<!-- Table -->
								<table class="table">
								<thead>
								<tr>
									<th>
										 #
									</th>
									<th>
										 First Name
									</th>
									<th>
										 Last Name
									</th>
									<th>
										 Username
									</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										 1
									</td>
									<td>
										 Mark
									</td>
									<td>
										 Otto
									</td>
									<td>
										 @mdo
									</td>
								</tr>
								<tr>
									<td>
										 2
									</td>
									<td>
										 Jacob
									</td>
									<td>
										 Thornton
									</td>
									<td>
										 @fat
									</td>
								</tr>
								<tr>
									<td>
										 3
									</td>
									<td>
										 Larry
									</td>
									<td>
										 the Bird
									</td>
									<td>
										 @twitter
									</td>
								</tr>
								</tbody>
								</table>
							</div>
						</div>
						<div class="clearfix">
							<h4 class="block">With List Groups</h4>
							<div class="panel panel-warning">
								<!-- Default panel contents -->
								<div class="panel-heading">
									<h3 class="panel-title">Panel Title</h3>
								</div>
								<div class="panel-body">
									<p>
										 Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
									</p>
								</div>
								<!-- List group -->
								<ul class="list-group">
									<li class="list-group-item">
										 Cras justo odio <span class="badge badge-default">
										3 </span>
									</li>
									<li class="list-group-item">
										 Dapibus ac facilisis in <span class="badge badge-success">
										11 </span>
									</li>
									<li class="list-group-item">
										 Morbi leo risus <span class="badge badge-danger">
										new </span>
									</li>
									<li class="list-group-item">
										 Porta ac consectetur ac <span class="badge badge-warning">
										4 </span>
									</li>
									<li class="list-group-item">
										 Vestibulum at eros <span class="badge badge-info">
										3 </span>
									</li>
									<li class="list-group-item">
										 Vestibulum at eros
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<!-- BEGIN PROGRESS BARS PORTLET-->
				<div class="portlet box green">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Progress Bars
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="note note-warning">
							<h4 class="block">Cross-browser compatibility</h4>
							<p>
								 Progress bars use CSS3 transitions and animations to achieve some of their effects. These features are not supported in Internet Explorer 9 and below or older versions of Firefox. Opera 12 does not support animations.
							</p>
						</div>
						<h3>Basic</h3>
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
								<span class="sr-only">
								40% Complete (success) </span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
								<span class="sr-only">
								20% Complete </span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
								<span class="sr-only">
								60% Complete (warning) </span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
								<span class="sr-only">
								80% Complete </span>
							</div>
						</div>
						<h3>Striped</h3>
						<div class="progress progress-striped">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
								<span class="sr-only">
								40% Complete (success) </span>
							</div>
						</div>
						<div class="progress progress-striped">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
								<span class="sr-only">
								20% Complete </span>
							</div>
						</div>
						<div class="progress progress-striped">
							<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
								<span class="sr-only">
								60% Complete (warning) </span>
							</div>
						</div>
						<div class="progress progress-striped">
							<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
								<span class="sr-only">
								80% Complete (danger) </span>
							</div>
						</div>
						<h3>Animated</h3>
						<div class="progress progress-striped active">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
								<span class="sr-only">
								40% Complete (success) </span>
							</div>
						</div>
						<div class="progress progress-striped active">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
								<span class="sr-only">
								20% Complete </span>
							</div>
						</div>
						<div class="progress progress-striped active">
							<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
								<span class="sr-only">
								60% Complete (warning) </span>
							</div>
						</div>
						<div class="progress progress-striped active">
							<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
								<span class="sr-only">
								80% Complete (danger) </span>
							</div>
						</div>
						<h3>Stacked</h3>
						<div class="progress">
							<div class="progress-bar progress-bar-success" style="width: 35%">
								<span class="sr-only">
								35% Complete (success) </span>
							</div>
							<div class="progress-bar progress-bar-warning" style="width: 20%">
								<span class="sr-only">
								20% Complete (warning) </span>
							</div>
							<div class="progress-bar progress-bar-danger" style="width: 10%">
								<span class="sr-only">
								10% Complete (danger) </span>
							</div>
						</div>
					</div>
				</div>
				<!-- END PROGRESS BARS PORTLET-->
				<!-- BEGIN LABELS AND BADGES PORTLET-->
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Labels & Badges
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<h4 class="block">Labels & Badges Styles</h4>
						<table class="table table-bordered table-striped">
						<thead>
						<tr>
							<th>
								 Class
							</th>
							<th>
								 Labels
							</th>
							<th>
								 Badges
							</th>
							<th>
								 Roundless Badges
							</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								 Default
							</td>
							<td>
								<span class="label label-default">
								Default </span>
							</td>
							<td>
								<span class="badge badge-default">
								5 </span>
							</td>
							<td>
								<span class="badge badge-default badge-roundless">
								3 </span>
							</td>
						</tr>
						<tr>
							<td>
								 Primary
							</td>
							<td>
								<span class="label label-primary">
								Primary </span>
							</td>
							<td>
								<span class="badge badge-primary">
								4 </span>
							</td>
							<td>
								<span class="badge badge-primary badge-roundless">
								Hot </span>
							</td>
						</tr>
						<tr>
							<td>
								 Info
							</td>
							<td>
								<span class="label label-info">
								Info </span>
							</td>
							<td>
								<span class="badge badge-info">
								6 </span>
							</td>
							<td>
								<span class="badge badge-info badge-roundless">
								New </span>
							</td>
						</tr>
						<tr>
							<td>
								 Success
							</td>
							<td>
								<span class="label label-success">
								Success </span>
							</td>
							<td>
								<span class="badge badge-success">
								1 </span>
							</td>
							<td>
								<span class="badge badge-success badge-roundless">
								2 </span>
							</td>
						</tr>
						<tr>
							<td>
								 Danger
							</td>
							<td>
								<span class="label label-danger">
								Danger </span>
							</td>
							<td>
								<span class="badge badge-danger">
								3 </span>
							</td>
							<td>
								<span class="badge badge-danger badge-roundless">
								5 </span>
							</td>
						</tr>
						<tr>
							<td>
								 Warning
							</td>
							<td>
								<span class="label label-warning">
								Warning </span>
							</td>
							<td>
								<span class="badge badge-warning">
								12 </span>
							</td>
							<td>
								<span class="badge badge-warning badge-roundless">
								3 </span>
							</td>
						</tr>
						</tbody>
						</table>
						<h4 class="block">Labels In Headings</h4>
						<div class="well">
							<h1>Example heading <span class="label label-default">
							default </span>
							</h1>
							<h2>Example heading <span class="label label-success">
							success </span>
							</h2>
							<h3>Example heading <span class="label label-danger">
							danger </span>
							</h3>
							<h4 class="block">Example heading <span class="label label-info">
							info </span>
							</h4>
							<h4>Example heading <span class="label label-warning">
							warning </span>
							</h4>
							<h6>Example heading <span class="label label-primary">
							primary </span>
							</h6>
						</div>
						<div class="clearfix">
							<h4 class="block">Badges in Navs</h4>
							<ul class="nav nav-pills">
								<li class="active">
									<a href="#">
									Home <span class="badge1">
									42 </span>
									</a>
								</li>
								<li>
									<a href="#">
									Profile </a>
								</li>
								<li>
									<a href="#">
									Messages <span class="badge badge-danger">
									3 </span>
									</a>
								</li>
							</ul>
							<div class="clearfix margin-bottom-10">
							</div>
							<ul class="nav nav-pills nav-stacked" style="max-width: 260px;">
								<li class="active">
									<a href="#">
									<span class="badge badge-warning pull-right">
									42 </span>
									Home </a>
								</li>
								<li>
									<a href="#">
									Profile </a>
								</li>
								<li>
									<a href="#">
									<span class="badge badge-success pull-right">
									3 </span>
									Messages </a>
								</li>
							</ul>
						</div>
						<div class="clearfix">
							<h4 class="block">Badges in Inline Dropdowns</h4>
							<div class="dropdown inline clearfix">
								<!-- Link or button to toggle dropdown -->
								<ul class="dropdown-menu" role="menu">
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">
										Action <span class="badge badge-success">
										2 </span>
										</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">
										Another action <span class="badge badge-warning">
										5 </span>
										</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">
										Something here <span class="badge badge-danger">
										7 </span>
										</a>
									</li>
									<li role="presentation" class="divider">
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">
										Separated link <span class="badge badge-info">
										12 </span>
										</a>
									</li>
								</ul>
							</div>
							<div class="clearfix">
							</div>
							<h4 class="block">Badges in Button Dropdowns</h4>
							<div class="btn-group ">
								<button class="btn blue dropdown-toggle" data-toggle="dropdown">Open Me!<i class="fa fa-angle-down"></i>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">
										Action <span class="badge badge-success">
										2 </span>
										</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">
										Another action <span class="badge badge-warning">
										5 </span>
										</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">
										Something here <span class="badge badge-danger">
										7 </span>
										</a>
									</li>
									<li role="presentation" class="divider">
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#">
										Separated link <span class="badge badge-info">
										12 </span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- END LABELS AND BADGES PORTLET-->
				<!-- BEGIN PAGINATION PORTLET-->
				<div class="portlet box purple">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Pagination
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div>
							<ul class="pagination pagination-lg">
								<li>
									<a href="#">
									<i class="fa fa-angle-left"></i>
									</a>
								</li>
								<li>
									<a href="#">
									1 </a>
								</li>
								<li>
									<a href="#">
									2 </a>
								</li>
								<li>
									<a href="#">
									3 </a>
								</li>
								<li>
									<a href="#">
									4 </a>
								</li>
								<li>
									<a href="#">
									5 </a>
								</li>
								<li>
									<a href="#">
									6 </a>
								</li>
								<li>
									<a href="#">
									<i class="fa fa-angle-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<div>
							<ul class="pagination">
								<li>
									<a href="#">
									<i class="fa fa-angle-left"></i>
									</a>
								</li>
								<li>
									<a href="#">
									1 </a>
								</li>
								<li>
									<a href="#">
									2 </a>
								</li>
								<li>
									<a href="#">
									3 </a>
								</li>
								<li>
									<a href="#">
									4 </a>
								</li>
								<li>
									<a href="#">
									5 </a>
								</li>
								<li>
									<a href="#">
									6 </a>
								</li>
								<li>
									<a href="#">
									<i class="fa fa-angle-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<div>
							<ul class="pagination pagination-sm">
								<li>
									<a href="#">
									<i class="fa fa-angle-left"></i>
									</a>
								</li>
								<li>
									<a href="#">
									1 </a>
								</li>
								<li>
									<a href="#">
									2 </a>
								</li>
								<li>
									<a href="#">
									3 </a>
								</li>
								<li>
									<a href="#">
									4 </a>
								</li>
								<li>
									<a href="#">
									5 </a>
								</li>
								<li>
									<a href="#">
									6 </a>
								</li>
								<li>
									<a href="#">
									<i class="fa fa-angle-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- END PAGINATION PORTLET-->
				<!-- BEGIN PAGINATION PORTLET-->
				<div class="portlet box yellow">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Pager With Aligned Links
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<h4 class="block">Default</h4>
						<div class="well">
							 Tight pants next level keffiyeh trigger me on click haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown.
						</div>
						<ul class="pager">
							<li class="previous">
								<a href="#">
								&larr; Older </a>
							</li>
							<li class="next">
								<a href="#">
								Newer &rarr; </a>
							</li>
						</ul>
						<h4 class="block">Optional Disabled State</h4>
						<div class="well">
							 Tight pants next level keffiyeh trigger me on click haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown.
						</div>
						<ul class="pager">
							<li class="previous disabled">
								<a href="#">
								&larr; Older </a>
							</li>
							<li class="next">
								<a href="#">
								Newer &rarr; </a>
							</li>
						</ul>
						<h4 class="block">With Styled Buttons & Icons</h4>
						<div class="well">
							 Tight pants next level keffiyeh trigger me on click haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown.
						</div>
						<ul class="pager">
							<li class="previous">
								<a href="#" class="btn blue">
								<i class="fa fa-angle-left"></i> Older </a>
							</li>
							<li class="next">
								<a href="#" class="btn blue">
								Newer <i class="fa fa-angle-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- END PAGINATION PORTLET-->
				<!-- BEGIN PAGINATION PORTLET-->
				<div class="portlet box purple">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Dynamic Pagination(jQuery Bootpag)
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div>
							<h4 class="block">Basic Pagination</h4>
							<p id="dynamic_pager_content1" class="well">
								 Page 1 content here
							</p>
							<p id="dynamic_pager_demo1">
							</p>
						</div>
						<hr>
						<div>
							<h4 class="block">Advance Pagination</h4>
							<p id="dynamic_pager_content2" class="well">
								 Page 1 content here
							</p>
							<p id="dynamic_pager_demo2">
							</p>
						</div>
					</div>
				</div>
				<!-- END PAGINATION PORTLET-->
				<div class="portlet box grey-cascade">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Wells
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="well well-lg">
							<h4 class="block">I am a large well</h4>
							<p>
								 Tight pants next level keffiyeh trigger me on click haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown.
							</p>
						</div>
						<div class="well">
							<h4 class="block">I am a default well</h4>
							<p>
								 Tight pants next level keffiyeh trigger me on click haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown.
							</p>
						</div>
						<div class="well well-sm">
							<h4 class="block">I am a small well</h4>
							<p>
								 Tight pants next level keffiyeh trigger me on click haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown.
							</p>
						</div>
					</div>
				</div>
				<div class="portlet box purple">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Media Objects
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="note note-success">
							<p>
								 Abstract object styles for building various types of components (like blog comments, Tweets, etc) that feature a left or right aligned image alongside textual content.
							</p>
						</div>
						<div class="clearfix">
							<ul class="media-list">
								<li class="media">
									<a class="pull-left" href="#">
									<img class="media-object" src="holder.js/64x64" alt="">
									</a>
									<div class="media-body">
										<h4 class="media-heading">Media heading</h4>
										<p>
											 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
										</p>
										<!-- Nested media object -->
										<div class="media">
											<a class="pull-left" href="#">
											<img class="media-object" src="holder.js/64x64" alt="">
											</a>
											<div class="media-body">
												<h4 class="media-heading">Nested media heading</h4>
												 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. 
												<!-- Nested media object -->
												<div class="media">
													<a class="pull-left" href="#">
													<img class="media-object" src="holder.js/64x64" alt="">
													</a>
													<div class="media-body">
														<h4 class="media-heading">Nested media heading</h4>
														 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
													</div>
												</div>
											</div>
										</div>
										<!-- Nested media object -->
										<div class="media">
											<a class="pull-left" href="#">
											<img class="media-object" src="holder.js/64x64" alt="">
											</a>
											<div class="media-body">
												<h4 class="media-heading">Nested media heading</h4>
												 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
											</div>
										</div>
									</div>
								</li>
								<li class="media">
									<a class="pull-right" href="#">
									<img class="media-object" src="holder.js/64x64" alt="">
									</a>
									<div class="media-body">
										<h4 class="media-heading">Media heading</h4>
										 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portlet box green">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i>Thumbnails
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div class="note note-info">
							<p>
								 Extend Bootstrap's grid system with the thumbnail component to easily display grids of images, videos, text, and more.
							</p>
						</div>
						<h4 class="block">Default</h4>
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<a href="#" class="thumbnail">
								<img src="holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;">
								</a>
							</div>
							<div class="col-sm-6 col-md-3">
								<a href="#" class="thumbnail">
								<img src="holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;">
								</a>
							</div>
							<div class="col-sm-6 col-md-3">
								<a href="#" class="thumbnail">
								<img src="holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;">
								</a>
							</div>
							<div class="col-sm-6 col-md-3">
								<a href="#" class="thumbnail">
								<img src="holder.js/100%x180" alt="100%x180" style="height: 180px; width: 100%; display: block;">
								</a>
							</div>
						</div>
						<h4 class="block">Custom Content</h4>
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<div class="thumbnail">
									<img src="holder.js/100%x200" alt="" style="width: 100%; height: 200px;">
									<div class="caption">
										<h3>Thumbnail label</h3>
										<p>
											 Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
										</p>
										<p>
											<a href="#" class="btn blue">
											Button </a>
											<a href="#" class="btn default">
											Button </a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-6">
								<div class="thumbnail">
									<img src="holder.js/100%x200" alt="" style="width: 100%; height: 200px;">
									<div class="caption">
										<h3>Thumbnail label</h3>
										<p>
											 Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
										</p>
										<p>
											<a href="#" class="btn red">
											Button </a>
											<a href="#" class="btn default">
											Button </a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGINATION PORTLET-->
		</div>
	</div>
	<!-- END PAGE CONTENT-->
</div>
<!-- END CONTENT -->
{% endblock %}