{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<form class="login-form" action="{% url 'account_login' %}" method="post">
    {% csrf_token %}
	<h3 class="form-title">Accede con tu cuenta</h3>

	{% if form.errors %}
    <div class="alert alert-danger display-hide" style="display: block;">
    		<button class="close" data-close="alert"></button>
    		<span>
    		Introduce usuario y contraseña. </span>
    </div>

    {% endif %}
    
    
	<div class="form-group">
		<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
		<label class="control-label visible-ie8 visible-ie9">Nombre de usuario</label>
		<div class="input-icon">
			<i class="fa fa-user"></i>
			<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Nombre de usuario" name="{{form.login.name }}"/>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label visible-ie8 visible-ie9">Contraseña</label>
		<div class="input-icon">
			<i class="fa fa-lock"></i>
			<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Contraseña" name="{{form.password.name}}"/>
		</div>
	</div>
	<div class="form-actions">
		<label class="checkbox">
		<input type="checkbox" name="{{form.remember.name}}" value="1"/> Recuerdame </label>
		<button type="submit" class="btn blue pull-right">
		{% trans "Sign In" %} <i class="m-icon-swapright m-icon-white"></i>
		</button>
	</div>
	
	<div class="forget-password">
		<h4>¿Olvidaste tu contraseña?</h4>
		<p>
			 no te preocupes da click <a href="{% url 'account_reset_password' %}" id="forget-password">
			aqui para </a>
			recuperar tu contraseña
		</p>
	</div>
	<div class="create-account">
		<p>
			 <h4>¿Deseas Afiliarte?&nbsp; <a href="{{ signup_url }}" id="register-btn">  </h4>
			Registra una cuenta de afiliación </a>
		</p>
	</div>
</form>


{% endblock %}
