{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>



    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
    
        {{ form.non_field_errors }}

        <div class="form-group">
			{{ form.oldpassword.errors }}
			<label class="control-label visible-ie8 visible-ie9">Contraseña Actual: </label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="id_oldpassword" placeholder="Contraseña Actual" name="{{form.oldpassword.name}}" />
			</div>
		</div>

		<div class="form-group">
			{{ form.password1.errors }}
			<label class="control-label visible-ie8 visible-ie9">Contraseña Nueva: </label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="id_password1" placeholder="Nueva Contraseña" name="{{form.password1.name}}" />
			</div>
		</div>

		<div class="form-group">
			{{ form.password2.errors }}
			<label class="control-label visible-ie8 visible-ie9">Contraseña Nueva (De Nuevo): </label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="id_oldpassword" placeholder="Contraseña Actual (De Nuevo)" name="{{form.password2.name}}" />
			</div>
		</div>

		<div class="form-actions">
        	<button type="submit" name="action" class="btn blue pull-right">{% trans "Change Password" %} <i class="m-icon-swapright m-icon-white"></i></button>
        	<button type="submit" name="action" class="btn pull-left"><i class="m-icon-swapleft"></i><a href="{{ request.META.HTTP_REFERER }}"> Atrás</a></button>
		</div>	
    </form>
{% endblock %}