{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
	<form class="register-form1" action="{% url 'account_signup' %}" method="post">
		{% csrf_token %}
		<h3>{% trans "Sign Up" %}</h3>
		<p>
		
		<p>
			 Ingresa los detalles de tu cuenta:
		</p>

		{{ form.non_field_errors }}
		<div class="form-group">
			{{form.username.errors}}
			<label class="control-label visible-ie8 visible-ie9">Nombre de usuario: </label>
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Nombre de usuario" name="{{form.username.name}}" value="{{form.username.value|default_if_none:''}}"/>
			</div>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			{{ form.email.errors }}
			<label class="control-label visible-ie8 visible-ie9">Correo electrónico: </label>
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<input class="form-control placeholder-no-fix" type="text" placeholder="Correo electrónico" name="{{form.email.name}}" value="{{form.email.value|default_if_none:''}}"/>
			</div>
		</div>
		<div class="form-group">
			{{ form.password1.errors }}
			<label class="control-label visible-ie8 visible-ie9">Contraseña: </label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Contraseña" name="{{form.password1.name}}" />
			</div>
		</div>
		<div class="form-group">
			{{ form.password2.errors }}
			{{ form.confirmation_key.errors }}
			<label class="control-label visible-ie8 visible-ie9">Contraseña (de nuevo): </label>
			<div class="controls">
				<div class="input-icon">
					<i class="fa fa-check"></i>
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Contraseña (de nuevo)" name="{{form.password2.name}}"/>
					<input id="id_confirmation_key" name="{{form.confirmation_key.name}}" type="hidden">
				</div>
			</div>
		</div>
		

		{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}

		<div class="form-actions">
			<button id="register-back-btn" type="button" class="btn">
			<i class="m-icon-swapleft"></i> <a href="{{ login_url }}">Atrás</a></button>
			<button type="submit" id="register-submit-btn" class="btn blue pull-right">
			Registrar <i class="m-icon-swapright m-icon-white"></i>
			</button>
		</div>
	</form>
	<!-- END REGISTRATION FORM -->



{% endblock %}


